<div class="text-center" style="margin-top:-55px;">
  <h1>
    <a href="/collections/unsweetened/"><img src="{{ 'USPillar_Header_Desktop_Button.jpg' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" id="US_Header_Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/collections/unsweetened/"><img src="{{ 'USPillar_Header_Mobile_Button.jpg' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" id="US_Header_Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
  </h1>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <h2 id="" class="content-small" style="">THE POWER OF TWO</h2>
    <section class="content">
    <p>Elmhurst's unsweetened line is the simplest form of plant milk. Our almond, walnut, cashew, and hazelnut options have two ingredients each: nuts and water. Leaving out the extras allows the ingredients you need to show their full virtue – both of flavor and nutrition – in a variety of uses, from coffee to cereal to cooking.</p>
    


    <img src="{{ 'HowManyAlmonds_Infographic_Horiz.jpg' | file_img_url: 'master' }}" data-src="{{ 'HowManyAlmonds_Infographic_Horiz.gif' | file_img_url: 'master' }}" alt="Us vs Them Desktop" class="small--hide lazyload no-print" style="width:100%;">

    <img src="{{ 'HowManyAlmonds_Infographic_SQ.jpg' | file_img_url: 'master' }}" data-src="{{ 'HowManyAlmonds_Infographic_SQ.gif' | file_img_url: 'master' }}" alt="Us Vs Them Mobile" class="medium-up--hide lazyload no-print" style="width:100%;">

    <p>As you will see below, Elmhurst unsweetened products are virtually the poster child for "less is more." We use more nuts but fewer ingredients, yielding plant milks that stay true to the quality and taste of the source ingredient. We've highlighted our unsweetened almond and cashew varieties. Learn how they compare to the competition, and explore which Elmhurst unsweetened variety is best for you!</p>
    </section>

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_almondsus_front_hr_540x.jpg?v=1556033892" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Almonds™</h3>
              <h4 class="product-single__sub-title social_landing">Unsweetened</h4>
              <!-- <p>Made with just nuts and water, this is as close to drinking whole almonds as you can get.</p>
              <a id="" class="btn" href="/collections/plant-milks/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Read More</a> -->
              <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
  </section>


  <section class="pillar">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>
    <div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;color:black;">Unsweetened Almond Milk</th>
        <th scope="col" style="background-color:#f0f2ef">Elmhurst®</th>
        <th scope="col" style="color:black;">Califia®</th>
        <th scope="col" style="color:black;">Silk®</th>
        <th scope="col" style="color:black;">Blue Diamond®</th>
        <th scope="col" style="color:black;">Pacific®</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of ingredients</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">2</td>
        <td>9</td>
        <td>12</td>
        <td>11</td>
        <td>9</td>
      </tr>
      <tr>
        <th>Added Gums</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Added Vitamins</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Lecithin</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5g</td>
        <td>1g</td>
        <td><1g</td>
        <td>1g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Sodium*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5mg</td>
        <td>160mg</td>
        <td>130mg</td>
        <td>170mg</td>
        <td>180mg</td>
      </tr>
      <tr>
        <th>Paleo Friendly</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">&#10003;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Whole30</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">&#10003;</td>
        <td style="">&#10003;</td>
        <td style="">&#10003;</td>
        <td style="">&#10003;</td>
        <td style=""></td>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">*Per 8 fl oz serving</th>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">Nutrition Data as of Aug 2019</th>
      </tr>
      </tbody>
  </table>
</div>
</section>

  <section class="pillar">
    <h2 id="" class="pillar">What's Inside</h2>
    <div class="grid__item large-up--one-whole" style="padding-left:0;margin-bottom:0px">

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0;">
                <img src="{{ 'almondsPNG.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Almonds</p>
                <p>This forward-pointing nut comes to us from California. It's a great plant-based protein source – and tasty, too!</p>
              </div>
            </div>
          </div>

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">
            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0">
                <img src="{{ 'FilterdWater.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Filtered Water</p>
                <p>What more need to be said about the foundation of life? One thing is for sure: it will never go out of style.<!--<a href="#ingredients_footnote2"><sup>2</sup></a>--></p>
              </div>
            </div>

          </div>
    </div>
  </section>

  <section class="content">
    <p>Made with just almonds and water, our unsweetened almond milk achieves up to 4x more nuts compared to other brands. This translates to 5g of protein per glass. The absence of added sugar and flavors showcases the authentic taste of the source, making Unsweetened Milked Almonds an especially good ingredient for smoothies and more. Like all Elmhurst products, it is non-GMO, gluten-free, carrageenan-free, and has no artificial flavors.</p>

    <div style="text-align:center">
    <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>
  </section>

  <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_cashewus_front_hr_540x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Cashews™</h3>
              <h4 class="product-single__sub-title social_landing">Unsweetened</h4>
              <!-- <p>Made with just nuts and water, this is as close to drinking whole almonds as you can get.</p>
              <a id="" class="btn" href="/collections/plant-milks/products/unsweetened-milked-cashews" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Read More</a> -->
              <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-cashews" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
  </section>


<section class="pillar">
<h2 id="" class="pillar">HOW WE COMPARE</h2>
<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;color:black;">Unsweetened Cashew Milk</th>
        <th scope="col" style="background-color:#f0f2ef">Elmhurst®</th>
        <th scope="col" style="color:black;">Pacific®</th>
        <th scope="col" style="color:black;">Silk®</th>
        <th scope="col" style="color:black;">So Delicious®</th>
        <th scope="col" style="color:black;">Forager®</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of ingredients</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">2</td>
        <td>9</td>
        <td>13</td>
        <td>15</td>
        <td>6</td>
      </tr>
      <tr>
        <th>Added Gums</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Added Vitamins</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Added Oils</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Sunflower Oil</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Lecithin</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">4g</td>
        <td>1g</td>
        <td><1g</td>
        <td>1g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Paleo Friendly</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">&#10003;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Whole30</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">&#10003;</td>
        <td style=""></td>
        <td style=""></td>
        <td style=""></td>
        <td style=""></td>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">*Per 8 fl oz serving</th>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">Nutrition Data as of Aug 2019</th>
      </tr>
      </tbody>
  </table>
</div>
</section>

  <section class="pillar">
<h2 id="" class="pillar">What's Inside</h2>
    <div class="grid__item large-up--one-whole" style="padding-left:0;margin-bottom:0px">

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0;">
                <img src="{{ 'CashewsPNG.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Cashews</p>
                <p>This distinct tropical nut comes straight from Brazil: land of samba, soccer, and sunshine.</p>
              </div>
            </div>
          </div>

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">
            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0">
                <img src="{{ 'FilterdWater.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Filtered Water</p>
                <p>What more need to be said about the foundation of life? One thing is for sure: it will never go out of style.<!--<a href="#ingredients_footnote2"><sup>2</sup></a>--></p>
              </div>
            </div>

          </div>
    </div>
  </section>

    <section class="content" style="margin-bottom:55px">
    <p>Two ingredients, many possibilities. This is the story of Elmhurst's unsweetened cashew milk. Being made from the real thing – with no added sugar, flavors, gums, or anything else – this plant-based solution provides enviable versatility. Drink away, enliven your hot coffee, or try it in cooking. Like all Elmhurst products, Unsweetened Milked Cashews is non-GMO, gluten-free, carrageenan-free, and has no artificial flavors. </p>

    <div style="text-align:center">
    <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-cashews" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>

  </section>


 <section class="pillar">
    <h2 id="" class="pillar">WHICH UNSWEETENED PLANT MILK IS FOR YOU?</h2>
    <div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px;text-align:left;">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;width:200px;"></th>
        <th scope="col">Unsweetened<br/>Almond</th>
        <th scope="col">Unsweetened<br/>Cashew</th>
        <th scope="col">Unsweetened<br/>Oat</th>
        <th scope="col">Unsweetened<br/>Walnut</th>
        <th scope="col">Unsweetened<br/>Hazelnut</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Key Benefit</th>
        <td>4x More Almonds & Protein</td>
        <td>Barista Approved</td>
        <td>20g Whole Grain</td>
        <td>Excellent Source Omega-3</td>
        <td>2x More Hazelnuts</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td>5g</td>
        <td>4g</td>
        <td>4g</td>
        <td>3g</td>
        <td>2g</td>
      </tr>
      <tr>
        <th>Calories*</th>
        <td>130</td>
        <td>130</td>
        <td>80</td>
        <td>120</td>
        <td>90</td>
      </tr>
      <tr>
        <th>Total Fat*</th>
        <td>11g</td>
        <td>10g</td>
        <td>1.5g</td>
        <td>11g</td>
        <td>9g</td>
      </tr>
      <tr>
        <th>Carbs*</th>
        <td>3g</td>
        <td>7g</td>
        <td>14g</td>
        <td>1g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Sugar*</th>
        <td>1g</td>
        <td>1g</td>
        <td>1g</td>
        <td>0g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Added Sugar*</th>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
      </tr>
      <tr>
        <th>Sodium*</th>
        <td>5mg</td>
        <td>10mg</td>
        <td>120mg</td>
        <td>5mg</td>
        <td>5mg</td>
      </tr>
      <tr>
        <th>Keto-Friendly</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td></td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Paleo Friendly</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td></td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Gluten-Free</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Whole30</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td></td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Dairy Replacement</th>
        <td>Whole Milk</td>
        <td>Whole Milk</td>
        <td>2% Milk</td>
        <td>2% Milk</td>
        <td>2% Milk</td>
      </tr>
      <tr>
        <th>Ingredients</th>
        <td>Filtered Water, Almonds</td>
        <td>Filtered Water, Cashews</td>
        <td>Filtered Water, Whole Grain Oats, Salt</td>
        <td>Filtered Water, Walnuts</td>
        <td>Filtered Water, Hazelnuts</td>
      </tr>
      <tr>
        <th>Best Used In</th>
        <td>Smoothies, Cereal, Soups &amp; Sauces</td>
        <td>Soups &amp; Sauces, Baking, Lattes, Hot & Iced Coffee</td>
        <td>Smoothies, Cereal, Overnight Oats</td>
        <td>Smoothies, Cereal, Iced Coffee</td>
        <td>Smoothies, Cereal, Iced Coffee</td>
      </tr>
      <tr>
        <th class="no-bottom-border"></th>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-cashews" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-oats" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-walnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-hazelnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
      </tr>




{% comment %}
      <tr>
        <th>Best Used In</th>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
      </tr>
{% endcomment %}

      </tbody>
  </table>
</div>
</section>


  <h2 id="" class="content-small" style="">UNSWEETENED VS ORIGINAL</h2>
  <section class="content">
  <p>Elmhurst original and unsweetened nut and grain milks are built upon the same simpler, better platform: more source nutrition (up to 4x the nuts) with a clean label, free of needless additives like gums and oils. The unsweetened line is just a little simpler, bringing 5-6 ingredients down to 2-3. Added sugars, natural flavors, and (with the exception of oat) salt are left out to give you the most basic product possible. Like the original varieties, Elmhurst's unsweetened milks have a variety of functions not limited to drinking.</p>
 


  <h2 id="" class="content-small" style="">WHY DRINK UNSWEETENED</h2>
  <p>Sugar, like anything, is a moderation exercise. What is “moderation”? There is no exact rule. It depends on your diet and personal goals. However, reasons for switching from sweetened to unsweetened plant milk follow the pattern of research. Substantially reducing added sugar intake – especially of added and refined types – may help with cardiovascular health and to manage weight gain, for example.1,2</p>

  <p>If you still prefer our standard varieties, that’s fine, too! No original Elmhurst grain or nut milk contains more than 6g added sugar per serving.</p>

  <ul style="list-style-type: disc;margin-bottom:15px;">
    <li>-Original Milked Cashews – 1g added sugar (2% DV)</li>
    <li>-Original Milked Oats – 1g added sugar (2% DV)</li>
  </ul>

  <p>It's more than just nutritional data, however. For non-drinking applications – like coffee, cereal, smoothies, cooking, and baking – our unsweetened varieties offer both flexibility to control sugar levels and neutrality that cooperates with other flavors.</p>

   </section>


<div class="page-width-blog-news-bottom">
      {% paginate blogs.news.articles by 4 %}
      {% assign article_counter = 0 %}
        {% for articleData in blogs.news.articles %}
          {% if article_counter < 3 %}
            {% if articleData.handle != article.handle %}
              <div class="blog-bottom-section">
                <img src="{{ articleData.image.src | img_url: '600x' }}" alt="{{ articleData.image.alt }}" class="blog-bottom-image lazyload" />
                <div class="blog-bottom-product-text">
                  <div>
                  <a href="{{articleData.url}}" title="{{articleData.title}}" style="text-decoration:none;"><h3 class="blog-bottom">{{articleData.title}}</h3></a>
                  </div>
                  {% comment %}
                  {% if articleData.excerpt %}
                    <p class="blog-sidebar">{{articleData.excerpt}}</p>
                  {% endif %}
                  {% endcomment %}
                  <div>
                  <a href="{{articleData.url}}" alt="" class="btn btn--secondary btn--small text-center blog-bottom-button" aria-label="">Read More</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% continue %}
            {% endif %}
            {% assign article_counter = article_counter | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}

      </div>



  </div>
</div>