<div class="section-header text-center" style="margin-top:-55px;">
  <h1>
    <img src="{{ 'MissionTransition_Header_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="small--hide lazyload" style="width:100%;">
    <img src="{{ 'MissionTransition_Header_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="medium-up--hide lazyload" style="width:100%;">
  </h1>
</div>

<div class="page-width page-content">
  <div class="grid">
    <div class="grid__item">
      <div class="">
        <p class="pillar__header-text">By simply changing our diet, we can make a substantial and lasting impact upon our Earth. Swapping half of your meat and dairy consumption for plant-based alternatives can help manage <a href="#climatechange">climate change</a>, conserve <a href="#landandwater">land and water</a> resources, and protect <a href="#animals">animals and ecosystems</a>. We are calling on each of you to take the 50% challenge and help spread the word!</p>

        <div style="margin:0 auto;text-align:center;">
          <img src="{{ 'FiftyPercentChallenge_MT_Desktop.gif' | file_img_url: 'master' }}" alt="50 Percent Challenge Desktop" class="small--hide lazyload">
          <img src="{{ 'FiftyPercentChallenge_MT_Mobile.gif' | file_img_url: 'master' }}" alt="50 Percent Challenge Mobile" class="medium-up--hide lazyload">

        </div>


        <section class="pillar">
          <h2 class="content-small">Our Inspiration: The Dairy That Gave Up Dairy</h2>
          <p>Mission Transition began with a shattering move; one that upended the animal-plant balance and continues to reverberate through the food industry. Henry Schwartz, a lifelong dairyman from a family of dairymen, shut down New York City’s last dairy – Elmhurst – in 2016. It had been operating for over 90 years. The next year, he reopened Elmhurst in Buffalo as a plant milk company. Henry’s courageous switch is the inspiration and living symbol for Mission Transition.</p>
        </section>

        <section class="pillar">
          <p class="hvw_quote missiontransition quincyfont">“The most ethical diet just so happens to be the most environmentally sound diet and just so happens to be the healthiest”</p>
          <p class="hvw_quote_author missiontransition">-Dr. Michael Greger, <br/>Author of New York Times Best Seller, How Not to Die</p>
        </section>

        <section class="pillar">
          <h2 class="content-small">Shifting from Meat & Dairy to Plant-Based Alternatives May Just Save the Earth</h2>
          <p>Mission Transition is a call to collectively shift our animal product habit toward plant-based foods and beverages. One can get a similar portfolio of nutrients from dairy and meat alternatives with a fraction of the environmental impact; all in a time when time might not be on our side. Action is urgent.</p>
        </section>

        <section class="pillar">
          <div class="" style="display:inline-block;margin-bottom:30px;">
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:60px;text-align:center">

              <img src="{{ 'MissionTransition_Meat_Dairy_Icon_0aa93f1e-dc51-4ed8-9f4d-591cb77cc426.png' | file_img_url: 'master' }}" alt="Meat and Dairy" class="lazyload" style="max-width:250px;">

              <h3 class="basic" style="color:#2f4c2c;font-weight:600;text-transform: uppercase;">The Problem with Meat and Dairy</h3>
              <p style="text-align:left;">Meat and dairy were fixtures in the now-defunct food pyramid. We didn’t know then what we do now. Perhaps we didn’t care to know. Dairy consumption has in fact been declining since the 1970s. This isn’t a bad thing – except for the dairy industry, but there may be some justice in that dairy, taken to excess, is not particularly great for the planet. Meat tells an even more alarming story with implications for climate change, water and land resources, and animal welfare and biodiversity.</p>
            </div>

            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">

              <img src="{{ 'MissionTransition_Plant-Based_Icon_c43f5baf-ffdc-4a5f-b39b-cc017247c0e3.png' | file_img_url: 'master' }}" alt="Meat and Dairy" class="lazyload" style="max-width:250px;">

              <h3 class="basic" style="color:#2f4c2c;font-weight:600;text-transform: uppercase;">The Benefits of Plant-Based</h3>
              <p style="text-align:left;">Consumption of plant-based foods, like dairy and meat alternatives, is still relatively low. Otherwise there would be no Mission Transition…we’d already be there! Encouragingly, we have seen progress. Beyond humble statistical reflections, there is clear momentum from cultural centers like Brooklyn to the diversifying menus of fast food chains. Why? Simply, people are finding in plant-based foods a nutritional solution that works with, rather than against, the Earth.</p>
            </div>
          </div>
        </section>

          <section class="pillar">
          <h2 class="content-small">Take the 50% Challenge: Just Half Makes a Big Difference!</h2>
          <p>We are encouraging everyone to swap half of their meat and dairy consumption for plant-based alternatives. This simple personal change, multiplied by many, will mark massive progress for our world.</p>

          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080"><defs><style>.cls-1{fill:#008858;}.cls-2{fill:#f0f2ef;}.cls-3{fill:#fff;}.cls-4{fill:#068757;}</style></defs><title>FiftyPercent_Logo_FullColor</title><path class="cls-1" d="M588.8,278.12l15.41,11,14.39-20.19,11.07,7.89L615.28,297l24.45,17.42-10.1,14.17-62-44.19,10.11-14.17,15-21.08L603.82,257Z"/><path class="cls-1" d="M623.17,215.2,678.94,267l-11.85,12.75L611.32,228Z"/><path class="cls-1" d="M668.79,191.36l12.08,14.57L700,190.1l8.68,10.46L689.55,216.4l19.17,23.1-13.39,11.12L646.71,192l13.4-11.11L680,164.37l8.68,10.46Z"/><path class="cls-1" d="M750.8,135.8l-15.51,9.25,32,53.73-14.95,8.91-32-53.73-15.41,9.18-7-11.68,30.37-18.09,15.51-9.25Z"/><path class="cls-1" d="M818.53,143.74l10.31,26.92-16.26,6.22-10.35-27L762.8,114.42l18.08-6.93L804.67,131l.79-32.91,17.27-6.62Z"/><path class="cls-1" d="M943.62,96.36c1.76,17.64-9.88,25.91-23.63,27.28l-7,.7,2.63,26.41-17.32,1.73-7.55-75.77L908,75l7-.7C928.82,72.91,941.86,78.72,943.62,96.36Zm-17.1,1.7c-.74-7.36-5.12-10.75-12.91-10l-4.23.42,2.22,22.19,4.22-.42C923.61,109.5,927.25,105.42,926.52,98.06Z"/><path class="cls-1" d="M1011,137l-.87,13.67-44.73-2.84-1.08-.07,4.84-76,17.37,1.11,27.35,1.74L1013,88.2l-27.36-1.74-1,16.28,24.09,1.53-.87,13.68-24.1-1.53-1.19,18.78Z"/><path class="cls-1" d="M1081.89,166.3l-18.51-4.43-2.78-21.58c-.81-6.9-3.39-8.75-7.83-9.81l-2.44-.58-6.52,27.29-16.93-4,17.7-74.05,16.93,4,8.57,2c12.06,2.88,22.84,12.51,19,28.59-2.23,9.3-8.25,13.91-15.27,15.69,2.29,2.56,3.65,6.24,4.37,11.67Zm-23.42-48.43c7.08,1.69,12.15-.79,13.74-7.45s-1.8-11.17-8.78-12.84l-5.08-1.21-4.86,20.31Z"/><path class="cls-1" d="M1139.37,162.8l15.64,6.86c-8.9,16.76-23.7,18.82-36.25,13.32-17.14-7.52-23.53-25.17-13.26-48.58s27.59-30.66,44.72-23.14c12.55,5.5,21.06,17.79,14.75,35.69l-15.64-6.86c2.51-9.24,1-13.93-4.57-16.38-6.88-3-14.9,1.19-22.32,18.12s-5,25.58,1.82,28.6C1129.84,172.87,1134.27,170.9,1139.37,162.8Z"/><path class="cls-1" d="M1205,216l-7.6,11.41-37.31-24.82-.9-.6,42.18-63.4,14.49,9.64,22.82,15.19-7.53,11.32-22.83-15.19-9,13.59,20.1,13.38-7.59,11.41-20.11-13.38-10.42,15.67Z"/><path class="cls-1" d="M1306.75,224.45l-52.86,54.8-9.47-9.13,7.6-51.76L1222.49,249,1210,236.89l52.86-54.81,9.39,9.07-7,51.28,29-30.06Z"/><path class="cls-1" d="M1344.35,296.33l-10.56-14.65-50.73,36.58-10.18-14.11,50.74-36.58L1313.12,253l11-7.95,20.67,28.67,10.56,14.65Z"/><path class="cls-1" d="M548.56,450.61c-17-4.91-20.39-18.78-16.57-32.06l2-6.79-25.5-7.35,4.82-16.72,73.16,21.08-4.82,16.72-2,6.8C575.83,445.56,565.6,455.52,548.56,450.61Zm4.76-16.51c7.11,2,11.88-.77,14-8.29l1.18-4.08-21.43-6.18L546,419.63C543.78,427.16,546.22,432.05,553.32,434.1Z"/><path class="cls-1" d="M502.36,515.87l-13.63-1.43,4.54-43.28,75.73,8-1.82,17.31-62.1-6.53Z"/><path class="cls-1" d="M508.66,585.41l-1.59-20.17-18.13-2.94-1.4-17.9,77.61,15.72,1.67,21.15-74.08,29.28-1.49-18.86ZM522,580.64l24.73-8.81L521,567.63Z"/><path class="cls-1" d="M590.21,683l-72.93,21.89-3.79-12.61,32-41.4-40.74,12.23-5-16.67,72.93-21.89,3.75,12.5L545.2,678.36l40-12Z"/><path class="cls-1" d="M611.58,755.58l-8.49-15.93L547.9,769.06l-8.19-15.35,55.2-29.42-8.45-15.84,12-6.4,16.63,31.2,8.49,15.93Z"/><path class="cls-1" d="M587.58,788.18l10-7.26,19.63,27.15-10,7.26Z"/><path class="cls-1" d="M668.37,883.92c-9.62,9.92-23.9,6.67-33-2.2l-21.86-21.21-.78-.76,53-54.63,12.48,12.12,7.81,7.58c9.13,8.86,12.48,22.27,3.09,31.95-5.08,5.23-11.6,6.17-17.93,4.73C674.68,868.68,675.34,876.75,668.37,883.92Zm-12.43-13.58c4.39-4.53,3.86-9.29-1.76-14.74L647.39,849l-12.65,13,7.1,6.9C647.15,874.09,651.62,874.79,655.94,870.34ZM668.75,827l-11.89,12.25,5.78,5.61c4.83,4.69,9.21,4.4,12.7.81,3.86-4,3.79-8.6-1.36-13.6Z"/><path class="cls-1" d="M724.16,927.53l-17-10.89-13.27,12.7-15.13-9.66L738,867.21l17.88,11.42-21.28,76.76-16-10.19ZM728.42,914l7.87-25-18.87,18Z"/><path class="cls-1" d="M820.25,968.16c-5.1,13-16.81,18-33.11,11.62-15.78-6.22-20.57-17.22-16.42-32.19l15.58,6.14c-1.83,7.93,1.11,11.43,5.67,13.22,5.16,2,9,.52,10.58-3.43,5.15-13-28-19.68-18.17-44.68,5.31-13.46,17.2-17.54,31.67-11.84s19,16.24,15.15,30.4l-15.59-6.14c1.81-6.65.25-10.42-4.1-12.14-4.55-1.79-8.34.11-9.89,4C796.31,936.63,830.14,943.06,820.25,968.16Z"/><path class="cls-1" d="M897.38,994.05l-2.59,13.46-44-8.47-1.07-.21,14.4-74.76,17.09,3.29,26.92,5.18-2.57,13.35-26.92-5.18-3.08,16,23.71,4.57-2.59,13.45L873,970.19l-3.55,18.48Z"/><path class="cls-1" d="M992.37,972.75c.39,23.92-12.76,38.28-31.79,38.59l-25.67.42-1.09,0-1.24-76.14,17.41-.28,9.35-.15C978.38,934.9,992,948.82,992.37,972.75Zm-18.49.3c-.27-16.86-6.61-25-15.42-24.88l-8.26.13.82,50.25,8.26-.13C968.09,998.27,974.16,989.8,973.88,973.05Z"/><path class="cls-1" d="M1106.64,961.17l16.28-5.14c4.35,18.47-5.42,29.77-18.5,33.9-17.84,5.63-34.27-3.44-42-27.82s.56-41.23,18.4-46.87c13.07-4.12,27.56-.49,34.61,17.14l-16.29,5.14c-4.19-8.6-8.42-11.14-14.23-9.31-7.16,2.26-10.42,10.7-4.86,28.34s13.06,22.57,20.22,20.31C1106.11,975,1108.14,970.62,1106.64,961.17Z"/><path class="cls-1" d="M1181,869.08l37.59,66.21-15.13,8.59-16.06-28.28L1165.51,928l16.06,28.28-15.14,8.59-37.59-66.21,15.13-8.59,14.77,26,21.85-12.41-14.77-26Z"/><path class="cls-1" d="M1268.29,872.72l-15.11,13.45,8.6,16.22-13.41,11.93L1214,843l15.85-14.09L1298,870.22l-14.14,12.58Zm-11.87-7.78-22-14.39,12.21,23.06Z"/><path class="cls-1" d="M1336.81,800.89l10.83,8.4L1321,843.68,1260.81,797l10.66-13.75,49.34,38.25Z"/><path class="cls-1" d="M1374.78,735.1l12.07,6.49-20.61,38.32-67.06-36.08,8.25-15.33,55,29.59Z"/><path class="cls-1" d="M1402.19,660.85l13,4.32-14.13,42.53-.35,1-72.26-24,5.49-16.51,8.65-26,12.9,4.29-8.64,26,15.48,5.15,7.62-22.92,13,4.32L1375.35,682l17.86,5.93Z"/><path class="cls-1" d="M1356,558.06l75.58,9.21L1430,580.34,1384,605.42l42.22,5.15-2.11,17.28-75.58-9.22,1.58-13,45.16-25.28-41.46-5.06Z"/><path class="cls-1" d="M1387.74,471.59l39-3.57,1,11.27-5.92,2.18c5.24,3.56,8.05,9.09,8.68,16,1.55,16.9-10.83,30.81-36.29,33.15s-40.17-9.32-41.88-28c-1.25-13.64,5.39-27,24.12-30.06l1.55,16.9c-9.3,2.27-12.68,6-12.13,11.92.67,7.37,8.24,12.47,26.66,10.78s24.77-8.6,24.06-16.29c-.6-6.61-6.25-11-15.68-10.26l-.76.07L1401,495l-11,1Z"/><path class="cls-1" d="M1392.06,386.78l13.15-3.86,12.65,43,.31,1-73.05,21.49-4.91-16.69-7.74-26.3,13-3.84,7.74,26.3,15.65-4.61-6.81-23.16,13.15-3.87,6.81,23.17,18-5.31Z"/><circle class="cls-2" cx="960" cy="544.89" r="341.92"/><path class="cls-3" d="M1067.67,570.63h0c33.38-37.77,93.21-46.32,127.82-15.28C1162.12,593.11,1102.26,601.67,1067.67,570.63Z"/><path class="cls-3" d="M1065.26,569.62h0c-56.61-36.24-75.89-119.66-37-179.17C1084.84,426.67,1104.13,510.14,1065.26,569.62Z"/><path class="cls-3" d="M1089.48,663.34h0c12.89-28.35,45.64-44.74,70.46-33.26C1147.07,658.43,1114.3,674.82,1089.48,663.34Z"/><path class="cls-3" d="M1087.71,664.87h0c36.37,23.93,51,74,28.68,107.41C1080,748.37,1065.4,698.24,1087.71,664.87Z"/><path class="cls-3" d="M958.33,440.55H794.46l17.83,314.73c.21,3.73,3,6.64,6.36,6.64h26.78A6.59,6.59,0,0,0,851.7,756l15.59-100.4h91Z"/><polygon class="cls-3" points="838.77 498.09 848.67 393.32 740.07 393.32 749.97 498.09 838.77 498.09"/><path class="cls-4" d="M1280.68,409.42A349.09,349.09,0,1,0,1308,544.89,346.83,346.83,0,0,0,1280.68,409.42Zm-326.8,471.2a335.78,335.78,0,0,1,0-671.45V434.43h-103l1.16-12.27a28.19,28.19,0,0,0,17.54,6.12h4.29A28.3,28.3,0,0,0,902.19,400v-6.69a6.15,6.15,0,0,0-6.15-6.15H847.52q-.33,0-.63,0h-9.43V376.29a6.12,6.12,0,0,0-12.24,0V387.2H760.05V375a6.12,6.12,0,0,0-12.24,0V387.2h-6.09l-.63,0H692.56a6.15,6.15,0,0,0-6.15,6.15V400a28.31,28.31,0,0,0,28.27,28.27H719a28.12,28.12,0,0,0,17.67-6.22l7.18,76c0,.2,0,.41,0,.61l2,21.66c1.39,14.72,12.57,25.82,26,25.82h22.41l11.87,209.48c.39,7,5.87,12.41,12.47,12.41h26.78A12.66,12.66,0,0,0,857.75,757l4.33-27.89a4.45,4.45,0,0,0,3.85,2.46h19.23a4.81,4.81,0,0,0,4.51-4.39l9.75-65.4h54.46ZM841.57,403.39l-8.37,88.55H755.54l-8.43-89.19c.08-.9.13-1.81.13-2.74v-.57h94.13V400A28.94,28.94,0,0,0,841.57,403.39Zm25.72,246.13a6.13,6.13,0,0,0-6,5.18L845.66,755.1a1.16,1.16,0,0,1-.33.7H818.74a1.26,1.26,0,0,1-.34-.86L806.57,546.15h10.27c13.43,0,24.61-11.1,26-25.82l2-21.66c0-.2,0-.41,0-.61l4.85-51.39h77.41c2.41,14.31,12.68,27.37,26.7,33.59V557c-4.74-2.58-9.51-5.09-13.82-8.72-10.53-8.86-13.44-28.7-25.88-34.42-4.33-2-8.93-1.39-13.29-.62-14,2.5-29.69,8.46-33,27.47a57.54,57.54,0,0,0,.69,20.48c6.22,32.07,36.07,39.87,57.08,41.88a214.54,214.54,0,0,0,28.19.83v45.59Zm330.16,132.82a333.49,333.49,0,0,1-231.33,98.28V661.06h.33c4.39-.07,10.23-.49,17-1,25.49-1.82,69.25-5,95.52,7.54-7.66,14.67-9.89,32.21-6.25,50.17A94.21,94.21,0,0,0,1113,777.4l5.08,3.33,3.37-5.05c10.54-15.77,14.06-35.77,9.9-56.31a94.21,94.21,0,0,0-24.27-46.23,56.68,56.68,0,0,0,19.23-3.64c16.89-6.27,31.53-20.06,39.17-36.89l2.52-5.53-5.52-2.55c-11.79-5.46-25.79-5.67-39.43-.61-15.4,5.72-28.93,17.72-37,32.56l-.1-.06-.5.75c-24.83-12.45-61.25-11.93-89.35-10.21,24.46-13.52,49.41-35.64,74.58-66.14,13.82,9.68,30.87,14.86,49.28,14.86,1.92,0,3.86-.06,5.81-.17a108.13,108.13,0,0,0,74.26-36.11l4-4.55-4.52-4.06c-16.16-14.49-38.26-21.71-62.22-20.32a107.09,107.09,0,0,0-35.31,8.24,689.94,689.94,0,0,0,37.13-62,35.44,35.44,0,0,0,44.31-13.5l3.85-6.12-6.12-3.85a35.4,35.4,0,0,0-33.08-2.44,36.09,36.09,0,0,0-.86-6.5,35.2,35.2,0,0,0-15.66-22.11l-6.11-3.85-3.86,6.12a35.45,35.45,0,0,0,7,45.81l-.12.19.06,0a678.63,678.63,0,0,1-43,70.38,138.32,138.32,0,0,0,3-70.93c-7.63-35.53-28.41-66.4-57-84.69l-5.11-3.27-3.31,5.08c-19.53,29.9-26,66.46-18.15,103,7.5,34.92,27.7,65.34,55.55,83.76-12.67,15.25-26.54,29.84-41.25,42.13a47.79,47.79,0,0,0,4.54-17.74c.67-11.76-3-22.67-10.22-30.72l-4.06-4.5-4.54,4a47.48,47.48,0,0,0-15.77,32.76c-.67,11.76,3,22.67,10.23,30.72l.1.12a132,132,0,0,1-33.42,15.94V209.17a335.79,335.79,0,0,1,231.33,573.17Zm-78.07-60.54c3,15,1.3,29.51-4.86,41.6a83.21,83.21,0,0,1-29.8-48c-3-14.78-1.34-29.12,4.62-41.11a33.87,33.87,0,0,1,3.06,2.92l.59-.55A83.28,83.28,0,0,1,1119.38,721.8Zm-21.18-61.88a58.67,58.67,0,0,1,29.14-24.53,41.2,41.2,0,0,1,23.89-1.89A58.7,58.7,0,0,1,1122.08,658,41.17,41.17,0,0,1,1098.2,659.92Zm-58.7-183.09,7.64,37.69-26.31-12.82a129.25,129.25,0,0,1-3.9-14.2,132.8,132.8,0,0,1-2.89-23.07Zm-25.22-25.9a120.52,120.52,0,0,1,11.23-43.11l10.93,53.9Zm35.92,78.69,5,24.75A119.78,119.78,0,0,1,1028,518.8Zm3.54-44.11L1037.42,405c17.13,14.85,30,35.24,36.78,58.33Zm23.81-7.8a125.74,125.74,0,0,1-10.08,75.53l-10.72-52.92Zm7.16,85.33a97.37,97.37,0,0,1,53.35-20.36c18.33-1.06,35.27,3.62,48.44,13.25a97.32,97.32,0,0,1-61.4,27.36c-17.53,1-33.79-3.23-46.7-12Q1081.57,567.24,1084.71,563Z"/><circle class="cls-4" cx="1161.45" cy="430.29" r="7.57"/><circle class="cls-4" cx="1144.17" cy="686.09" r="7.57"/><ellipse class="cls-3" cx="772.76" cy="518.7" rx="9.67" ry="10.96"/><ellipse class="cls-3" cx="815.1" cy="518.7" rx="9.67" ry="10.96"/><circle class="cls-1" cx="568.68" cy="349.71" r="10.78"/><circle class="cls-1" cx="1346.46" cy="349.85" r="10.78"/></svg>


          <p>Total change by a few of us will not get us to 50%. Rather, we are calling on everyone to take reasonable steps away from dairy and meat. Our goal is only attainable if we band together as a movement, then a society, and eventually an entire world. Each of us can be an Advocate for change, helping multiply the message exponentially.</p>

          </section>


          <section class="pillar">
          <h2 class="content-small">Sustainability Starts in Your Shopping Cart</h2>
          <p>Our Earth’s situation is delicate, even fragile. Humanity’s efforts to sustain a population of seven billion (and growing) have been reckless. Initially, this was unwitting. Few anticipated the risks of rogue carbon emissions until science proved a scary trend. Now that we have a sobering understanding of climate change, among other environmental risks, what are we doing about it? We seem to have little control over how companies and governments respond. But we do decide what to buy and what not to buy. Food may in fact be the front line of change.</p>
          </section>


          <section class="pillar">
          <h2 id="climatechange" class="content-small">Climate Change</h2>

          <div style="margin:0 auto 15px;text-align:center;">
            <img src="{{ 'MissionTransition_Infographic_ClimateChange_Desktop.jpg' | file_img_url: 'master' }}" alt="Climate Change Desktop" class="small--hide lazyload">
            <img src="{{ 'MissionTransition_Infographic_ClimateChange_Mobile.jpg' | file_img_url: 'master' }}" alt="Climate Change Mobile" class="medium-up--hide lazyload">

            <p style="margin-bottom:50px;font-size:16px;font-style: italic;">Based on average American <a href="https://www.npr.org/sections/thesalt/2017/05/16/528460207/why-are-americans-drinking-less-cows-milk-its-appeal-has-curdled">dairy</a> and <a href="https://www.usatoday.com/story/money/2017/07/03/americans-eat-more-beef-and-meat-trend-thats-expected-continue/435331001/">beef</a> consumption habits. <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/jiec.12174">Lima beans were used as a representative beef alternative</a> and <a href="https://medium.com/@tabitha.whiting/what-milk-should-you-buy-to-reduce-your-environmental-impact-e0489153e3b8">almond milk as a dairy milk alternative</a>. “1 million cars” obtained using <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator">EPA greenhouse gas equivalencies calculator</a>.</p>

          </div>

          <h2 class="content-small">Livestock Produce Emissions, Plants Reduce Them</h2>
          <p>Global warming is happening, and it is humans’ fault. Luckily, the very worst impacts – including rising sea levels, mass extinctions, extreme weather, and droughts – remain manageable if we act quickly. It begins with how we eat. In total, animal agriculture – led by over a billion cows – accounts for 15% of all human-caused greenhouse gas emissions. <a href="#references" class="blog_footnote"><sup>1</sup></a> Cows are a major source of methane, a particularly potent greenhouse gas that is 25x more effective than carbon dioxide in trapping heat. Their manure releases both methane and nitrous oxide, which is 298x more potent. <a href="#references" class="blog_footnote"><sup>2</sup></a> The best way to lighten this footprint is to lessen our collective demand for meat and dairy.</p>

          <div style="text-align:center">
          <a class="btn" href="/blogs/news/cows-heavy-footprint-how-shifting-to-plant-based-alternatives-can-help-reduce-emissions" title="Learn more about emissions" style="color:white;text-decoration: none;font-weight:700;font-size:18px;padding-left:50px;padding-right:50px;text-align: center;margin-bottom:50px;">Learn More</a>
          </div>


          </section>



          <section class="pillar">
          <h2 id="landandwater" class="content-small">Water and Land</h2>

          <div style="margin:0 auto 15px;text-align:center;">
            <img src="{{ 'MissionTransition_Infographic_Water_Desktop.jpg' | file_img_url: 'master' }}" alt="Water and Land Desktop" class="small--hide lazyload">
            <img src="{{ 'MissionTransition_Infographic_Water_Mobile.jpg' | file_img_url: 'master' }}" alt="Water and Land Mobile" class="medium-up--hide lazyload">

            <p style="margin-bottom:50px;font-size:16px;font-style: italic;">Based on average American <a href="https://www.npr.org/sections/thesalt/2017/05/16/528460207/why-are-americans-drinking-less-cows-milk-its-appeal-has-curdled">dairy</a> and <a href="https://www.usatoday.com/story/money/2017/07/03/americans-eat-more-beef-and-meat-trend-thats-expected-continue/435331001/">beef</a> consumption habits. <a href="https://www.ecoflow.co/pdf/Nationall_Geographic_Hidden_Water.pdf">Beans were used as a representative beef alternative</a> and <a href="https://medium.com/@tabitha.whiting/what-milk-should-you-buy-to-reduce-your-environmental-impact-e0489153e3b8">oat milk as a dairy milk alternative</a>. “300,000” based on Olympic-size pool volume of 660,000 gallons.</p>

          </div>

          <h2 class="content-small">Make the Switch, Save Thousands of Gallons</h2>
          <p>Water and land aren’t as limitless as we think. Pressured by population growth and limited freshwater reserves (less than 1% of all water on Earth is fresh and accessible), 4 of 10 people on Earth already live in a condition of water scarcity. <a href="#references" class="blog_footnote"><sup>3,4</sup></a> Water is not just for drinking; it is vital for a reliable food supply. 70% of all global freshwater withdrawals service the agricultural sector while animal products, led by beef and dairy, represent almost a quarter of our human water footprint. <a href="#references" class="blog_footnote"><sup>5,6</sup></a> Since plants are more water-efficient than livestock, shifting toward a vegetarian diet may cut your personal food-related water footprint by more than 30%. <a href="#references" class="blog_footnote"><sup>6</sup></a></p>

          <h2 class="content-small">Plant-Based Eating Keeps Our Land Beautiful (by Using a Lot Less of It)</h2>
          <p>Animal agriculture also has a huge appetite for land, another indispensable but surprisingly limited resource. Almost half of the 1.9 billion acres in the continental United States are primarily used for pasture or feed crops for livestock animals. <a href="#references" class="blog_footnote"><sup>7</sup></a> Globally, 30% of ice-free surfaces are used to keep animals rather than grow crops. <a href="#references" class="blog_footnote"><sup>8</sup></a> Poor grazing practices may degrade this land beyond agricultural viability, while rising global demand enables incursion of livestock upon ecologically rich and carbon-absorbing forestland, most notably Brazil’s Amazon. <a href="#references" class="blog_footnote"><sup>9</sup></a> Plants are a far more land-efficient and sustainable source of food.</p>

          <div style="text-align:center">
          <a class="btn" href="/blogs/news/eating-us-dry-cows-water-scarcity-and-how-a-plant-based-diet-helps" title="Learn more about water conservation" style="color:white;text-decoration: none;font-weight:700;font-size:18px;padding-left:50px;padding-right:50px;text-align: center;margin-bottom:50px;">Learn More</a>
          </div>


          </section>



          <section class="pillar">
          <h2 id="animals" class="content-small">Animal Welfare and Biodiversity</h2>

          <div style="margin:0 auto 15px;text-align:center;">
            <img src="{{ 'MissionTransition_Infographic_AnimalWelfare_Desktop.jpg' | file_img_url: 'master' }}" alt="Animal Welfare Desktop" class="small--hide lazyload">
            <img src="{{ 'MissionTransition_Infographic_AnimalWelfare_Mobile.jpg' | file_img_url: 'master' }}" alt="Animal Welfare Mobile" class="medium-up--hide lazyload">

            <p style="margin-bottom:50px;font-size:16px;font-style: italic;">Based on average American <a href="https://www.usatoday.com/story/money/2017/07/03/americans-eat-more-beef-and-meat-trend-thats-expected-continue/435331001/">beef consumption habits and <a href="https://waterfootprint.org/media/downloads/Hoekstra_and_Chapagain_2006.pdf">beef yield per cow of 440 lbs</a>.</p>
          </div>

          <h2 class="content-small">Scaling-Back Dairy and Meat Protects Livestock and Their Livelihood</h2>
          <p>Agriculture imprints heavily upon animals. In industrial systems (also known as factory farms), cows and other livestock may be treated as little more than machinery. Such operations are becoming more common to keep up with the dietary demands of a growing population. In China, there is a dairy farm the size of Portugal, where 100,000 cows are kept indoors 365 days of the year. <a href="#references" class="blog_footnote"><sup>10</sup></a> No matter how cattle are treated, the dairy and beef industries shorten a cow’s natural lifespan. 29 million cows were slaughtered in the United States in 2015. <a href="#references" class="blog_footnote"><sup>11</sup></a> The average beef cow will live 22 months; female milk cows 4-6 years before being repurposed for meat. <a href="#references" class="blog_footnote"><sup>12,13,14</sup></a> Plants carry none of this ethical burden.</p>

          <h2 class="content-small">Plant-Based Nutrition Helps Natural Ecosystems Thrive</h2>
          <p>Consumption of meat and dairy products also contributes to the alarming loss of biodiversity in our world, with some scientists warning of the first mass extinction in 65 million years. <a href="#references" class="blog_footnote"><sup>15</sup></a> Direct impacts of animal agriculture include habitat destruction and predator endangerment through control programs designed to protect cattle, the now-extinct California Grizzly being an early victim. Equally concerning is livestock’s contribution to climate change. We see the effects from the changing Artic to the acidification of the world’s oceans. Here, excess CO2 absorption is creating an increasingly hostile environment for sea life, particularly shellfish (upon which billions depend for food) and coral reefs. <a href="#references" class="blog_footnote"><sup>16, 17</sup></a> Swapping animal products for plant alternatives helps preserve the ecological diversity of land, sea, and air.</p>

          </section>


          <section class="pillar">
          <p>Our world needs us to change. Otherwise, it will change – and perhaps not for the best. If you drink dairy or consume meat, don’t worry (most people do). We only ask you to consider how overusing animal products is affecting all of us, meaning animals, too! Call it motivation to join the movement and do what is in your power, even if it’s just a small or limited shift.</p>
          </section>

          <section class="pillar">
          <h2 class="content-small">You Can Make the Switch to Plants Without Sacrificing Nutrition</h2>
          <p>Animal products can be nutritious, loaded with vitamins, minerals, and energy. Many also find it hard to resist the flavor (see virtually any cookout in America). But in many ways, including taste, plants can be just as good or better:</p>
          </section>


          <section class="pillar">


          <div class="" style="display:inline-block;margin-bottom:30px;">
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:60px;text-align:center">
              <img src="{{ 'LowSaturatedFats_Icon_fafe073e-b6a1-4fa5-a528-2a6e27db77d6.png' | file_img_url: 'master' }}" alt="Low Saturated Fat" class="lazyload" style="max-width:200px;">
              <h3 class="basic" style="color:#2f4c2c;font-weight:600;text-transform: uppercase;">Low in Saturated Fats</h3>
              <p style="text-align:left;">Plant milks are generally lower in saturated fat and cholesterol than dairy, meeting AHA recommendations.<a href="#references" class="blog_footnote"><sup>18</sup></a></p>
            </div>

            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
              <img src="{{ 'WholeFoods_Icon_165a0432-b416-41fe-8daf-fa32b4f3d256.png' | file_img_url: 'master' }}" alt="Whole Foods" class="lazyload" style="max-width:200px;">
              <h3 class="basic" style="color:#2f4c2c;font-weight:600;text-transform: uppercase;">Whole foods</h3>
              <p style="text-align:left;">Many plant-based foods do not require excessive processing or additives, making them staples of a cleaner diet.</p>
            </div>
          </div>

          <div class="" style="display:inline-block;">
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
              <img src="{{ 'HormoneFree_Icon_b4587149-0d5d-44f8-82a1-cc3369dc6716.png' | file_img_url: 'master' }}" alt="Hormone Free" class="lazyload" style="max-width:200px;">
              <h3 class="basic" style="color:#2f4c2c;font-weight:600;text-transform: uppercase;">Hormone-free</h3>
              <p style="text-align:left;">Plant-based nutritional sources are not treated with questionable antibiotics and hormones like rBST.</p>
            </div>
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
              <img src="{{ 'LactoseFree_Icon_1a713626-ad9c-4877-b820-9fd2e64309e5.png' | file_img_url: 'master' }}" alt="Lactose Free" class="lazyload" style="max-width:200px;">
              <h3 class="basic" style="color:#2f4c2c;font-weight:600;text-transform: uppercase;">Lactose-free</h3>
              <p style="text-align:left;">Plant milks are by nature lactose-free, sidestepping the associated digestive issues.</p>
            </div>
          </div>


          <br/><br/>
          <p>Protein, whole grain, healthy fats, vitamins and minerals: the plant kingdom has it all. A balanced combination of non-animal sources, like nuts and grains, can provide a sustaining (and sustainable) nutritional alternative to meat and milk. This includes direct substitutes like plant-based milks and meat alternatives.</p>

          </section>

          {% comment %}
          <section class="pillar" style="margin-bottom:50px;">
            <div style="text-align:center;padding:0" class="grid__item one-whole" >
              <h2 style="padding:30px;width:100%;background-color:#2f4c2c;margin-bottom:0;color:white;font-size:40px;font-weight:600;">What Can I Do to Help?</h2>
            </div>

            <div class="mt_pillar_advocate">

              <div class="mt_pillar_advocate_image">
                <img src="{{ 'Advocate_Logo_Green.png' | file_img_url: 'master' }}" alt="Plant Based Advocate" class="lazyload" style="">
              </div>


              <div class="mt_pillar_advocate_text">
                <p>Simply sign-up to join our movement. Working together, we can end our society’s damaging overdependence on meat and dairy. Turning more of our consumption to sustainable plant-based options is essential to keeping our Earth whole for the future.</p>

                <p>As an Advocate, you will have the opportunity to share the news with others, support organizations working for change, and link with likeminded companies.</p>

                <p>Your participation is the engine of a far bigger movement. We will reward you with points redeemable for discounts on plant-based goods!</p>


                <div style="text-align:center">
                  <a class="btn" href="https://elmhurst1925.referralrock.com/promotion/1/" style="color:white;text-decoration: none;font-weight:700;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Refer a friend</a></div>
                </div>

            </div>  


            <div class="" style="border:3px solid #2f4c2c;border-top:none;display:flex;flex-wrap: nowrap;flex-direction: row;justify-content:center;align-items: center;">
              <a href="/pages/mission-transition-donate" title="Donate to a cause">
                <img src="{{ 'DonateToACause_CTA_Desktop.jpg' | file_img_url: 'master' }}" alt="Donate Desktop" class="small--hide lazyload" style="width:100%;">
                <img src="{{ 'DonateToACause_CTA_Mobile.jpg' | file_img_url: 'master' }}" alt="Donate Mobile" class="medium-up--hide lazyload" style="width:100%;">
              </a>
            </div>

          </section>
          {% endcomment %}

          <section class="pillar" style="">
            <p>Mission Transition asks you to both live and share the change. You have friends, social media connections, and hopefully a sense of how important this is. Even if you’re only replacing 25% of your consumption with plant-based alternatives, you’re doing something. Picture a friend doing something, too, and spreading the word; then their friends, and so on…</p>
            <p>Very soon we might have a movement bigger than any our imaginations. Shifting purchasing patterns. Creating more conscious companies. Altering the layout of stores. Inspiring plant-based innovation. As our numbers creep ever closer to 50%, other measures – from greenhouse gas emissions to water usage – will fall. Could we possibly leave posterity with a better gift to remember us by?</p>
            <p>It isn’t up to you, but it is up to <i>us</i>.</p>
          </section>


        <section class="pillar">
        <div class="footnotes">
        <h3 id="references" class="content-small">References</h3>
        <ol class="footnotes">
        <li>Gerber, P.J. et al. Tackling Climate Change Through Livestock: A Global Assessment of Emissions and Mitigation Opportunities. Food and Agriculture Organization of the United Nations, 2013.</li>
        <li>Grace, Peter and Louise Barton. "Meet N2O, the Greenhouse Gas 300 Times Worse Than CO2." The Conversation. December 8, 2014. https://theconversation.com/meet-n2o-the-greenhouse-gas-300-times-worse-than-co2-35204</li>
        <li>USGS Water Science School. U.S. Geological Survey. December 2, 2016. https://water.usgs.gov/edu/gallery/global-water-volume.html</li>
        <li>United Nations. “International Decade for Action on Water and Sustainable Development, 2018-2028.” Accessed October 25, 2019. https://www.un.org/en/events/waterdecade/</li>
        <li>Food and Agriculture Organization of the United Nations. “Water Withdrawal by Sector, Around 2010.” AQUASTAT Database. 2016. https://www.globalagriculture.org/fileadmin/files/weltagrarbericht/Weltagrarbericht/13Wasser/2016WorldData-Withdrawal_eng.pdf</li>
        <li>Hoekstra, Arjen Y. “The Hidden Water Resource Use Behind Meat and Dairy.” Animal Frontiers 2, no. 2 (2012). 3-8. doi: 10.2527/af.2012-0038</li>
        <li>United States Department of Agriculture. Major Uses of Land in the United States, 2012, by Daniel P. Bigelow and Allison Borchers. USDA Economic Research Bulletin no. 178, August 2017.</li>
        <li>Milman, Oliver. “Earth has lost a third of arable land in past 40 years, scientists say.” The Guardian. December 2, 2015. https://www.theguardian.com/environment/2015/dec/02/arable-land-soil-food-security-shortage</li>
        <li>Lawrence, Elizabeth. “Why is the Amazon rainforest on fire?,” USA Today. August 22, 2019. https://www.usatoday.com/story/news/world/2019/08/22/amazon-fire-ngos-brazil-president-jair-bolsonaro-suggests-cause/2082066001/</li>
        <li>Keane, Caroline B. “China’s biggest dairy farm over 50 times bigger than the biggest dairy farm in the UK!!.” That’s Farming. April 23, 2017. https://www.thatsfarming.com/news/china-s-largest-dairy-farm</li>
        <li>USDA. “Cattle & Beef.” August 20, 2019. https://www.ers.usda.gov/topics/animal-products/cattle-beef.aspx</li>
        <li>“Field to Fork: The Lifecycle of Beef.” Arrowquip. June 6, 2017. https://arrowquip.com/blog/cattle-research/field-fork-lifecycle-beef</li>
        <li>Good, Kate. “How the Dairy Industry Has Unnaturally Altered the Life of Cows.” One Green Planet. Accessed August 28, 2019. https://www.onegreenplanet.org/animalsandnature/how-the-dairy-industry-has-unnaturally-altered-the-life-of-cows/</li>
        <li>“Age of animals slaughtered.” Aussie Abattoirs. Accessed August 30, 2019. https://www.aussieabattoirs.com/facts?s=age-slaughtered</li>
        <li>Zielinski, Sarah. “Climate Change will Accelerate Earth’s Sixth Mass Extinction.” Smithsonian.com. April 30, 2015. https://www.smithsonianmag.com/science-nature/climate-change-will-accelerate-earths-sixth-mass-extinction-180955138/</li>
        <li>Ireland, Perrin. “What You Need to Know About Ocean Acidification.” National Resource Defense Council. August 13, 2015. https://www.nrdc.org/stories/what-you-need-know-about-ocean-acidification</li>
        <li>Attenborough, David. Quoted in “Our position on climate change.” Great Barrier Reef Foundation. Accessed August 28, 2019. https://www.barrierreef.org/the-foundation/our-position-on-climate-change</li>
        <li>American Heart Association. 2019. https://www.heart.org/en/healthy-living/healthy-eating/eat-smart/fats/saturated-fats</li>
        </ol>
        </div>
        </section>



      </div>
    </div>
  </div>

              
</div>
<!-- {% section 'feature-row-video' %}   -->

  
