<div class="text-center" style="margin-top:-55px;">
  <h1>
    <a href="/collections/plant-milks"><img src="{{ 'OGpillar_Header_Desktop_SimpBetter.jpg' | file_img_url: 'master' }}" alt="Elmhurst Original Milk" id="OG_Header_Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/collections/plant-milks"><img src="{{ 'OGpillar_Header_Mobile_SimpBetter.jpg' | file_img_url: 'master' }}" alt="Elmhurst Original Milk" id="OG_Header_Desktop" class="medium-up--hide lazyload" style="width:100%;"></a>
  </h1>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>


    <h2 id="" class="content-small" style="">A TRUE ORIGINAL</h2>
    <section class="content">
    <p>Elmhurst’s original line deserves its name. Yes, there were nut (and oat) milks before us. And there are more trickling into the market each day. But Elmhurst delivers something so…simple…that it stands out brilliantly, like a clear sky, in a land of clutter.</p>

    <img src="{{ 'UnsweetenedPillar_UsvsThem_Desktop.gif' | file_img_url: 'master' }}" alt="Us vs Them Desktop" class="small--hide lazyload no-print" style="width:100%;">
    <img src="{{ 'UnsweetenedPillar_UsvsThem_Mobile.gif' | file_img_url: 'master' }}" alt="Us Vs Them Mobile" class="medium-up--hide lazyload no-print" style="width:100%;">

    <p>Compared to most other original plant milks, Elmhurst uses a fraction of the ingredients. This excludes funny things like locust bean gum, carrageenan, and lecithin, which are not exactly dietary staples. Rather than let such things crowd-out nutrition, we’ve simply used more nuts – up to 4x compared to leading competitors. Milked Oats™ delivers 20g whole grain per serving.</p>
    </section>

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oats_front_hr_540x.jpg?v=1556033892" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™</h3>
              <h4 class="product-single__sub-title social_landing">Original</h4>
              <a class="btn" href="/collections/plant-milks/products/milked-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
  </section>


  <section class="pillar">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>
    <div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;color:black;">Original Oat Milk</th>
        <th scope="col" style="background-color:#f0f2ef">Elmhurst®</th>
        <th scope="col" style="color:black;">Oatly®</th>
        <th scope="col" style="color:black;">Silk®</th>
        <th scope="col" style="color:black;">Pacific®</th>
        <th scope="col" style="color:black;">Planet Oat®</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of ingredients</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5</td>
        <td>12</td>
        <td>15</td>
        <td>7</td>
        <td>10</td>
      </tr>
      <tr>
        <th>Added Gums</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Added Oils</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Added Vitamins</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Lecithin</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">4g</td>
        <td>3g</td>
        <td>2g</td>
        <td>4g</td>
        <td>4g</td>
      </tr>
      <tr>
        <th>Sugar*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5g</td>
        <td>7g</td>
        <td>4g</td>
        <td>17g</td>
        <td>4g</td>
      </tr>
      <tr>
        <th>Bonus Nutrition*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">20g Whole Grain</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Aseptic</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">Yes</td>
        <td style="">No</td>
        <td style="">No</td>
        <td style="">Yes</td>
        <td style="">No</td>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">*Per 8 fl oz serving</th>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">Nutrition Data as of Aug 2019</th>
      </tr>
      </tbody>
  </table>
</div>
</section>

  <section class="pillar">
    <h2 id="" class="pillar">What's Inside</h2>
    <div class="grid__item large-up--one-whole" style="padding-left:0;margin-bottom:0px">

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0;">
                <img src="{{ 'OatsPNG.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Oats</p>
                <p>Whole grain oats: There is nothing more North American than that. Ours come from the prairies of Canada.</p>
              </div>
            </div>
          </div>

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">
            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0">
                <img src="{{ 'FilterdWater.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Filtered Water</p>
                <p>What more need to be said about the foundation of life? One thing is for sure: it will never go out of style.</p>
              </div>
            </div>

          </div>
    </div>
  </section>

  <section class="content">
    <p>Oats being the newest old thing out there, we had to jump on the oat milk wagon. Customarily, we did it in simpler, better style. Only Milked Oats™ highlights the star ingredient, the classic and worthy oat. No gums. No lecithin. No vegetable oils to disrupt the grandeur of 20g whole grain per serving. Use this versatile plant milk in coffee, cereal, and smoothies. Like all Elmhurst products, it is non-GMO, gluten-free, carrageenan-free, and has no artificial flavors. Also try the <a href="/collections/single-serve-oat-milk" title="Single Serve Oat">12oz single-serve versions!</a></p>

    <div style="text-align:center">
    <a class="btn" href="/collections/plant-milks/products/milked-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>
  </section>






  <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_cashew_front_hr_540x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Cashews™</h3>
              <h4 class="product-single__sub-title social_landing">Original</h4>
              <a class="btn" href="/collections/plant-milks/products/milked-cashews" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
  </section>


<section class="pillar">
<h2 id="" class="pillar">HOW WE COMPARE</h2>
<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;color:black;">Original Cashew Milk</th>
        <th scope="col" style="background-color:#f0f2ef">Elmhurst®</th>
        <th scope="col" style="color:black;">Califia®</th>
        <th scope="col" style="color:black;">Forager®</th>
        <th scope="col" style="color:black;">Pacific®</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of ingredients</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5</td>
        <td>7</td>
        <td>9</td>
        <td>9</td>
      </tr>
      <tr>
        <th>Added Gums</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Added Oils</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Added Vitamins</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Lecithin</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">4g</td>
        <td>2g</td>
        <td>1g</td>
        <td>2g</td>
      </tr>
      <tr>
        <th>Sugar*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">2g</td>
        <td>1g</td>
        <td>2g</td>
        <td>5g</td>
      </tr>
      <tr>
        <th>Aseptic</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">Yes</td>
        <td style="">No</td>
        <td style="">No</td>
        <td style="">Yes</td>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">*Per 8 fl oz serving</th>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">Nutrition Data as of Aug 2019</th>
      </tr>
      </tbody>
  </table>
</div>
</section>

  <section class="pillar">
<h2 id="" class="pillar">What's Inside</h2>
    <div class="grid__item large-up--one-whole" style="padding-left:0;margin-bottom:0px">

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0;">
                <img src="{{ 'CashewsPNG.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Cashews</p>
                <p>This distinct tropical nut comes straight from Brazil: land of samba, soccer, and sunshine.</p>
              </div>
            </div>
          </div>

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">
            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0">
                <img src="{{ 'FilterdWater.png' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Filtered Water</p>
                <p>What more need to be said about the foundation of life? One thing is for sure: it will never go out of style.</p>
              </div>
            </div>

          </div>
    </div>
  </section>

    <section class="content" style="margin-bottom:55px">
    <p>Discover the incredibly versatile cashew the better way. A non-dairy milk made with 5 ingredients and up to 2x as many nuts as the others…we’ll take it! With no added gums or emulsifiers, Milked Cashews is perfect for coffee, cooking, and more. Of course, Like all Elmhurst products, it’s non-GMO, gluten-free, carrageenan-free, and has no artificial flavors.</p>

    <div style="text-align:center">
    <a class="btn" href="/collections/plant-milks/products/milked-cashews" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>

  </section>

{% comment %}
 <section class="pillar">
    <h2 id="" class="pillar">WHICH ORIGINAL PLANT MILK IS FOR YOU?</h2>
    <div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px;text-align:left;">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;width:200px;"></th>
        <th scope="col">Almond</th>
        <th scope="col">Cashew</th>
        <th scope="col">Hazelnut</th>
        <th scope="col">Walnut</th>
        <th scope="col">Oat</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of Ingredients</th>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td>5g</td>
        <td>4g</td>
        <td>3g</td>
        <td>3g</td>
        <td>4g</td>
      </tr>
      <tr>
        <th>Calories*</th>
        <td>150</td>
        <td>130</td>
        <td>140</td>
        <td>130</td>
        <td>100</td>
      </tr>
      <tr>
        <th>Total Fat*</th>
        <td>11g</td>
        <td>10g</td>
        <td>11g</td>
        <td>11g</td>
        <td>1.5</td>
      </tr>
      <tr>
        <th>Carbs*</th>
        <td>9g</td>
        <td>8g</td>
        <td>7g</td>
        <td>5g</td>
        <td>18g</td>
      </tr>
      <tr>
        <th>Sugar*</th>
        <td>7g</td>
        <td>2g</td>
        <td>5g</td>
        <td>4g</td>
        <td>5g</td>
      </tr>
      <tr>
        <th>Added Gums or Oils</th>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Gluten-Free</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Key Benefit</th>
        <td>4x more nuts</td>
        <td>Barista Approved</td>
        <td>2x more nuts</td>
        <td>Excellent source of omega-3</td>
        <td>20g Whole Grain</td>
      </tr>
      <tr>
        <th>Best Used In</th>
        <td>Smoothies, Hot &amp; Cold Cereal</td>
        <td>Smoothies, Soups &amp; Sauces, Baking</td>
        <td>Smoothies, Iced Coffee, Hot & Cold Cereal</td>
        <td>Smoothies, Iced Coffee, Hot & Cold Cereal</td>
        <td>Coffee, Hot & Cold Cereal, Smoothies</td>
      </tr>
      <tr>
        <th class="no-bottom-border"></th>
        <td class="no-bottom-border"><a class="btn" href="/collections/plant-milks/products/milked-almonds" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/plant-milks/products/milked-cashews" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/plant-milks/products/milked-hazelnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/plant-milks/products/milked-walnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/plant-milks/products/milked-oats" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
      </tr>


      </tbody>
  </table>
</div>
</section>

{% endcomment %}

  <h2 id="" class="content-small" style="">DID YOU KNOW WE HAVE UNSWEETENED VERSIONS?</h2>
  <section class="content">
  <p>The unsweetened line is just a little simpler, bringing 5-6 ingredients down to just 2 or – in one instance - 3. Added sugars, natural flavors, and (with the exception of oat) salt are left out to give you the most simple product possible. Like the original varieties, Elmhurst's unsweetened milks have a variety of functions not limited to drinking.</p>
  </section>

  <section class="pillar">
    
    <div class="unsweetened-carton-container-pp">

      <div class="unsweetened-carton-item-pp">
        <a href="/collections/unsweetened/products/unsweetened-milked-almonds" title="Unsweetened Milked Almonds">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_almondsus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Unsweetened<br/> Almonds</h3>
        </a>
      </div>


      <div class="unsweetened-carton-item-pp">
        <a href="/collections/unsweetened/products/unsweetened-milked-cashews" title="Unsweetened Milked Cashews">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_cashewus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Unsweetened<br/> Cashews</h3>
        </a>
      </div>

      <div class="unsweetened-carton-item-pp">
        <a href="/collections/unsweetened/products/unsweetened-milked-hazelnuts" title="Unsweetened Milked Hazelnuts">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_hazelnutus_front_hr_e9137d9f-d703-484c-944a-1e225f1b5708_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Unsweetened<br/> Hazelnuts</h3>
        </a>
      </div>

      <div class="unsweetened-carton-item-pp">
        <a href="/collections/unsweetened/products/unsweetened-milked-walnuts" title="Unsweetened Milked Walnuts">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_walnutus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Unsweetened<br/> Walnuts</h3>
        </a>
      </div>

      <div class="unsweetened-carton-item-pp">
        <a href="/collections/unsweetened/products/unsweetened-milked-oats" title="Unsweetened Milked Oats">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oatsus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Unsweetened<br/> Oats</h3>
        </a>
      </div>
    </div>


      <div class="unsweetened-button-container-pp">
          <a href="/pages/unsweetened-pp-qxu" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Shop Unsweetened</a>
      </div>
    </section>




<div class="page-width-blog-news-bottom">
      {% paginate blogs.news.articles by 4 %}
      {% assign article_counter = 0 %}
        {% for articleData in blogs.news.articles %}
          {% if article_counter < 3 %}
            {% if articleData.handle != article.handle %}
              <div class="blog-bottom-section">
                <img src="{{ articleData.image.src | img_url: '600x' }}" alt="{{ articleData.image.alt }}" class="blog-bottom-image lazyload" />
                <div class="blog-bottom-product-text">
                  <div>
                  <a href="{{articleData.url}}" title="{{articleData.title}}" style="text-decoration:none;"><h3 class="blog-bottom">{{articleData.title}}</h3></a>
                  </div>
                  {% comment %}
                  {% if articleData.excerpt %}
                    <p class="blog-sidebar">{{articleData.excerpt}}</p>
                  {% endif %}
                  {% endcomment %}
                  <div>
                  <a href="{{articleData.url}}" alt="" class="btn btn--secondary btn--small text-center blog-bottom-button" aria-label="">Read More</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% continue %}
            {% endif %}
            {% assign article_counter = article_counter | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}

      </div>



  </div>
</div>