<div class="text-center" style="margin-top:-55px;">
  <h1></h1>

  <div id="icecream_headers">

    <div class="ic-header small--hide">
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'SoftServe_CV_Header1_desktop3.jpg' | file_img_url: 'master' }}" alt="Soft serve made eady" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'SoftServe_Header2_desktop.jpg' | file_img_url: 'master' }}" alt="Use any ice cream machine" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'SoftServe_Header3_desktop_DASH.jpg' | file_img_url: 'master' }}" alt="No machine no problem" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>

    </div>

    <div class="ic-header medium-up--hide">
      <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'SoftServe_CV_Header1_mobile3.jpg' | file_img_url: 'master' }}" alt="Soft serve made easy" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'SoftServe_Header2_mobile.jpg' | file_img_url: 'master' }}" alt="Use any ice cream machine" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'SoftServe_Header3_mobile_DASH.jpg' | file_img_url: 'master' }}" alt="No machine no problem" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>

    </div>

  </div>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan-and-gums' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <h2 id="" class="content-small" style="color:black;">The Simplest Way to Make Dairy-Free Ice Cream at Home</h2>

    <section class="content">
    <p>You don’t need dairy to have the best ice cream around. In fact, you don’t even need to leave your house! Introducing New-Fashioned Plant-Based Soft Serve by Elmhurst. 100% plant-based and made with the finest quality oatmilk around! That’s right, everything you love about old-fashioned ice cream, but without the dairy! Now it couldn’t be easier to whip up freshly-churned ice cream at home. Works in all home ice cream makers. Simple to make, just refrigerate the mix for 4 hours, shake vigorously, and pour into your ice cream maker.</p>
  </section>
    
  <section class="pillar" style="margin-bottom:0">
    <div class="product_spotlight social_landing icecream-container1" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/elm_ecomm_SS_oat_vanl_16oz_carton_R1_front_540x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black;margin:15px;text-align:center;">Vanilla</h3>
              <h4 class="product-single__sub-title social_landing" style="margin:15px;text-align:center;">Dairy-Free Soft Serve Mix</h4>

              <div class="icecream-button-container">
              <a href="/products/vanilla-soft-serve?variant=32118897803329" alt="2 pack" class="btn btn--secondary text-center icecream-button" aria-label="">2 PACK</a>
              <a href="/products/vanilla-soft-serve?variant=32118897868865" alt="4 pack" class="btn btn--secondary text-center icecream-button" aria-label="">4 PACK</a>
              <a href="/products/vanilla-soft-serve?variant=32118897934401" alt="6 pack" class="btn btn--secondary text-center icecream-button" aria-label="">6 PACK</a>
              </div>

            </div>
    </div>
  </section>


  <section class="pillar" style="margin-bottom:0">
    <div class="product_spotlight social_landing icecream-container1" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/elm_ecomm_SS_oat_choc_16oz_carton_R1_front_540x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black;margin:15px;text-align:center;">Chocolate</h3>
              <h4 class="product-single__sub-title social_landing" style="margin:15px;text-align:center;">Dairy-Free Soft Serve Mix</h4>

              <div class="icecream-button-container">
              <a href="/products/chocolate-soft-serve?variant=32170021093441" alt="2 pack" class="btn btn--secondary text-center icecream-button" aria-label="">2 PACK</a>
              <a href="/products/chocolate-soft-serve?variant=32170021126209" alt="4 pack" class="btn btn--secondary text-center icecream-button" aria-label="">4 PACK</a>
              <a href="/products/chocolate-soft-serve?variant=32170021191745" alt="6 pack" class="btn btn--secondary text-center icecream-button" aria-label="">6 PACK</a>
              </div>

            </div>
    </div>
  </section>

  <section class="pillar" style="margin-bottom:0">
    <div class="product_spotlight social_landing icecream-container1" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/elm_ecomm_SS_16oz_combo.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black;margin:15px;text-align:center;">Variety Pack</h3>
              <h4 class="product-single__sub-title social_landing" style="margin:15px;text-align:center;">Dairy-Free Soft Serve Mix</h4>

              <div class="icecream-button-container">
              <a href="/products/soft-serve-variety-pack?variant=32198293815361" alt="2 pack" class="btn btn--secondary text-center icecream-button" aria-label="">2 PACK</a>
              <a href="/products/soft-serve-variety-pack?variant=32198293848129" alt="4 pack" class="btn btn--secondary text-center icecream-button" aria-label="">4 PACK</a>
              <a href="/products/soft-serve-variety-pack?variant=32198293880897" alt="6 pack" class="btn btn--secondary text-center icecream-button" aria-label="">6 PACK</a>
              </div>

            </div>
    </div>
  </section>


  {% comment %}
  <section class="pillar">
    <div class="product_spotlight social_landing icecream-container2" style="border:8px solid black;flex-wrap:wrap;">
        <div style="flex:0 1 100%;width:100%;background-color:black;padding:10px;">
        <p class="icecream-container2-text">DON'T HAVE AN ICE CREAM MAKER AT HOME?<br/>HOMEMADE</p>
        </div>


            <div class="" style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/zokugiftpacks.gif?v=1598648019" />
            </div>

            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black;margin:15px;text-align:center;">Zoku Gift Pack</h3>
              <h4 class="product-single__sub-title social_landing" style="margin:15px;text-align:center;">+ Ice Cream Making Bowl</h4>

              <div class="icecream-button-container">
              <a href="/products/vanilla-soft-serve?variant=32118897836097" alt="4 pack bundle" class="btn btn--secondary text-center icecream-button" aria-label="">Vanilla</a>
              <a href="/products/chocolate-soft-serve?variant=32170021158977" alt="6 pack bundle" class="btn btn--secondary text-center icecream-button" aria-label="">Chocolate</a>
              </div>
            </div>

    </div>
  </section>
  {% endcomment %}


  <section class="pillar">
    <div class="text-center" style="margin-top:30px;margin-bottom:30px;">
    <a href="/products/homemade-ice-cream-gift-pack"><img src="{{ '2020_11_SS_Promo_GiftBox_Desktop_Header.jpg' | file_img_url: 'master' }}" alt="Homemade Ice Cream Kit Header Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/products/homemade-ice-cream-gift-pack"><img src="{{ '2020_11_SS_Promo_GiftBox_Mobile_Header.jpg' | file_img_url: 'master' }}" alt="Homemade Ice Cream Kit Header Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
    </div>
  </section>


  {% comment %}
  <section class="content">
    <div id="ic-flavors">
      <div><img src="{{ 'SoftServeFlavor_Cookies.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt=""></div>
      <div><img src="{{ 'SoftServeFlavor_Pecan.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Blueberry Oat Single Serve Header"></div>
      <div><img src="{{ 'SoftServeFlavor_Strawberry.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Vanilla Oat Single Serve Header"></div>
      <div><img src="{{ 'SoftServeFlavor_Sprinkles.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Original Oat Single Serve Header"></div>
    </div>
  </section>
  {% endcomment %}

  {% comment %}
  <section class="content">
    <div id="ic-flavors-grid">
      <a href="" class="ic-flavors-grid-item"><img src="{{ 'SoftServeFlavor_Cookies.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" alt=""></a>
      <a href="" class="ic-flavors-grid-item"><img src="{{ 'SoftServeFlavor_Pecan.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" alt="Blueberry Oat Single Serve Header"></a>
      <a href="" class="ic-flavors-grid-item"><img src="{{ 'SoftServeFlavor_Strawberry.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" alt="Vanilla Oat Single Serve Header"></a>
      <a href="" class="ic-flavors-grid-item"><img src="{{ 'SoftServeFlavor_Sprinkles.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" alt="Original Oat Single Serve Header"></a>
    </div>
  </section>
  {% endcomment %}


  <section class="pillar">

    {% comment %}
    <img src="{{ '1_100DairyFree.jpg' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" class="lazyload" style="width:100%;margin:10px auto;">

    <img src="{{ '2_Delivered_to_Door.png' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" class="lazyload" style="width:100%;margin:10px auto;">
    {% endcomment %}


    {% comment %}
    <div id="ic-bowls">
      <div><img src="{{ '3A_AnyMachine_zoku.png' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt=""></div>
      <div><img src="{{ '3B_AnyMachine_icecream.png' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt="Blueberry Oat Single Serve Header"></div>
      <div><img src="{{ '3C_AnyMachine_standmix.png' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt="Vanilla Oat Single Serve Header"></div>
    </div>
    {% endcomment %}
  </section>

    <section class="pillar">
    <div style="text-align:center">
    <a class="btn" href="/pages/ice-cream-faqs" style="color:white;text-decoration: none;font-weight:600;font-size:30px;padding-left:50px;padding-right:50px;text-align: center;background-color:black;margin-top:-50px;margin-bottom:50px;">FAQ &amp; How to use</a>
    </div>


    </section>

  <section class="content">
      <h2 class="pillar icecream" style="color:black;">How to make soft serve at home</h2>

      <div id="ic-steps">
        <div>
          <img src="{{ 'Step1_ChillIt.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt="">
          <h3 class="pillar">Step 1: Chill It</h3>
          <p>Feel free to store in your pantry until you’re ready to make ice cream. For optimal results, chill at least 4 hours to speed up churn and yield the creamiest texture!</p>
        </div>
        <div>
          <img src="{{ 'Step2_PourIt.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt="Blueberry Oat Single Serve Header">
          <h3 class="pillar">Step 2: Pour It</h3>
          <p>No matter how you make it, this soft serve mix is ready to pour! Simply shake and pour into any home ice cream maker! No crazy recipes required!</p>
        </div>
        <div>
          <img src="{{ 'Step3_ChurnIt.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt="Vanilla Oat Single Serve Header">
          <h3 class="pillar">Step 3: Churn It</h3>
          <p>This mix works with any ice cream making machine or method you prefer! Looking for something fun and easy? A Zoku bowl makes the perfect individually-sized portion in under 10 minutes! </p>
        </div>
        <div>
          <img src="{{ 'Step4_EnjoyIt.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;margin:20px auto;" alt="Vanilla Oat Single Serve Header">
          <h3 class="pillar">Step 4: Top It & Enjoy</h3>
          <p>Mix in whatever your heart desires! Strawberries? Sprinkles? Caramel? Fudge? Just don’t forget the cherry on top!</p>
        </div>
    </div>

    <div style="text-align:center">
    <a class="btn" href="/products/vanilla-soft-serve" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center;background-color:black;">BUY NOW</a>
    </div>

  </section>

  {% comment %}
  <section class="pillar">
    <img src="{{ '4_PantryFriendly.png' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" class="lazyload" style="width:100%;margin:10px auto;">

    <img src="{{ '5_Makes4Bowls.png' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" class="lazyload" style="width:100%;margin:10px auto;">
  </section>
  {% endcomment %}


{% comment %}
<div class="page-width-blog-news-bottom">
      {% paginate blogs.news.articles by 4 %}
      {% assign article_counter = 0 %}
        {% for articleData in blogs.news.articles %}
          {% if article_counter < 3 %}
            {% if articleData.handle != article.handle %}
              <div class="blog-bottom-section">
                <img src="{{ articleData.image.src | img_url: '600x' }}" alt="{{ articleData.image.alt }}" class="blog-bottom-image lazyload" />
                <div class="blog-bottom-product-text">
                  <div>
                  <a href="{{articleData.url}}" title="{{articleData.title}}" style="text-decoration:none;"><h3 class="blog-bottom" style="color:black;">{{articleData.title}}</h3></a>
                  </div>
                  <div>
                  <a href="{{articleData.url}}" alt="" class="btn btn--secondary btn--small text-center blog-bottom-button" style="color:white;background-color:black;border-color:black;" aria-label="">Read More</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% continue %}
            {% endif %}
            {% assign article_counter = article_counter | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
</div>
{% endcomment %}


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('.ic-header').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 5000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });



    {% comment %}
    $('#ic-flavors').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 5000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });
    {% endcomment %}

    $('#ic-bowls').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 2000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });

    $('#ic-steps').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
        autoplay: true,
        autoplaySpeed: 3000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });

  });
</script>