<div class="rich-text-editor">
  <div class="page-width page-content">


    <h1 id="" class="content-small" style="color:black;text-decoration:underline;">{{ page.title }}</h1>

    <section class="content">
    <p></p>
  </section>


  <section class="pillar">
    <div class="text-center" style="margin-top:20px;">
    <a href="/products/homemade-ice-cream-gift-pack">
      <img src="{{ '2020_11_SS_Promo_GiftBox_Desktop_Header.jpg' | file_img_url: 'master' }}" alt="Homemade Ice Cream Kit Header Desktop" class="small--hide lazyload no-print" style="width:100%;">
      <img src="{{ '2020_11_SS_Promo_GiftBox_Mobile_Header.jpg' | file_img_url: 'master' }}" alt="Homemade Ice Cream Kit Header Mobile" class="medium-up--hide lazyload" style="width:100%;">
    </a>
    </div>
  </section>


    <section class="pillar">
    <div class="text-center" style="margin-top:20px;margin-bottom:20px;">
    <a href="/products/ultimate-hot-chocolate-kit">
      <img src="{{ '2020_11_GOOP_homepage__Desktop_Header.jpg' | file_img_url: 'master' }}" alt="Hot Cocoa Kit Header Desktop" class="small--hide lazyload no-print" style="width:100%;">
      <img src="{{ '2020_11_GOOP_homepage_Mobile_Header.jpg' | file_img_url: 'master' }}" alt="Hot Cocoa Kit Header Mobile" class="medium-up--hide lazyload" style="width:100%;">
    </a>
    </div>
  </section>


  </div>
</div>
