<div class="section-header text-center" style="margin-top:-55px;">
  <h1>
    <img src="{{ 'DonationPage_Header_Desktop.jpg' | file_img_url: 'master' }}" alt="Mission Transition Donation Header Desktop" class="small--hide lazyload" style="width:100%;">
    <img src="{{ 'DonationPage_Header_Mobile.jpg' | file_img_url: 'master' }}" alt="Mission Transition Donation Header Mobile" class="medium-up--hide lazyload" style="width:100%;">
  </h1>
</div>

<div class="page-width page-content">
  <div class="grid">
    <div class="grid__item">
      <div class="">

        <section class="pillar">
          <h2 class="content-small">THESE NON-PROFIT ORGANIZATIONS WILL HELP YOU MAKE AN EVEN BIGGER DIFFERENCE!</h2>
          <p>Simply choose the cause you’d like to donate to.</p>
          <ol style="list-style-position:inside;color:#000;margin-bottom:30px;">
            <li>Grab a screenshot of the donation confirmation page and share on Instagram, Facebook, or Twitter</li>
            <li>Be sure to tag @elmhurst1925</li>
            <li>Use hashtags #MissionTransition and #Elmhurst1925</li>
          </ol>
          <p>That’s it! We will send you a unique 15% off coupon code for Elmhurst® 1925 plant-based products through direct message.</p>
        </section>



        <section class="pillar">
          <div class="mt_donate_charity">
            <div class="mt_donate_charity_image">
              <img src="{{ 'nrdc_logo.png' | file_img_url: 'master' }}" alt="NRDC logo" class="lazyload" style="">
            </div>
            <div class="mt_donate_charity_text">
              <h2 class="content-small" style="text-align:left">NATURAL RESOURCES DEFENSE COUNCIL</h2>
              <p style="text-align:left">The NRDC works toward transformative solutions which care for the Earth the way it cares for us. It is active both in the U.S. and internationally on issues including climate change, ocean health, and our food supply.</p>
              <div style="">
                  <a class="btn" href="https://act.nrdc.org/donate/monthly/?locsrc=nr-glb-nav-btn&source=WEBMEM&_ga=2.61639531.634728566.1578943837-351778886.1578943837" title="Donate to NRDC" style="color:white;text-decoration: none;font-weight:700;font-size:18px;padding-left:70px;padding-right:70px;margin-top:20px;text-align: center">Donate Now</a></div>
              </div>
            </div>


            <div class="mt_donate_charity">
            <div class="mt_donate_charity_image">
              <img src="{{ 'scf_logo.png' | file_img_url: 'master' }}" alt="SCF logo" class="lazyload" style="">
            </div>
            <div class="mt_donate_charity_text">
              <h2 class="content-small" style="text-align:left">SIERRA CLUB</h2>
              <p style="text-align:left">Founded in 1892 by John Muir, the Sierra Club uses a network of 3.8 million members to “defend everyone’s right to a healthy world.” Protecting our natural resources – from water to air – is paramount.</p>
              <div style="">
                  <a class="btn" href="https://act.sierraclub.org/donate/rc_connect__campaign_designform?id=70131000001DlRtAAK&formcampaignid=70131000001LjZ2AAK&ddi=N16MOTF006&_ga=2.219007258.2048612760.1578944430-1312457122.1578944430" title="Donate to Sierra Club" style="color:white;text-decoration: none;font-weight:700;font-size:18px;padding-left:70px;padding-right:70px;margin-top:20px;text-align: center">Donate Now</a></div>
              </div>
            </div>


            <div class="mt_donate_charity">
            <div class="mt_donate_charity_image">
              <img src="{{ 'wwf_logo.png' | file_img_url: 'master' }}" alt="WWF logo" class="lazyload" style="">
            </div>
            <div class="mt_donate_charity_text">
              <h2 class="content-small" style="text-align:left">WORLD WILDLIFE FUND</h2>
              <p style="text-align:left">The World Wildlife Fund is committed to protecting our Earth’s biodiversity from natural and human-driven challenges like deforestation and global warming. It is actively saving rare wildlife from Australia’s bushfires.</p>
              <div style="">
                  <a class="btn" href="https://support.worldwildlife.org/site/Donation2?df_id=15253&15253.donation=form1&s_src=AWE2007OQ18694A03946RX&_ga=2.115084100.238734644.1578951208-2087384615.1578951208&_gac=1.171123988.1578951209.EAIaIQobChMImYGzy8OB5wIVI4VaBR1aCw2KEAAYASAAEgL3BvD_BwE" title="Donate to WWF" style="color:white;text-decoration: none;font-weight:700;font-size:18px;padding-left:70px;margin-top:20px;padding-right:70px;text-align: center">Donate Now</a></div>
              </div>
            </div>
        </section>

        <section class="pillar">
          <p>Thank you for considering a donation to these worthy organizations as they continue their work for the greater good! Of course, there are many ways to give, of which money is just one. Equally generous is sparing time to do something helpful; using your talents for the benefit of others; and, of course, making little but impactful changes to your lifestyle…such as our 50% Challenge.</p>
        </section>
      </div>
    </div>
  </div>
</div>
