<div class="text-center" style="margin-top:-55px;">
  <h1>
    <a href="/collections/unsweetened/products/unsweetened-milked-oats"><img src="{{ 'Header_Desktop_GOATofOAT.jpg' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" id="US_Oat_Header_Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/collections/unsweetened/products/unsweetened-milked-oats"><img src="{{ 'Header_Mobile_GOATofOAT.jpg' | file_img_url: 'master' }}" alt="Elmhurst Unsweetened Milk" id="US_Oat_Header_Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
  </h1>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <h2 id="" class="content-small" style="">THE G.O.A.T. OF OAT MILKS, YOU SAY?</h2>
    <section class="content">
    <p>Not to be confused with goat milk, our oat milk is G.O.A.T. – as in the “Greatest of All Time.” You see, while most oat milks from other leading brands like to add oils make their milks 'creamier' – Elmhurst® would rather keep things simple. Like making oat milk with whole grain oats and only 3 ingredients. No cow, no added oils, no bull. Think this makes Elmhurst the G.O.A.T.? We do too.</p>
    
    <section class="pillar">
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom:40px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/XaAVAEHQ9R4' frameborder='0' allowfullscreen></iframe></div>
    </section>

    <section class="pillar">
      <div class="product_spotlight social_landing" style="">
        <div style="flex: 0 1 400px">
            <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oatsus_front_hr_540x.jpg" />
        </div>
        <div style="flex: 0 1 800px">
          <h3 class="product-single__title social_landing">Milked Oats™</h3>
          <h4 class="product-single__sub-title social_landing">Unsweetened</h4>
          <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
        </div>
      </div>
    </section>

  <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'us_oat_elm.jpg' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'us_oat_them.jpg' | file_img_url: 'master' }}" />
    </div>

    <p>Call us old-fashioned, but we believe that almond milk should be made with, well, almonds, cashew milk with cashews, oat milk with real whole grain oats – keeping things simple. Just how simple? With only 3 ingredients - water, oats, and a pinch of salt. It doesn't get much simpler than that.</p>

    <div style="text-align:center">
    <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>

  </section>


  <section class="pillar">
      <div class="product_spotlight social_landing" style="">
        <div style="flex: 0 1 400px">
            <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oats_front_hr_720x.jpg" />
        </div>
        <div style="flex: 0 1 800px">
          <h3 class="product-single__title social_landing">Milked Oats™</h3>
          <h4 class="product-single__sub-title social_landing">Original</h4>
          <a class="btn" href="/collections/plant-milks/products/milked-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
        </div>
      </div>
  </section>

    <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'og_oat_elm.jpg' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'og_oat_them.jpg' | file_img_url: 'master' }}" />
    </div>

    <p>While most oat milks from other leading brands add oils make their milks 'creamier' – Elmhurst® would rather keep things simple. Like making oat milk with whole grain oats and only 5 ingredients. No cow, no added oils, no bull. Think it's time to upgrade to a better oat milk? We do too.</p>

    <div style="text-align:center">
    <a class="btn" href="/collections/plant-milks/products/milked-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>

    </section>


  <section class="pillar">
      <div class="product_spotlight social_landing" style="">
        <div style="flex: 0 1 400px">
            <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_bar_oats_32oz_carton_R2_Front_720x.jpg" />
        </div>
        <div style="flex: 0 1 800px">
          <h3 class="product-single__title social_landing">Barista Edition</h3>
          <h4 class="product-single__sub-title social_landing">Oat Milk</h4>
          <a class="btn" href="/collections/barista/products/barista-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
        </div>
      </div>
  </section>

    <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Bar_oat_elm.jpg' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Bar_oat_them.jpg' | file_img_url: 'master' }}" />
    </div>

    <p>Ever tried to make your own latte at home? The milk you use matters – especially when it isn't milk at all. Our barista editions are made to perform in all roasts with just 5 ingredients. No added gums or oils here (unlike some other brands out there). The only thing you'll have to worry about is that your coffee addiction doesn’t get any more, well, addictive.</p>

    <div style="text-align:center">
    <a class="btn" href="/collections/barista/products/barista-oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>

    </section>


<div class="page-width-blog-news-bottom" style="margin:110px auto 80px;">
      {% paginate blogs.news.articles by 4 %}
      {% assign article_counter = 0 %}
        {% for articleData in blogs.news.articles %}
          {% if article_counter < 3 %}
            {% if articleData.handle != article.handle %}
              <div class="blog-bottom-section">
                <img src="{{ articleData.image.src | img_url: '600x' }}" alt="{{ articleData.image.alt }}" class="blog-bottom-image lazyload" />
                <div class="blog-bottom-product-text">
                  <div>
                  <a href="{{articleData.url}}" title="{{articleData.title}}" style="text-decoration:none;"><h3 class="blog-bottom">{{articleData.title}}</h3></a>
                  </div>
                  {% comment %}
                  {% if articleData.excerpt %}
                    <p class="blog-sidebar">{{articleData.excerpt}}</p>
                  {% endif %}
                  {% endcomment %}
                  <div>
                  <a href="{{articleData.url}}" alt="" class="btn btn--secondary btn--small text-center blog-bottom-button" aria-label="">Read More</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% continue %}
            {% endif %}
            {% assign article_counter = article_counter | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
  </div>


    <section class="content">
      <p style="color:#128757;font-weight:600;margin-bottom:0;font-size:23px;">A BETTER OAT MILK STARTS WITH A BETTER PROCESS</p>
      <p>At Elmhurst, we believe nature is always sufficient for providing everything we need to thrive. Our patented HydroRelease™ process separates the individual components of oats and repackages them to preserve their original nutrition. This allows us to rely primarily on the intrinsic sweetness and creaminess of the oats, delivering a product with 16-20g of whole grains per serving and devoid of any unnecessary additives. Abiding by our “simpler is better” motto, our unsweetened oat milk is made of just 3 ingredients (filtered water, whole grain oats, salt), and our sweetened oat milk and barista oat milk varieties have 5 just ingredients (filtered water, whole grain oats, cane sugar, salt, and natural flavors or dipotassium phosphate). Moreover, we certify that the oats we use are gluten-free, so our beverages can be freely enjoyed by individuals with sensitive stomachs or celiac disease.</p>

      <p style="color:#128757;font-weight:600;margin-bottom:0;font-size:23px;">WHY CHOOSE ELMHURST</p>
      <p>We can answer this question with another simple question: Are you getting the most from your oats? Though oat milk may, by nature, sound like a good idea, many brands dilute the oat’s value by straining the milks and adulterating them with unhealthy additives. This is not the way to go if you don’t have to, and fortunately, Elmhurst offers a better way forward. Thanks to a process that retains the full flavor and nutrient spectrum, Elmhurst is able to offer a superior product, truest to nature’s intention.</p>


    </section>




    </section>






  </div>
</div>