<div class="text-center" style="margin-top:-55px;">
  <h1></h1>

  <div id="hot-chocolate_headers">

    <div class="hc-header small--hide">
        <div>
          <a href="/products/ultimate-hot-chocolate-kit">
            <img src="{{ 'Header_DESKTOP_Oat.jpg' | file_img_url: 'master' }}" alt="Oat Carton Desktop Header" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'Header_DESKTOP_Chocolate.jpg' | file_img_url: 'master' }}" alt="Chocolate Oat Carton Desktop Header" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
    </div>

    <div class="hc-header medium-up--hide">
      <div>
          <a href="/products/ultimate-hot-chocolate-kit">
            <img src="{{ 'Header_MOBILE_Oat.jpg' | file_img_url: 'master' }}" alt="Oat Carton Mobile Header" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
        <div>
          <a href="/collections/ice-cream">
            <img src="{{ 'Header_MOBILE_chocolate.jpg' | file_img_url: 'master' }}" alt="Chocolate Oat Carton Mobile Header" class="lazyload no-print" style="width:100%;" alt="">
          </a>
        </div>
    </div>

  </div>

</div>


<div class="rich-text-editor">
  <div class="page-width page-content" style="margin-top:60px;">

    <h2 id="" class="content-small" style="color:black;">COZY, BUT MAKE IT VEGAN…</h2>

    <section class="content">
    <p>This limited edition Ultimate Hot Chocolate Kit includes some of our staple products, like our decadent Chocolate Oatmilk, our Original Oatmilk, and everything else you need for the perfect, customizable hot chocolate. This kit is sure to leave you feeling the warmth and indulgence of the holiday season, with its rich and creamy ingredients, perfect for any fireside night. Thanks to some amazing partners, all products included are certified vegan and certainly delicious. Whether you’re enjoying with friends, family, or even having your very own self-love moment, this kit is sure to be your new guilt-less pleasure.</p>

    <a href="/products/ultimate-hot-chocolate-kit" alt="Ultimate Gift Kit"><img src="{{ 'KIT.png' | file_img_url: 'master' }}" alt="Ultimate Gift Kit Image" class="" style="margin-bottom:30px"></a>

    </section>


  <section class="pillar">
    <div style="text-align:center">
    <a class="btn" href="/products/ultimate-hot-chocolate-kit" style="color:white;text-decoration: none;font-weight:600;font-size:30px;padding-left:60px;padding-right:60px;text-align: center;background-color:black;margin-bottom:50px;">Buy Now</a>
    </div>
  </section>
  

<section class="content">
      <h2 class="pillar icecream" style="color:black;">Take a peek inside:</h2>
</section>

  <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oats_front_hr_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black">Milked Oats™ - 32oz</h3>
              <h4 class="product-single__sub-title social_landing">Original</h4>
              <p style="text-transform: uppercase;font-weight:400">
              <span style="color:black">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span>
              </p>
            </div>
    </div>
  </section>

<section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_flv_oat_chocolate_32oz_carton_R1_Front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black">Milked Oats™ - 32oz</h3>
              <h4 class="product-single__sub-title social_landing">Chocolate</h4>
              <p style="text-transform: uppercase;font-weight:400">
              <span style="color:black">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span>
              </p>
            </div>
    </div>
  </section>

<section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/WPDesign.jpg?v=1604078782" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black">Porter Mug</h3>
              <h4 class="product-single__sub-title social_landing">W&P Design</h4>
              <p style="text-transform: uppercase;font-weight:400">
              <span style="color:black">12oz, Ceramic, Portable, BPA-Free, Dishwasher Safe</span>
              </p>
            </div>
    </div>
  </section>


<section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Dandies.jpg?v=1604078782" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black">Marshmallows</h3>
              <h4 class="product-single__sub-title social_landing">Dandies®</h4>
              <p style="text-transform: uppercase;font-weight:400">
              <span style="color:black">Vegan, Gluten-Free, Non-GMO, No Gelatin, No Corn Syrup, Vanilla</span>
              </p>
            </div>
    </div>
  </section>

<section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/FourSigmatic.jpg?v=1604078782" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing" style="color:black">Mushroom Cacao Mix</h3>
              <h4 class="product-single__sub-title social_landing">Four Sigmatic®</h4>
              <p style="text-transform: uppercase;font-weight:400">
              <span style="color:black">Vegan, Gluten-Free, Organic, With Reishi </span>
              </p>
            </div>
    </div>
  </section>

<section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/EnjoyLife.png?v=1604078782" />
            </div>
            <div style="flex: 0 1 800px" style="padding-left:30px;">
              <h3 class="product-single__title social_landing" style="color:black">Semi-Sweet Mini Chips</h3>
              <h4 class="product-single__sub-title social_landing">Enjoy Life®</h4>
              <p style="text-transform: uppercase;font-weight:400">
              <span style="color:black">Vegan, Gluten-Free, Dairy-Free, Soy-Free, Non-GMO</span>
              </p>
            </div>
    </div>
  </section>



  <section class="pillar" style="margin-top:60px">
    <img src="{{ 'Goop_Banner.jpg' | file_img_url: 'master' }}" alt="As seen on GOOP" class="" style="margin-bottom:30px">

    <div style="text-align:center">
    <a class="btn" href="/products/ultimate-hot-chocolate-kit" style="color:white;text-decoration: none;font-weight:600;font-size:30px;padding-left:60px;padding-right:60px;text-align: center;background-color:black;margin-bottom:50px;">Buy Now</a>
    </div>
  </section>





  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $('.hc-header').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 2500,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 10,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });

  });
</script>