<div class="section-header text-center" style="margin-top:-55px;">
  <h1>
    <img src="{{ 'SS_FoodService_Header_1920x690_b410cf50-3b02-423d-a05b-9b6fffbd3495.jpg' | file_img_url: 'master' }}" alt="Food Service Desktop" class="small--hide lazyload" style="width:100%;">
    <img src="{{ 'SoftServe_FoodService_Website_Header_Mobile_D7.jpg' | file_img_url: 'master' }}" alt="Food Service Mobile" class="medium-up--hide no-print lazyload" style="width:100%;">
  </h1>
</div>


<div class="rich-text-editor">
  <div class="page-width page-content">

    <section class="content">
      <div class="powr-form-builder" id="4409e2aa_1599153266"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
  </section>

  <section class="content">
    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'ss_twist_taylor_machine_hold1_sq.jpg' | file_img_url: 'master' }}" />
    </div>
    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'ss_choc_taylor_machine_hold1_sq.jpg' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'ss_vanilla_taylor_machine_hold1_sq.jpg' | file_img_url: 'master' }}" />
    </div>
    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'ss_lineup_taylor_machine_hero2_sq.jpg' | file_img_url: 'master' }}" />
    </div>

  </section>



  </div>
</div>