<div class="text-center" style="margin-top:-55px;margin-bottom:30px;">
  <h1>
  </h1>

  <div id="oat-rtd">
    <a class="rtd-header small--hide" href="/collections/oat-latte" title="Single Serve Oat Milks">
      <div><img src="{{ 'Desktop_Header_Chocolate.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Chocolate Single Serve Oat Milk Desktop Header"></div>
      <div><img src="{{ 'Desktop_Header_Blueberry.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Blueberry Single Serve Oat Milk Desktop Header"></div>
      <div><img src="{{ 'Desktop_Header_Vanilla.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Vanilla Single Serve Oat Milk"></div>
      <div><img src="{{ 'Desktop_Header_Original.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Original Single Serve Oat Milk Desktop Header"></div>
    </a>

    <a class="rtd-header medium-up--hide" href="/collections/oat-latte" title="Single Serve Oat Milks">
      <div><img src="{{ 'Mobile_Header_Chocolate.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Chocolate Single Serve Oat Milk Mobile Header"></div>
      <div><img src="{{ 'Mobile_Header_Blueberry.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Blueberry Single Serve Oat Milk Mobile Header"></div>
      <div><img src="{{ 'Mobile_Header_Vanilla.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Vanilla Single Serve Oat Milk Mobile Header"></div>
      <div><img src="{{ 'Mobile_Header_Original.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Original Single Serve Oat Milk Mobile Header"></div>
    </a>

  </div>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <section class="content">

    <h2 id="" class="content-small" style="">75% LESS SUGAR THAN CHOCOLATE DAIRY MILK*</h2>
    <p>What’s better than a chocolate milk that has a just fraction of the sugar of other chocolate milks? One that’s dairy-free, of course! Luckily for you, this chocolate oat milk is shelf-stable and the perfect size to bring with you anywhere. Work day snack? Check. Kid’s lunches? You got it. Oh, and by the way, it’s only 6 ingredients. Doesn’t get much better than that.</p>

    <p style="font-size:15px;">*Nonfat chocolate dairy milk contains 32g per 12 ounce serving; Milked Oats™ Chocolate contains 7g sugar per 12oz serving.</p>

    </section>

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_oat_choco_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™ - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Chocolate Oat Milk</h4>

              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">5G</span> | FIBER: <span style="color:#128757">5G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/single-serve/products/milked-oats-chocolate-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
    </section>
    

  <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'RTD_Comparison_Modules_oat_choco_elm.jpg' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'RTD_Comparison_Modules_oat_choco_them.jpg' | file_img_url: 'master' }}" />
    </div>

  </section>


<div class="text-center" style="margin-top:30px;margin-bottom:30px;">
  <a href="/collections/single-serve-oat-milk"><img src="{{ 'NATIVE_AD_DESKTOP.jpg' | file_img_url: 'master' }}" alt="Elmhurst RTD Latte Ad Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
  <a href="/collections/oat-latte"><img src="{{ 'NATIVEAD_MOBILE_c9925c7a-5f08-49ba-b546-0ffe0f23c6ad.jpg' | file_img_url: 'master' }}" alt="Elmhurst RTD Latte Ad Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
</div>


    <section class="content">

    <h2 id="" class="content-small" style="">THE POWER OF WHOLE GRAIN</h2>
    <p>Don’t underestimate whole grain. With 30g whole grain (a whopping 62% of your daily value), this oat milk not only helps keep you feeling full for longer, it helps sustain energy levels. So the next time you’re in need of a little snack, a bottle of Elmhurst® Milked Oats™ may just be what you need to get you through! Not to mention, it may reduce the risk of heart disease. While many factors affect heart disease, diets low in saturated fat and cholesterol may reduce the risk of this disease.</p>

    </section>


<section class="pillar">
    <h2 id="" class="pillar">ALSO AVAILABLE IN:</h2>

    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_oat_choco_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™ - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Chocolate Oat Milk</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">5G</span> | FIBER: <span style="color:#128757">5G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/single-serve/products/milked-oats-chocolate-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>


    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_oat_vanilla_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™ - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Vanilla Oat Milk</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">4G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>
              <a class="btn" href="/collections/single-serve/products/milked-oats-vanilla-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>


    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_oat_blue_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™ - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Blueberry Oat Milk</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">6G</span> | Protein: <span style="color:#128757">4G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>
              <a class="btn" href="/collections/single-serve/products/milked-oats-blueberry-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>



    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_oat_og_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™ - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Original Oat Milk</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">4G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>
              <a class="btn" href="/collections/single-serve/products/milked-oats-single-serve" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>

</section>


<div class="text-center" style="margin-bottom:30px;">
  <img src="{{ 'RTD_oat_choco_picnic.jpg' | file_img_url: 'master' }}" alt="Elmhurst RTD Latte Counter" class="lazyload" style="width:100%;">
</div>




<section class="content">
  
    <h2 id="" class="content-small" style="">FULL OF INTEGRITY. NOT INGREDIENTS.</h2>
    <p>This oat milk is made with whole grain oats and only a handful of other simple ingredients. Can’t believe we even need to say this, but there’s no rapeseed oil, gellan gum, sunflower oil, locust bean gum, or other junk here. Wish we could say the same about some of the other guys. The good news is, if you just want a simple, tasty oat milk, all you have to do is click the button below!</p>


    <div style="text-align:center">
    <a class="btn" href="/collections/single-serve-oat-milk" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>


</section>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.rtd-header').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 3000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });
  });
</script>