<div class="text-center" style="margin-top:-55px;">
  <h1>
    <a href="/collections/unsweetened/products/unsweetened-milked-almonds"><img src="{{ 'Friendsgiving_Header_Desktop.jpg' | file_img_url: 'master' }}" alt="Friendsgiving Header Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/collections/unsweetened/products/unsweetened-milked-almonds"><img src="{{ 'Friendsgiving_Header_Mobile.jpg' | file_img_url: 'master' }}" alt="Friendsgiving Header Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
  </h1>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <h2 id="" class="content-small" style="">THANKSGIVING CAN GET COMPLICATED, YOUR PLANT MILK SHOULDN’T BE.</h2>
    <section class="content">
    <p>Just two ingredients - almonds and water. And if you’re not into almonds, we make hazelnut, walnut & cashew milk too. Nothing more than an extra pinch of salt in Elmhurst® Unsweetened Oat Milk means a plant milk full of nutrition & flavor rather than gums & fillers. They work great in recipes too! <a href="#recipes" alt="Skip to recipes">Skip below to see how to simplify your Thanksgiving this year.</a></p>


    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom:60px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/sj3FT4avCnU' frameborder='0' allowfullscreen></iframe></div>

    </section>

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_almondsus_front_hr_540x.jpg?v=1556033892" class="lazyload" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Almonds™</h3>
              <h4 class="product-single__sub-title social_landing">Unsweetened</h4>
              <!-- <p>Made with just nuts and water, this is as close to drinking whole almonds as you can get.</p>
              <a id="" class="btn" href="/collections/plant-milks/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Read More</a> -->
              <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
  </section>


  <section class="pillar">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>
    <div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;color:black;">Unsweetened Almond Milk</th>
        <th scope="col" style="background-color:#f0f2ef">Elmhurst®</th>
        <th scope="col" style="color:black;">Califia®</th>
        <th scope="col" style="color:black;">Silk®</th>
        <th scope="col" style="color:black;">Blue Diamond®</th>
        <th scope="col" style="color:black;">Pacific®</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th># of ingredients</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">2</td>
        <td>9</td>
        <td>12</td>
        <td>11</td>
        <td>9</td>
      </tr>
      <tr>
        <th>Added Gums</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Added Vitamins</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th>Lecithin</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5g</td>
        <td>1g</td>
        <td><1g</td>
        <td>1g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Sodium*</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">5mg</td>
        <td>160mg</td>
        <td>130mg</td>
        <td>170mg</td>
        <td>180mg</td>
      </tr>
      <tr>
        <th>Paleo Friendly</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">&#10003;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Whole30</th>
        <td style="background-color:#f0f2ef;color:#128757;font-weight:600;">&#10003;</td>
        <td style="">&#10003;</td>
        <td style="">&#10003;</td>
        <td style="">&#10003;</td>
        <td style=""></td>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">*Per 8 fl oz serving</th>
      </tr>
      <tr>
        <th class="no-bottom-border" style="font-size:12px;">Nutrition Data as of Aug 2019</th>
      </tr>
      </tbody>
  </table>
</div>
</section>

  <section class="pillar">
    <h2 id="" class="pillar">What's Inside</h2>
    <div class="grid__item large-up--one-whole" style="padding-left:0;margin-bottom:0px">

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0;">
                <img src="{{ 'almondsPNG.png' | file_img_url: 'master' }}" class="lazyload" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Almonds</p>
                <p>This forward-pointing nut comes to us from California. It's a great plant-based protein source – and tasty, too!</p>
              </div>
            </div>
          </div>

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">
            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0;text-align:center">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0">
                <img src="{{ 'FilterdWater.png' | file_img_url: 'master' }}" class="lazyload" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Filtered Water</p>
                <p>What more need to be said about the foundation of life? One thing is for sure: it will never go out of style.<!--<a href="#ingredients_footnote2"><sup>2</sup></a>--></p>
              </div>
            </div>

          </div>
    </div>
  </section>

  <section class="content">
    <p>Made with just almonds and water, our unsweetened almond milk achieves up to 4x more nuts compared to other brands. This translates to 5g of protein per glass. The absence of added sugar and flavors showcases the authentic taste of the source, making Unsweetened Milked Almonds an especially good ingredient for smoothies and more. Like all Elmhurst products, it is non-GMO, gluten-free, carrageenan-free, and has no artificial flavors.</p>

    <div style="text-align:center">
    <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>
  </section>




<div style="margin:55px auto;">
  <a href="/collections/unsweetened">
    <img src="{{ 'Unsweetened_Native_InLine_Ad.jpg' | file_img_url: 'master' }}" alt="Try our Unsweetened Line - Desktop" class="small--hide lazyload no-print">
    <img src="{{ 'Unsweetened_Native_InLine_Ad_Mobile.jpg' | file_img_url: 'master' }}" alt="Try our Unsweetened Line - Mobile" class="medium-up--hide lazyload">
  </a>
</div>


 <section class="pillar">
    <h2 id="" class="pillar">WHICH UNSWEETENED PLANT MILK IS FOR YOU?</h2>
    <div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px;text-align:left;">
    <thead>
      <tr>
        <th scope="col" class="" style="border-right:0;width:200px;"></th>
        <th scope="col">Unsweetened<br/>Almond</th>
        <th scope="col">Unsweetened<br/>Cashew</th>
        <th scope="col">Unsweetened<br/>Oat</th>
        <th scope="col">Unsweetened<br/>Walnut</th>
        <th scope="col">Unsweetened<br/>Hazelnut</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Key Benefit</th>
        <td>4x More Almonds & Protein</td>
        <td>Barista Approved</td>
        <td>20g Whole Grain</td>
        <td>Excellent Source Omega-3</td>
        <td>2x More Hazelnuts</td>
      </tr>
      <tr>
        <th>Protein*</th>
        <td>5g</td>
        <td>4g</td>
        <td>4g</td>
        <td>3g</td>
        <td>2g</td>
      </tr>
      <tr>
        <th>Calories*</th>
        <td>130</td>
        <td>130</td>
        <td>80</td>
        <td>120</td>
        <td>90</td>
      </tr>
      <tr>
        <th>Total Fat*</th>
        <td>11g</td>
        <td>10g</td>
        <td>1.5g</td>
        <td>11g</td>
        <td>9g</td>
      </tr>
      <tr>
        <th>Carbs*</th>
        <td>3g</td>
        <td>7g</td>
        <td>14g</td>
        <td>1g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Sugar*</th>
        <td>1g</td>
        <td>1g</td>
        <td>1g</td>
        <td>0g</td>
        <td>1g</td>
      </tr>
      <tr>
        <th>Added Sugar*</th>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
        <td>0g</td>
      </tr>
      <tr>
        <th>Sodium*</th>
        <td>5mg</td>
        <td>10mg</td>
        <td>120mg</td>
        <td>5mg</td>
        <td>5mg</td>
      </tr>
      <tr>
        <th>Keto-Friendly</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td></td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Paleo Friendly</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td></td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Gluten-Free</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Whole30</th>
        <td>&#10003;</td>
        <td>&#10003;</td>
        <td></td>
        <td>&#10003;</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <th>Dairy Replacement</th>
        <td>Whole Milk</td>
        <td>Whole Milk</td>
        <td>2% Milk</td>
        <td>2% Milk</td>
        <td>2% Milk</td>
      </tr>
      <tr>
        <th>Ingredients</th>
        <td>Filtered Water, Almonds</td>
        <td>Filtered Water, Cashews</td>
        <td>Filtered Water, Whole Grain Oats, Salt</td>
        <td>Filtered Water, Walnuts</td>
        <td>Filtered Water, Hazelnuts</td>
      </tr>
      <tr>
        <th>Best Used In</th>
        <td>Smoothies, Cereal, Soups &amp; Sauces</td>
        <td>Soups &amp; Sauces, Baking, Lattes, Hot & Iced Coffee</td>
        <td>Smoothies, Cereal, Overnight Oats</td>
        <td>Smoothies, Cereal, Iced Coffee</td>
        <td>Smoothies, Cereal, Iced Coffee</td>
      </tr>
      <tr>
        <th class="no-bottom-border"></th>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-cashews" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-oats" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-walnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
        <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-hazelnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
      </tr>




{% comment %}
      <tr>
        <th>Best Used In</th>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
        <td width="100" height="100">{%- include '1925-Product-Smoothies-Seal' -%}</td>
      </tr>
{% endcomment %}

      </tbody>
  </table>
</div>
</section>


<section id="recipes" class="pillar" style="padding-top:40px;margin-top:-40px">
    <h2 class="pillar">PERFECTLY SIMPLE FRIENDSGIVING RECIPES</h2>

  <ul>
    <li><a href="#mashedpotatoes" alt="Vegan Mashed Potatoes">Vegan Garlic Mashed Potatoes</a></li>
    <li><a href="#pumpkincheesecake" alt="Pumpkin Cheesecake">Vegan Pumpkin Cheesecake</a></li>
    <li><a href="#psl" alt="Pumpkin Spice Latte">Easy Dairy-Free Pumpkin Spice Latte</a></li>
    <li><a href="#bisque" alt="Pumpkin Apple Bisque">Creamy Vegan Pumpkin Apple Soup</a></li>
    <li><a href="#fudgecups" alt="Apple Pie Fudge Cups">Apple Pie Fudge Cups</a></li>
    <li><a href="#vinaigrette" alt="Walnut Vinaigrette">Vegan Walnut Vinaigrette</a></li>
    <li><a href="#cocktail" alt="Buttered Pecan Pie Cocktail">Buttered Pecan Pie Cocktail</a></li>
  </ul>
</section>


<div class="rte">

  <div id="mashedpotatoes" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Vegan Garlic Mashed Potatoes</h2>

    <div style="margin:35px auto;">
      <img src="{{ 'US_GarlicMashedPotato_waln_recipe2_1920x1080_45ad7109-0c63-43b7-b7e6-0e0f95440573.jpg' | file_img_url: 'master' }}" alt="Vegan Mashed Potatoes - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'US_GarlicMashedPotato_waln_recipe2_sq.jpg' | file_img_url: 'master' }}" alt="Vegan Mashed Potatoes - Mobile" class="medium-up--hide lazyload">
    </div>

  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li>2 cups <a href="/collections/plant-milks/products/unsweetened-milked-cashews">Elmhurst Unsweetened Milked Cashews™</a></li>
  <li>5 lbs Yukon Gold Potatoes</li>
  <li>½ cup Chives, chopped</li>
  <li>4 Tbsp. Vegan Butter</li>
  <li>2 Tbsp. Garlic, minced</li>
  <li>Salt + Pepper to taste</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
  <li>Place the potatoes in a large pot and add water until covered. Bring to a boil + cook for 20 minutes or until tender.</li>
  <li>Drain potatoes and move to a bowl. Add cashew milk, butter, chives, garlic, and salt + pepper.</li>
  <li>With an electric mixer whip until smooth + creamy. Add more cashew milk for a creamier texture if you'd like.</li>
  <li>Finish with fresh chives and enjoy!</li>
  </ol>
  </div>
  </div>


  <div id="pumpkincheesecake" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Vegan Pumpkin Cheesecake</h2>

  <div style="margin:35px auto;">
      <img src="{{ 'PumpkinCheesecake_1920x1080_de9f7d7b-f6cc-450b-b294-7b8e51a3ea80.jpg' | file_img_url: 'master' }}" alt="Pumpkin Cheesecake - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'PumpkinCheesecake_SQ.jpg' | file_img_url: 'master' }}" alt="Pumpkin Cheesecake - Mobile" class="medium-up--hide lazyload">
  </div>

  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li><b>For The Crust:</b></li>
  <li>1 ½ - 2 cups Graham Crackers</li>
  <li>¼ cup Vegan Butter, melted</li>
  <li></li>
  <li><b>For The Filling:</b></li>
  <li>½ cup <a href="/collections/plant-milks/products/unsweetened-milked-cashews">Elmhurst Unsweetened Milked Cashews™</a></li>
  <li>1 ¼ cups Raw Cashews, soaked in hot water for 1 hour</li>
  <li>1 cup Pumpkin Puree</li>
  <li>½ cup Sugar</li>
  <li>1 Tbsp. Corn Starch</li>
  <li>1 tsp. Pumpkin Pie Spice</li>
  <li>1 tsp. Vanilla Extract</li>
  <li>¼ tsp. Salt</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
  <li>Preheat oven to 350 degrees.</li>
  <li>To prepare the crust, add graham crackers to a food processor and pulse until ground. Add melted butter and mix until well combined. Press into the bottom of a pan. For an even crust, try using the bottom of a glass or measuring cup to press flat.</li>
  <li>To prepare cheesecake filling, add the unsweetened cashew milk and softened cashews to a food processor and pulse until combined.  Add remaining ingredients and blend until creamy and smooth, scraping down sides as needed.</li>
  <li>Pour batter over the crust, smoothing out the top. Bake for 25-35 minutes until the edges are golden brown and the center still jiggles slightly. Let cool completely.</li>
  <li>Chill for at least 5 hours or overnight before serving. Top with non-dairy whipped cream + dust with cinnamon. Enjoy!</li>
  </ol>
  </div>
  </div>


  <div id="psl" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Easy Dairy-Free Pumpkin Spice Latte</h2>

  <div style="margin:35px auto;">
      <img src="{{ 'PumpkinSpiceLatte_1920x1080_e302c85a-4609-4aeb-af95-eec1927b6a3d.jpg' | file_img_url: 'master' }}" alt="Pumpkin Spice Latte - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'PumpkinSpiceLatte_SQ.jpg' | file_img_url: 'master' }}" alt="Pumpkin Spice Latte - Mobile" class="medium-up--hide lazyload">
  </div>

  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li>2 cups <a href="/collections/barista/products/barista-oats">Elmhurst® Oat Barista Edition</a></li>
  <li>¾ cup Coffee, brewed strong</li>
  <li>2 ½ Tbsp. Fresh Pumpkin Puree (not pumpkin pie filling) </li>
  <li>2 Tbsp. Maple Syrup (or sugar of choice)</li>
  <li>2 tsp. Vanilla</li>
  <li>¾ tsp. Pumpkin Pie Spice (plus extras for topping)</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
  <li>Brew coffee and set aside.</li>
  <li>In a medium saucepan, add the barista oat milk, pumpkin puree, maple syrup, vanilla, and pumpkin pie spice.</li>
  <li>Cook on medium-low, stirring constantly until all ingredients are completely blended together. For a frothier consistency, try using a hand frother to combine or frothing the milk separately from the pumpkin mixture.</li>
  <li>Add coffee, and finish stirring until desired drinking temperature is reached.</li>
  <li>Serve as is or with dairy-free whipped topping and extra pumpkin pie spice, if desired.</li>
  </ol>
  </div>
  </div>


  <div id="bisque" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Creamy Vegan Pumpkin Apple Soup</h2>

  <div style="margin:35px auto;">
      <img src="{{ 'MLK_crrdpmpknapplbsq_almd_recipe4_1920x1080_43b874a3-bbb4-4372-bf4e-711ddb8ab489.jpg' | file_img_url: 'master' }}" alt="Pumpkin Apple Bisque - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'MLK_crrdpmpknapplbsq_almd_recipe4_sq.jpg' | file_img_url: 'master' }}" alt="Pumpkin Apple Bisque - Mobile" class="medium-up--hide lazyload">
  </div>


  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li>6 cups Vegetable Broth</li>
  <li>3 cups Apple, peeled & chopped</li>
  <li>2 cups <a href="/collections/plant-milks/products/unsweetened-milked-almonds">Elmhurst Unsweetened Milked Almonds</a></li>
  <li>2 cups Onion, diced</li>
  <li>2 lbs Pumpkin, peeled, seeded, & diced</li>
  <li>½ cup Olive Oil</li>
  <li>5 Tbsp Curry Powder</li>
  <li>2 tsp Salt</li>
  <li>1 tsp Garlic powder</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
  <li>In a large pot, warm the oil over medium heat. Add the pumpkin and onion and cook for 5 minutes.</li>
  <li>Add the spices and stir to evenly distribute. Next add the vegetable stock and bring to a boil. Reduce to a simmer and cover for about 10 minutes, stirring occasionally.</li>
  <li>Add the chopped apples and continue to simmer for an additional 10 minutes or until everything is very tender.</li>
  <li>Remove from heat. Using an immersion blender, puree the vegetables until a thick, smooth consistency is reached. A heat safe blender can also be used for this step, blending in batches.</li>
  <li>Return to heat and stir in the unsweetened almond milk. Cook for an additional 5 minutes or until heated through. Serve hot and enjoy.</li>
  </ol>
  </div>
  </div>



  <div id="fudgecups" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Apple Pie Fudge Cups</h2>

  <div style="margin:35px auto;">
      <img src="{{ 'ApplePieFdgCups_recipe4_1920x1080_68472302-a9df-428e-834c-347f1b8738ec.jpg' | file_img_url: 'master' }}" alt="Apple Pie Fudge Cups - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'ApplePieFdgCups_peek1_hazl_SQ.jpg' | file_img_url: 'master' }}" alt="Apple Pie Fudge Cups - Mobile" class="medium-up--hide lazyload">
  </div>


  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li>1 cup <a href="/collections/all/products/milked-hazelnuts">Elmhurst® Milked Hazelnuts™</a></li>
  <li>1 cup Apples, chopped</li>
  <li>½ cup Coconut Oil, melted (+ a little extra to bake the apples in)</li>
  <li>3 Tbsp. Maple Syrup</li>
  <li>2 tsp. Cinnamon</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
  <li>Preheat the oven to 400 degrees. While preheating, chop 1 cup of apples and toss in coconut oil. Spread the apples on a baking sheet, and bake for 45 minutes.</li>
  <li>Once the apples have cooled, add them and the rest of ingredients to a blender. Blend until completely combined.</li>
  <li>Pour the mixture into mini muffin pan and freeze for 30-35 minutes.</li>
  <li>Remove from freezer and if desired, drizzle with peanut butter, caramel or other topping of choice.</li>
  </ol>
  </div>
  </div>


  <div id="vinaigrette" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Vegan Walnut Vinaigrette</h2>

  <div style="margin:35px auto;">
      <img src="{{ 'WalnutSalad_1920x1080_6bab39a8-bf35-46c6-85b7-24b4672124b0.jpg' | file_img_url: 'master' }}" alt="Walnut Vinaigrette - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'WalnutSalad_SQ.jpg' | file_img_url: 'master' }}" alt="Walnut Vinaigrette - Mobile" class="medium-up--hide lazyload">
  </div>

  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li>1 cup Walnut Oil</li>
  <li>1/4 cup <a href="/collections/all/products/unsweetened-milked-walnuts">Elmhurst® Unsweetened Milked Walnuts™</a></li>
  <li>1/4 cup Sherry Vinegar</li>
  <li>1/4 cup Maple Syrup</li>
  <li>1/4 cup Walnuts, chopped</li>
  <li>1/2 Tbsp Dijon Mustard</li>
  <li>1/2 tsp Garlic Powder</li>
  <li>Salt + Pepper to taste</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
  <li>Add the walnut milk, sherry vinegar, honey, Dijon mustard, garlic powder, salt, and pepper into a blender and blend until well combined.</li>
  <li>With the blender running, slowly add the walnut oil as the blender brings together the oils and vinegar.</li>
  <li>Fold in the walnuts and enjoy! This recipe makes enough to use for the rest of the week, so pop it in the fridge to keep any extras fresh.</li>
  </ol>
  </div>
  </div>



  <div id="cocktail" class="blog-recipe-block one-whole mb-35" style="padding-top:40px;margin-top:-40px">
  <h2 id="" class="pillar">Buttered Pecan Pie Cocktail</h2>

  <div style="margin:35px auto;">
      <img src="{{ 'ButteredPecanCocktail_1920x1080_d6a10a0c-4249-4435-a33e-e07204d870c1.jpg' | file_img_url: 'master' }}" alt="Buttered Pecan Pie Cocktail - Desktop" class="small--hide lazyload no-print">
      <img src="{{ 'ButteredPecanCocktail_SQ.jpg' | file_img_url: 'master' }}" alt="Buttered Pecan Pie Cocktail - Mobile" class="medium-up--hide lazyload">
  </div>

  <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Ingredients</h3>
  <ul>
  <li>1 oz. <a href="/collections/hemp-creamers/products/hemp-creamer-french-vanilla" title="Elmhurst Vanilla Hemp Creamer">Elmhurst® Vanilla Hemp Creamer</a></li>
<li>1 oz. <a href="https://www.monin.com/us/butter-pecan-syrup.html" title="Monin® Butter Pecan Syrup" target="_blank">Monin® Butter Pecan Syrup</a></li>
<li>1 1/4 oz. Bourbon</li>
<li>1/2 oz. Dark Rum</li>
<li>Dairy-Free Whipped Cream*</li>
<li>Pecans for Garnish*</li>
<br/>
<li>*Optional</li>
  </ul>
  </div>
  <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
  <h3 class="blog-recipe-block-header">Preparation</h3>
  <ol>
<li>Chill a martini glass or similar cocktail glassware for serving.</li>
<li>Pour all ingredients into mixing glass with 2/3 ice in the order listed.</li>
<li>Cap, shake and strain into your chilled serving glass.</li>
<li>Add garnish, and serve.</li>
  </ol>
  </div>
  </div>




<div style="margin:55px auto;">
  <a href="/pages/friendsgiving-ebook-optin">
    <img src="{{ 'Desktop_FriendsgivingEbook_NativeAd.jpg' | file_img_url: 'master' }}" alt="Friendsgiving Ebook - Desktop" class="small--hide lazyload no-print">
    <img src="{{ 'Mobile_FriendsgivingEbook_NativeAd.jpg' | file_img_url: 'master' }}" alt="Friendsgiving Ebook - Mobile" class="medium-up--hide lazyload">
  </a>
</div>



</div>







<div class="page-width-blog-news-bottom">
      {% paginate blogs.news.articles by 4 %}
      {% assign article_counter = 0 %}
        {% for articleData in blogs.news.articles %}
          {% if article_counter < 3 %}
            {% if articleData.handle != article.handle %}
              <div class="blog-bottom-section">
                <img src="{{ articleData.image.src | img_url: '600x' }}" alt="{{ articleData.image.alt }}" class="blog-bottom-image lazyload" />
                <div class="blog-bottom-product-text">
                  <div>
                  <a href="{{articleData.url}}" title="{{articleData.title}}" style="text-decoration:none;"><h3 class="blog-bottom">{{articleData.title}}</h3></a>
                  </div>
                  {% comment %}
                  {% if articleData.excerpt %}
                    <p class="blog-sidebar">{{articleData.excerpt}}</p>
                  {% endif %}
                  {% endcomment %}
                  <div>
                  <a href="{{articleData.url}}" alt="" class="btn btn--secondary btn--small text-center blog-bottom-button" aria-label="">Read More</a>
                  </div>
                </div>
              </div>
            {% else %}
              {% continue %}
            {% endif %}
            {% assign article_counter = article_counter | plus: 1 %}
          {% endif %}
        {% endfor %}
      {% endpaginate %}
</div>



  </div>
</div>