<div class="section-header text-center" style="margin-top:-55px;">
  <h1>
    <img src="{{ 'Hemp_Pillar_Header_Text.jpg' | file_img_url: 'master' }}" alt="All About Hemp" class="small--hide" style="width:100%;">
    <img src="{{ 'Hemp_Pillar_HeaderImage_Text_Mobile.jpg' | file_img_url: 'master' }}" alt="All About Hemp" class="medium-up--hide" style="width:100%;">
  </h1>
</div>

<div class="page-width page-content">
  <div class="grid">
    <div class="grid__item">
      <div class="">
        <p class="pillar__header-text">If you haven't heard of hemp milk or hemp creamer, that's understandable. It wasn't even a thing until Elmhurst® introduced a creamer in 2019</a>. Welcome to a place where you can learn all about the very first product of its kind – now revolutionizing shelves and dairy cases full of more traditional dairy and plant-based options – as well as the little seeds behind it.</p>
        
        <nav id="pillar__table-of-contents">
          <h2 class="pillar">Table of Contents</h2>
          <ul class="pillar__toc">
            <li><a href="#whatishempmilk" alt="">What is hemp milk?</a></li>
            <li><a href="#drugtest" alt="">Will hemp creamers show up on a drug test?</a></li>
            <li><a href="#benefits" alt="">The benefits of hemp milk</a></li>
            <li><a href="#taste" alt="">How does hemp milk taste?</a></li>
            <li><a href="#howitsmade" alt="">How is hemp milk made?</a></li>
            <li><a href="#ingredients" alt="">Hemp milk ingredients</a></li>
           </ul>
        </nav>

        <section class="pillar">
          <h2 id="whatishempmilk" class="pillar">What is hemp milk?</h2>
          <p>Hemp milk is essentially the cream of hemp seeds combined with water. Our variation, hemp creamer, is just as simple: creamer for your coffee (or tea, if you prefer) made from hemp seeds. <a href="https://elmhurst1925.com/collections/hemp-creamers/products/hemp-creamer-original">Elmhurst Original Unsweetened Hemp Creamer</a> is crafted using a unique method, HydroRelease™. This allows us to use real hemp cream, rather than the oil byproduct.</p>

          <p>As Elmhurst prides itself on nutrient-richness from the source, we’ve minimized the clutter in our creamer. There are only four ingredients – led by water and hemp seeds, which combine to form the hemp cream that gives this product its name.</p>

          <p>Finding it hard to get past the word "hemp"? Understandable. It’s loaded with connotations, myths, and questions. In the middle of these are some secret benefits, making hemp creamer</a> more than just a novelty or gimmick. Indeed, it has every potential to be a coffee essential.</p>
        </section>

        <section class="pillar">
          <h2 id="drugtest" class="pillar">Will hemp creamers show up on a drug test?</h2>
          <p>You will not fail a drug test if you use <a href="https://elmhurst1925.com/collections/hemp-creamers/products/hemp-creamer-original">hemp creamer</a>.</p>

          <p><a href="https://elmhurst1925.com/blogs/news/does-hemp-get-me-high-qxh">Will hemp creamer get me high?</a> Also a no.</p>

          <p>The reason our hemp creamer will not get you high or show on a drug test is in the plant itself. A common misunderstanding has equated hemp with the stuff used to make marijuana. In fact, these are two very different strains of cannabis – some think different species altogether.<a href="#drugtest_footnote1"><sup>1</sup></a></p>

          <img src="{{ 'Hemp_Pillar_Sativa_Updated.jpg.jpg' | file_img_url: 'master' }}" alt="Sativa leaf" style="margin-bottom:35px;" />

          <div class="pillar__side-image" style="display:inline-block;">
            <div class="grid__item large-up--one-half pillar__desktop-border" style="padding-right:30px;padding-bottom:60px;">
              
              <p style="color:#128757;font-weight:600">Cannabis Sativa</p>
              <p>This is also known as "industrial hemp" because it has an array of traditional, perfectly socially acceptable uses. It is low in THC. That’s the chemical that gives marijuana its effect. The Agricultural Marketing Resource Center describes industrial hemp as "a spindly main stalk covered with leaves."<a href="#drugtest_footnote2"><sup>2</sup></a> Hey, wait...I might have one of those in my yard!</p>
            </div>

            <hr class="pillar-green-mobile" />

            <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:60px;">
              
              <p style="color:#128757;font-weight:600">Cannabis Indica</p>
              <p>This is the higher-THC variety of cannabis. It is responsible for much of the (until recently) taboo imagery: the leaf with seven serrated leaflets; marijuana; lazy, swirling white smoke. The words “cannabis” and “hemp” often connote indica in popular culture – which makes the whole matter of explaining “industrial hemp” without a wink or chuckle more difficult.</p>
            </div>
        </div>



          <p>As relates to psychoactive drug effects, the key difference between the Cannabis sativa subspecies sativa (industrial hemp) and indica is THC. THC is a compound that reacts with certain cannabinoid (CB) receptors in the brain. Behavioral and psychological effects may include euphoria, altered time perception, lack of concentration, and a strange attraction to tie-die.<a href="#drugtest_footnote3"><sup>3</sup></a></p>

          <p>For many years, industrial hemp suffered from an erroneous hemp = THC/cannabis/marijuana equation. These were the days of the crime dog, singalong “don’t do drugs” television commercials, and the inevitable “kid caught with pot” episode of every single Friday night family television program in America.</p>

          <p>But we all become wiser in time. The 2018 Farm Bill finally removed cannabis with a THC level of 0.3% or less (classified as “hemp”) from the Controlled Substances List.<a href="#drugtest_footnote4"><sup>4</sup></a> This timely legislation has cleared the way for Elmhurst to create a legal, perfectly safe hemp creamer.</p>

          <p>Elmhurst’s hemp creamer falls within the regulatory limits for THC, containing only trace amounts inherent to hemp seeds. You will not get high or make you fail a drug test from consumption of our creamer at any level. It’s also perfectly safe for children and pregnancy.</p>

          <div class="footnotes">
            <ul class="footnotes">
              <li><sup id="drugtest_footnote1">1</sup>Daniel Piomelli and Ethan B. Russo, “The Cannabis sativa Versus Cannabis indica Debate: An Interview with Ethan Russo, MD,” Cannabis Cannabinoid Research 1, no. 1 (2016): 44-46, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5576603/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5576603/</a></li>
              <li><sup id="drugtest_footnote2">2</sup>“Industrial Hemp,” Agricultural Marketing Resource Center, last modified March, 2019, <a href="https://www.agmrc.org/commodities-products/fiber/industrial-hemp">https://www.agmrc.org/commodities-products/fiber/industrial-hemp</a></li>
              <li><sup id="drugtest_footnote3">3</sup> Pryamvada Sharma, Pratima Murthy, and M.M. Sriynivas Bharath, “Chemistry, Metabolism, and Toxicology of Cannabis: Clinical Implications,” Iranian Journal of Psychiatry 7, no. 4 (Fall 2012), 149-156, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3570572/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3570572/</a></li>
              <li><sup id="drugtest_footnote4">4</sup>“Federal Hemp Legislation,” Vote Hemp, accessed April 22, 2019, <a href="https://www.votehemp.com/federal-hemp-legislation/">https://www.votehemp.com/federal-hemp-legislation/</a></li>
            </ul>
          </div>

          <div style="margin:0 auto;max-width:1000px">
            <a href="/collections/hemp-creamers/products/hemp-creamer-original">
            <img src="{{ 'TryHemp_Shopify_WebAd_Desktop.jpg' | file_img_url: 'master' }}" alt="Try Hemp Desktop Image" class="small--hide">
            <img src="{{ 'TryHemp_Shopify_WebAd_Mobile.jpg' | file_img_url: 'master' }}" alt="Try Hemp Mobile Image" class="medium-up--hide">
            </a>
          </div>

        </section>

        <section class="pillar">
          <h2 id="benefits" class="pillar">The benefits of hemp milk</h2>
          <p>Wrote early American author-philosopher Ralph Waldo Emerson: “What is a weed? A plant whose virtues have not yet been discovered.” We might have substituted “hemp” for “weed” – at least until recently. (Amazingly there is no pun intended in this conversation.) Now we have discovered that the benefits of hemp are quite exceptional – for both body and earth.</p>

          <img src="{{ 'BenefitsOfHemp_Infographic_Temporary_Desktop.jpg' | file_img_url: 'master' }}" alt="Benefits of Hemp Infographic Desktop Version" class="small--hide">
          <img src="{{ 'BenefitsOfHemp_Infographic_Temporary_Mobile.jpg' | file_img_url: 'master' }}" alt="Benefits of Hemp Infographic Mobile Version" class="medium-up--hide">

          <p>More and more, nutrition and the earth go together. We need our health to be good stewards. And the land sustains us in return. With its trifecta of Omega-3, Vitamin E, and Sustainability, consuming hemp – including <a href="https://elmhurst1925.com/collections/hemp-creamers">hemp creamer</a> – is a great way to achieve a well-balanced array of benefits that make a difference.</p>
        </section>

        <section class="pillar">
          <h2 id="taste" class="pillar">How does hemp milk taste</h2>
          <p>It’s hard to define hemp milk – or, in this case, creamer – with precision because flavor can be a matter of opinion. What we can say with confidence is that it might not taste like anything you are used to. This comes with the territory of being a new idea – but you figure chocolate was new at some point, too!</p>

          <p>So, you may find it an acquired taste. Or you may think it’s just plain good. Either way you’ll get your omega-3s. Here are some words that may describe the flavor:</p>

          <ul class="pillar" style="">
            <li>Natural</li>
            <li>Nutty</li>
            <li>Earthy</li>
            <li>Authentic</li>
            <li>Neutral</li>
          </ul>

          <p>That’s an interesting set of ideas, isn’t it? For more insight, we took our hemp creamer on the road to some happening coffee joints. Here is what people thought!</p>

          <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom:40px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/9nRHs_R3wBg' frameborder='0' allowfullscreen></iframe></div>

          <p>Remember – with Elmhurst the grain, nut, or seed always leads. That’s the nutrition you are getting. And that’s the flavor channeled from nature.</p>

          <p>If you don’t find our hemp creamer to be a flavor explosion, that’s good. Subtlety is the point. We don’t want to overpower the coffee; there are some pretty luxurious roasts out there that deserve better than to be buried in a creamer. Our hemp creamer is accordingly designed for balance – forging an alliance with, rather than rivaling, your cup.</p>
        </section>

        <section class="pillar">
          <h2 id="howitsmade" class="pillar">How is hemp milk made?</h2>
          <p>"Let’s start at the very beginning." So said Maria von Trapp in The Sound of Music. In this case, it isn’t the Austrian Alps but the outstretched fields of North America.</p>

          <p>It was quite a long road for agricultural production of industrial hemp to even be legal in the U.S. Now that we’ve finally crossed that bridge, here’s how hemp creamer gets to you:</p>

          <div class="" style="display:inline-block;margin-bottom:30px;">
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:60px;text-align:center">
              <svg xmlns="http://www.w3.org/2000/svg" height="150px" width="150px" viewBox="0 0 70.03 69.32"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#0d8757;}</style></defs><title>TheFarm_Icon</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-2" d="M69.87,44.13,65.75,33.87h0L59.91,19.34a2.19,2.19,0,0,0-.72-.95L35.86.65,35.31.23,35,0l-.08.06-.1.08-24,18.25a2.14,2.14,0,0,0-.73.95L4.28,33.86h0L.16,44.13a2.24,2.24,0,0,0,.49,2.41l3.63,3.67V67.07a2.25,2.25,0,0,0,2.25,2.25h57a2.25,2.25,0,0,0,2.25-2.25V50.21l3.63-3.67A2.24,2.24,0,0,0,69.87,44.13ZM4.28,46.21,2.92,44.83l1.36-3.4Zm18,5.9-8,11.32V40.8ZM24,54.55l8.33,11.77H15.62Zm9.66,8.76-7.93-11.2,7.93-11.2Zm2.81-22.66,8.12,11.46L36.42,63.58Zm9.84,13.9,8.33,11.77H37.93ZM48,52.11l7.82-11v22.1Zm-1.73-2.44L38,38H54.55ZM24,49.67,15.66,38H32.24Zm39,16.83h-4.3V35.15H11.4V66.5H7.1V34.42l5.57-13.89L35,3.54l22.36,17,5.57,13.89Zm2.82-20.29V41.43l1.36,3.4Z"/><path class="cls-2" d="M35,18.71c3.76,0,7,2.9,8,6.85h-2.6c-4.21,0-9.82-.07-13.27-.12,1-3.89,4.19-6.74,7.92-6.74m0-2.81c-6.13,0-11.1,5.52-11.1,12.32,0,0,9.87.17,16.45.17a39.71,39.71,0,0,0,5.75-.17c0-6.8-5-12.32-11.1-12.32Z"/></g></g></svg>
              <p style="color:#128757;font-weight:600;text-transform: uppercase;">1. The Farm</p>
              <p style="text-align:left;">Hemp grows well in temperate climates, including the northern US into Canada. Interestingly, plants can be either male or female, with only females producing seeds and males serving to pollinate. The seeds are very small: there are about 27,000 per pound! These can be planted close together – 10-15 per square foot – for greater yield.<a href="#howitsmade_footnote1"><sup>1</sup></a></p>
            </div>

            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
              <svg xmlns="http://www.w3.org/2000/svg" height="150px" width="150px" viewBox="0 0 69.1 56.44"><defs><style>.cls-1{fill:#0d8757;}</style></defs><title>Hydrorelease_icon</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M68.61,46.38,61,41a14.44,14.44,0,0,0-2.8-1.5A20.19,20.19,0,0,0,63,29.76L65,18.25a1.15,1.15,0,0,0-.32-1,1.1,1.1,0,0,0-1-.32L52.12,18.85a18.52,18.52,0,0,0-6.51,2.51,23.43,23.43,0,0,0-3.32-10.23L35.52.53a1.17,1.17,0,0,0-1-.53,1.15,1.15,0,0,0-1,.53L26.8,11.13a23.42,23.42,0,0,0-3.31,10.22A18.5,18.5,0,0,0,17,18.85L5.47,16.93a1.12,1.12,0,0,0-1,.32,1.15,1.15,0,0,0-.32,1L6.07,29.76A20.19,20.19,0,0,0,11,39.51,14.16,14.16,0,0,0,8.15,41L.49,46.38a1.15,1.15,0,0,0-.49.94,1.13,1.13,0,0,0,.49.94l7.66,5.38a17.08,17.08,0,0,0,9.69,2.8,17.14,17.14,0,0,0,9.7-2.8l7-4.92,7,4.92a17.14,17.14,0,0,0,9.7,2.8A17.08,17.08,0,0,0,61,53.64l7.66-5.38a1.13,1.13,0,0,0,.49-.94A1.15,1.15,0,0,0,68.61,46.38ZM52.5,21.12l9.92-1.66-1.66,9.92a18.24,18.24,0,0,1-5,9.37C51,37.57,45.4,38.32,41.56,41l-2.92,2.05,3.65-5.72A24.74,24.74,0,0,0,45.75,24,17,17,0,0,1,52.5,21.12Zm1.17,19.52a17.43,17.43,0,0,1-7.8,3.63l-6.49,1.08,3.5-2.46A15.46,15.46,0,0,1,53.67,40.64ZM36.62,42l1-6a18.51,18.51,0,0,1,5.84-10.19A21.84,21.84,0,0,1,40.36,36.1ZM28.74,12.36l5.81-9.08,5.81,9.08a21.84,21.84,0,0,1,3.09,10.47,21.44,21.44,0,0,0-8.11,12.8l-.79,4.74-.79-4.74a21.41,21.41,0,0,0-8.12-12.8A21.74,21.74,0,0,1,28.74,12.36ZM32.48,42,28.74,36.1a21.73,21.73,0,0,1-3.1-10.3A18.59,18.59,0,0,1,31.49,36ZM8.34,29.38,6.68,19.46l9.92,1.66A17,17,0,0,1,23.34,24,24.74,24.74,0,0,0,26.8,37.34l3.65,5.72L27.54,41c-3.84-2.69-9.4-3.44-14.21-2.26A18.24,18.24,0,0,1,8.34,29.38Zm21.38,16-6.49-1.08a17.43,17.43,0,0,1-7.8-3.63,15.42,15.42,0,0,1,10.78,2.25Zm-3.51,6.4a15.63,15.63,0,0,1-16.74,0L3.15,47.32l6.32-4.43A13,13,0,0,1,12.7,41.3a20.35,20.35,0,0,0,10.15,5.23L31.58,48Zm33.42,0a15.65,15.65,0,0,1-16.75,0L37.52,48l8.73-1.46A20.35,20.35,0,0,0,56.4,41.3a13,13,0,0,1,3.23,1.59L66,47.32Z"/></g></g></svg>
              <p style="color:#128757;font-weight:600;text-transform: uppercase;">2. HydroRelease™</p>
              <p style="text-align:left;">When harvested hemp seeds arrive for production, they are washed and enter our unique process. The hemp seed is transformed to hemp cream using only water. It is now ready to be turned into a coffee creamer. Omega-3 nutrition is maintained and no added gums, oils, or emulsifiers are needed.</p>
            </div>
          </div>
          <div class="" style="display:inline-block;">
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
              <svg xmlns="http://www.w3.org/2000/svg" height="150px" width="150px" viewBox="0 0 34.77 68.49"><defs><style>.cls-1{fill:#0d8757;}</style></defs><title>AsepticProcessing_Icon</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M34.76,21.51a1.34,1.34,0,0,0-.12-.58L26.76,5.06a1.31,1.31,0,0,0-1.18-.73h-.31v-3A1.31,1.31,0,0,0,24,0H10.81A1.32,1.32,0,0,0,9.5,1.32v3H9.19A1.31,1.31,0,0,0,8,5.06L.14,20.93a1.21,1.21,0,0,0-.12.58H0V67.17a1.32,1.32,0,0,0,1.32,1.32H33.46a1.32,1.32,0,0,0,1.31-1.32V21.51ZM12.13,2.63H22.64v1.7H12.13ZM10,7H24.77l6.94,14C30,21.71,25.8,23,17.39,23S4.77,21.7,3.06,21ZM2.63,65.86V23.64c2.33.9,6.82,2,14.76,2s12.42-1.13,14.75-2V65.86Z"/><path class="cls-1" d="M19.8,37.26a.84.84,0,0,1,.46.15,9,9,0,0,0-.49,2.67,4.16,4.16,0,0,0,.75,2.49c1.39-1,2.52-4.36,2.52-6.93,0-1.44-.36-2.62-1.24-3-3.08,0-5.63,5.53-5.83,10a7.11,7.11,0,0,0,.72,4,15.92,15.92,0,0,0,3.19-1.33,1.91,1.91,0,0,1,.38,1.07A2,2,0,0,1,18,48.2a4.25,4.25,0,0,1-2.15-.64c-2.57,1-3.73,4.29-3.73,6.72,0,1.19.28,2.14.82,2.44,2.85-.1,4-4.18,4.14-6.7a4.52,4.52,0,0,1,.49-.05c1.18,0,1.74.9,1.74,2.08,0,2.34-2,5.7-5.49,5.7A4,4,0,0,1,9.4,53.44c0-3,2.18-6.32,5.6-6.6a7.06,7.06,0,0,1-1.41-4.73c0-4.77,2.85-10.53,7.42-10.53,3.13,0,4.36,2.26,4.36,4.83,0,3.34-2.1,7.14-4.93,7.14-1.57,0-2.65-1.07-2.65-3.06,0-1.51,1.21-3.23,2-3.23"/><path class="cls-1" d="M19.08,56.47a1.28,1.28,0,1,1,1.28,1.28A1.27,1.27,0,0,1,19.08,56.47Zm2.37,0a1.09,1.09,0,1,0-1.09,1.1A1.09,1.09,0,0,0,21.45,56.47Zm-1.6-.7h.53c.28,0,.52.13.52.43a.37.37,0,0,1-.3.36,1.77,1.77,0,0,1,.42.61h-.3c-.25-.44-.32-.54-.51-.54h-.09v.54h-.27Zm.48.65c.19,0,.3-.07.3-.22s-.11-.21-.3-.21h-.21v.43Z"/></g></g></svg>
              <p style="color:#128757;font-weight:600;text-transform: uppercase;">3. Aseptic processing</p>
              <p style="text-align:left;">This is how we achieve long shelf-life. Product is sterilized and packaged in airtight container. Because oxygen can’t in, things can’t grow, and your plant-based beverage stays fresh at room temperature for six months. No refrigeration needed.</p>
            </div>
            <div class="grid__item medium-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
              <svg xmlns="http://www.w3.org/2000/svg" height="150px" width="150px" viewBox="0 0 72.01 54.38"><defs><style>.cls-1{fill:#0d8757;}</style></defs><title>Shipping_Icon</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M71.86,22.44,66.11,5.54A2.67,2.67,0,0,0,64,3.74L39.32.21a27.2,27.2,0,0,0-6.64,0L8.06,3.74a2.68,2.68,0,0,0-2.17,1.8L.14,22.44a2.73,2.73,0,0,0,.38,2.47A2.7,2.7,0,0,0,2.69,26h.08l3.62-.1V46.33a2.69,2.69,0,0,0,2.14,2.61L34,54.21h0a11.83,11.83,0,0,0,3.84,0l.19,0L63.48,49a2.67,2.67,0,0,0,2.13-2.61V25.9l3.63.1h.07a2.69,2.69,0,0,0,2.55-3.56Zm-69.16,1a.19.19,0,0,1-.18-.24L8.27,6.35a.17.17,0,0,1,.15-.12L33,2.69h0a.17.17,0,0,1,.14.07.17.17,0,0,1,0,.17l-7,19.81a.18.18,0,0,1-.17.12Zm32,28.11a.18.18,0,0,1-.06.13.25.25,0,0,1-.17,0L9,46.49a.16.16,0,0,1-.15-.16V25.83l17.21-.46a2.73,2.73,0,0,0,2.47-1.79L34.7,6.31Zm28.42-5.26a.18.18,0,0,1-.15.17L37.54,51.77a.2.2,0,0,1-.17,0,.16.16,0,0,1-.07-.13V6.31l6.14,17.27a2.71,2.71,0,0,0,2.47,1.79l17.21.47Zm6.34-22.93a.18.18,0,0,1-.15.08L46,22.86a.17.17,0,0,1-.17-.12l-7-19.81a.17.17,0,0,1,0-.17A.19.19,0,0,1,39,2.69L63.59,6.23a.16.16,0,0,1,.14.12l5.76,16.9A.16.16,0,0,1,69.46,23.41Z"/></g></g></svg>
              <p style="color:#128757;font-weight:600;text-transform: uppercase;">4. Shipping</p>
              <p style="text-align:left;">Whether directly to your home or via a store, our durable containers bring hemp and its benefits to your cup.</p>
            </div>
          </div>

          <div class="footnotes">
            <ul class="footnotes">
              <li><sup id="howitsmade_footnote1">1</sup>“Hemp Production,” Purdue University Hemp Project, 2015, <a href="https://dev.purduehemp.org/hemp-production/">https://dev.purduehemp.org/hemp-production/</a></li>
            </ul>
          </div>

        </section>

        <section class="pillar">
          <h2 id="ingredients" class="pillar">Hemp milk ingredients</h2>
          <p>There are just four ingredients in Elmhurst original unsweetened hemp creamer. Two – hemp seeds and water – form hemp cream.</p>

          <div class="grid__item large-up--one-whole" style="padding-left:0;margin-bottom:0px">
          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px">

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0;">
                <img src="{{ 'Hemp_Pillar_HempSeeds.jpg' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Hemp Seeds</p>
                <p>Hemp seeds are about 32 percent fat, a vast majority of which is polyunsaturated (PUFA), with a “perfect” 3:1 omega-6 to omega-3 ratio.<a href="#ingredients_footnote1"><sup>1</sup></a></p>
              </div>
            </div>

            <div class="grid__item widescreen-up--three-quarters" style="padding-right:30px;padding-bottom:60px;padding-left:0">

              <div class="grid__item medium-up--one-quarter" style="padding-left:0">
                <img src="{{ 'Hemp_Pillar_WaterDroplets.jpg' | file_img_url: 'master' }}" style="width:75%;display: inline-block;"/>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <p style="color:#128757;font-weight:600;margin-bottom:0">Filtered Water</p>
                <p>Water covers 70 percent of the Earth’s surface and is necessary to life. Only 2.5 percent is fresh water, but this gives us what we need to make hemp cream and pass hemp seed nutrition along.<a href="#ingredients_footnote2"><sup>2</sup></a></p>
              </div>
            </div>

          </div>

          <div class="grid__item large-up--one-half" style="display:inline-block;margin-bottom:0px;padding-left:0">
          <img src="{{ 'RealHempCream.gif' | file_img_url: 'master' }}" style="width:100%"/>
          </div>

        </div>


          <p>Other ingredients, including minerals, may be added to hemp cream in small amounts for functionality (dipotassium phosphate) and to balance taste (natural flavors).</p>

          <p>Dipotassium phosphate. This is a water-soluble salt that improves our hemp creamer’s performance in coffee. It is “generally recognized as safe” by the FDA.<a href="#ingredients_footnote3"><sup>3</sup></a></p>

          <p>Natural flavors. All of our natural flavors are plant-based – derived from spices, fruits, vegetables, herbs, roots other plant materials. They are considered safe by the FDA and American Vegan Association, and are Non-GMO project verified.</p>

          <p>Many companies call their plant-based products “milk” or “creamer.” But not all use the same number of grains, nuts, and seeds. One way to assess this is through nutritional comparison. For instance, Elmhurst’s original <a href="https://elmhurst1925.com/collections/plant-milks/products/milked-almonds">Milked Almonds™</a> has 5g protein per serving compared to the corresponding Califia Farms product’s 1g.<a href="#ingredients_footnote4"><sup>4</sup></a> Also notable is how many extras – like gums – are needed to give the product a milk-like texture.</p>


          <div class="footnotes">
            <ul class="footnotes">
              <li><sup id="ingredients_footnote1">1</sup>Shobha S. Borhade, “Chemical Composition and Characterization of Hemp (Cannabis sativa) Seed,” Archives of Applied Science Research, 5, no. 1 (2013): 5-8, <a href="https://www.scholarsresearchlibrary.com/articles/chemical-composition-and-characterization-of-hemp-cannabis-sativa-seed-oil-and-essential-fatty-acids-by-hplc-method.pdf">https://www.scholarsresearchlibrary.com/articles/chemical-composition-and-characterization-of-hemp-cannabis-sativa-seed-oil-and-essential-fatty-acids-by-hplc-method.pdf</a></li>
              <li><sup id="ingredients_footnote2">2</sup>“Freshwater Crisis,” National Geographic, accessed April 24, 2019, <a href="https://www.nationalgeographic.com/environment/freshwater/freshwater-crisis/">https://www.nationalgeographic.com/environment/freshwater/freshwater-crisis/</a></li>
              <li><sup id="ingredients_footnote3">3</sup>“21 CFR 182:6285: Dipotassium phosphate,” Code of Federal Regulations, U.S. Food & Drug Administration,” <a href="https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/CFRSearch.cfm?fr=182.6285">https://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/CFRSearch.cfm?fr=182.6285</a></li>
              <li><sup id="ingredients_footnote4">4</sup>Original Almondmilk,” Califia Farms, accessed April 24, 2019, <a href="https://www.califiafarms.com/collections/plant-milks/products/original-48oz">https://www.califiafarms.com/collections/plant-milks/products/original-48oz</a></li>
            </ul>
          </div>

          <p style="text-align:center;padding-left:0px">
            <a href="/collections/hemp-creamers/products/hemp-creamer-original">
            <img src="{{ 'TryHemp_Shopify_WebAd_Desktop.jpg' | file_img_url: 'master' }}" alt="Try Hemp Desktop Image" class="small--hide">
            <img src="{{ 'TryHemp_Shopify_WebAd_Mobile.jpg' | file_img_url: 'master' }}" alt="Try Hemp Mobile Image" class="medium-up--hide">
            </a>
          </p>

        </section>


      </div>
    </div>
  </div>
</div>
