<div class="">
  <div class="grid">
    <div class="grid__item">
   <div class="full-feature-row feature-row feature-row-banner txt-bckgrd-img">
     <div class="txt-ovr-img process-hdr-txt">
       <div>
         Superior<br>Plant-Based<br>Nutrition.
     </div>
       <div class="process-subtxt">
         The hydrorelease method
         <sup>tm</sup>
       </div>
     </div>
        
        <img src="{{ 'OurProcess_Header_Desktop_NoText.png' | file_img_url: 'master' }}" alt="" class="small--hide" style="width:100%;">
        <img src="{{ 'OurProcess_Header_Mobile_NoText.png' | file_img_url: 'master' }}" alt="" class="medium-up--hide" style="width:100%;">
       
      </div>

	      <div class="page-width page-content">
             <h1 class="content h1-ctr" style="padding-top: 25px";>{{ page.title }}</h1>
	      	<p class="content__header-text">Our process is simpler and better from start to finish. First, a unique HydroRelease™ method allows us to use more of the source grain, nut, or seed. This means superior nutrition and flavor with fewer ingredients. We then package our products in shelf-stable, recyclable cartons. Many have a variety of uses, ranging from cooking to coffee; soups to sauces.</p>

<!--
	      	<section class="pillar" style="max-width:1000px;margin:0 auto;">
	      		<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom:40px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/9nRHs_R3wBg' frameborder='0' allowfullscreen></iframe></div>	
	      	<h2 class="process">How it's done</h2>
	      	<p>Simpler and better don't always just happen. Step inside our production facility, and see what unparalleled innovation and robust technology can do!</p>
	      	</section>
-->
<hr class="process"/>

	      	<section class="pillar h2-class" style="max-width:1000px;margin:0 auto;">
	      	<img src="{{ 'OurProcess_HydroreleaseMethod_836dca19-6158-43f8-a44d-f5b5286e58b5.gif' | file_img_url: 'master' }}" alt="Our HydroRelease Method" class="" style="margin-bottom:30px">
	      	<h2 class="process text-center">HYDRORELEASE™ METHOD</h2>
	      	<p class="text-center">This game-changing process was developed by famous food technologist Dr. Cheryl Mitchell. First we use just water to separate the nutritional components of the nut or grain. Keeping these intact maintains their integrity for you to enjoy, both nutritionally and flavorfully, in the finished product.</p>
	      	</section>

<hr class="process"/>

	      	<section class="pillar h2-class" style="max-width:1000px;margin:0 auto;">
	      	<img src="{{ 'OurProcess_NaturallyCreamy_ccf1af48-b0de-4b47-af51-dc5876256985.gif' | file_img_url: 'master' }}" alt="Naturally Creamy" class="" style="margin-bottom:30px">
	      	<h2 class="text-center process">NATURALLY CREAMY BEVERAGES</h2>
	      	<p class="text-center">Next, we put the nutrients back together as a thick, creamy, full-flavored emulsion. No added gums or emulsifiers are needed to hold the product together, giving all Elmhurst products a clean label of no more than six – and as few as two – ingredients.</p>
	      	</section>

<hr class="process"/>

	      	<section class="pillar h2-class" style="max-width:1000px;margin:0 auto;">
	      	<img src="{{ 'OurProcess_AsepticPackaging_a77cf005-e145-4428-a5ba-336a23c3524e.gif' | file_img_url: 'master' }}" alt="Aseptic Packaging" class="" style="margin-bottom:30px">
	      	<h2 class="text-center process">ASEPTIC PACKAGING</h2>
	      	<p class="text-center">This technology uses time, temperature, and hermetic sealing to create fully sterile beverages without need for preservatives. Each Elmhurst carton is shelf stable and can be safely stored at room temperature until opened.</p>
	      	</section>

<hr class="process"/>

	      	<section class="pillar h2-class" style="max-width:1000px;margin:0 auto;">
	      	<img src="{{ 'OurProcess_Versatility_2cab8e0c-de17-4ad0-ad9f-5bc4a4866b11.gif' | file_img_url: 'master' }}" alt="Versatility" class="" style="margin-bottom:30px">
	      	<h2 class="text-center process">VERSATILITY</h2>
	      	<p class="text-center">Elmhurst products are versatile, with a variety of uses beyond drinking and cereal. These may include everything from coffee to cooking; smoothies to soups. Our cashew milk, for instance, works to barista standards in coffee, and can also be used in baking and sauces.</p>
	      </section>

<hr class="process"/>

	      <section class="pillar h2-class" style="max-width:1000px;margin:0 auto;">
	      	<img src="{{ 'OurProcess_Sustainability_d10994c2-bd04-4bba-b6ef-2261a6108a48.gif' | file_img_url: 'master' }}" alt="Sustainability" class="" style="margin-bottom:30px">
	      	<h2 class="text-center process">SUSTAINABILITY</h2>
	      	<p class="text-center">HydroRelease is a zero waste process, meaning all parts of the grain, nut, or seed are used. Our cartons are certified by the Forest Stewardship Council and 100% recyclable in most US homes. Plant-based foods generally have a lower carbon footprint than their animal counterparts.</p>
	      </section>

<hr class="process"/>

	      </div>
	      </div>

    </div>
  </div>
</div>
