<div class="text-center" style="margin-top:-55px;">
  <h1>
    <a href="#"><img src="{{ 'Header_Desktop_DOGFISH_PillarPage.jpg' | file_img_url: 'master' }}" alt="Hazy O Header" id="Hazy_Header_Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="#"><img src="{{ 'Header_Mobile_DOGFISH_PillarPage.jpg' | file_img_url: 'master' }}" alt="Hazy O Header" id="Hazy_Header_Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
  </h1>

</div>




<div class="hazy-button-container" style="margin-botton:20px;">
  <a href="https://www.dogfish.com/brewery/fishfinder" target="blank_" alt="Find Hazy O!" aria-label="">
    <img src="{{ 'Button_DESKTOP_HazyO.jpg' | file_img_url: 'master' }}" alt="Find Hazy-O" style="margin-right:30px;" class="small--hide">
  </a>	
  <a href="https://elmhurst1925.com/collections/plant-milks/products/unsweetened-milked-oats" target="blank_" alt="Buy Elmhurst Now" aria-label="" >
    <img src="{{ 'Button_DESKTOP_Elmhurst.jpg' | file_img_url: 'master' }}" alt="Buy Elmhurst Now" class="small--hide">
  </a>
  
</div>

<div class="text-center" style="margin-bottom: 20px;">
  <a href="https://www.dogfish.com/brewery/fishfinder" target="blank_" alt="Find Hazy O!" aria-label="">
    <img src="{{ 'Button_MOBILE_HazyO.jpg' | file_img_url: 'master' }}" alt="Find Hazy-O" class="medium-up--hide hazy-black" style="margin-bottom:15px;">
  </a>	
  <a href="https://elmhurst1925.com/collections/plant-milks/products/unsweetened-milked-oats" target="blank_" alt="Buy Elmhurst Now" aria-label="">
    <img src="{{ 'Button_MOBILE_Elmhurst.jpg' | file_img_url: 'master' }}" alt="Buy Elmhurst Now" class="medium-up--hide hazy-black">
  </a>
</div>





<div class="page-width page-content">
  <a href="#">
    <img src="{{ 'Copy_Partnership_Desktop.jpg' | file_img_url: 'master' }}" alt="Hazy-O Partnership Image" class="small--hide">
    <img src="{{ 'Copy_Partnership_Mobile.jpg' | file_img_url: 'master' }}" alt="Hazy-O Partnership Image" class="medium-up--hide">
  </a>
</div>


<div class="text-center" style="margin-top:30px;margin-bottom:30px; display:block;">
  <a href="#">
    <img src="{{ 'Banner_Desktop_DOGFISH_PillarPage.jpg' | file_img_url: 'master' }}" alt="First IPA Brewed OatMilk Banner" class="small--hide">
    <img src="{{ 'Banner_Mobile_DOGFISH_PillarPage.jpg' | file_img_url: 'master' }}" alt="First IPA Brewed OatMilk Banner" class="medium-up--hide">
  </a>
</div>




<div class="page-width page-content">
  
  <section class="content">
    <p>Folks from coast to coast are in for an "ooooh-so" tasty treat! <a href="https://www.dogfish.com/" target="blank_">Dogfish Head</a>'s NEW hazy IPA, Hazy-O!, is NOW available on shelves and taps nationwide. An ooooh-so-juicy hazy IPA, 
      <a href="https://www.dogfish.com/brewery/beer/hazy-o" target="blank_">Hazy-O!</a> is brewed with four types of oats – malted, rolled, naked and oat milk – for a hop-forward beer that is smooth and refreshing. Hazy-O! begins with truckloads of oats and 
      wheat to create a sumptuous, full-bodied base. Then, it is liberally dry-hopped with hop varieties that deliver an abundance of tropical notes, including citrus, mango and pineapple. 
      Available in 6pk/12oz cans, beer lovers can track down a case of Hazy-O! using Dogfish Head's <a href="https://www.dogfish.com/brewery/fishfinder" target="blank_">Fish Finder</a>.
    </p>
    
    <p>"Hazy-O! features a bunch of high-quality culinary ingredients, but oats are the star of the show," said Sam Calagione, Dogfish Head Founder & Brewer. "Each of the oat formats used 
      in Hazy-O! provide it with a unique characteristic. Malted oats offer delicate malty sweetness; rolled oats contribute a dense haze; naked oats provide subtle toasty, caramel 
      character; and the piece de resistance, oat milk, creates a silky soft mouthfeel that makes Hazy-O! drink like a 5% ABV session sipper, instead of the 7.1% ABV powerhouse that it is. 
      This foundation-of-four oat formats creates a target, allowing the beer's bright and juicy hops to hit the flavorful bullseye."
    </p>
    
    <p>Born from off-centered experimentation, Hazy-O! highlights the magic found at the intersection of two unique, but unexpectedly complementary trends – the simultaneous growth of hazy 
      IPAs and plant-based milks. The hazy IPA is THE fastest growing beer style in America, trending up nearly +80%*, and the growth of oat milk is even more astonishing, skyrocketing +220%
      in 2020.** "Oat milk is having a zeitgeist moment, especially in the active lifestyle community," said Calagione. "At Dogfish, we're proponents of leading active lifestyles that 
      include exercise and indulgence, and we're committed to crafting beers fitting that worldview. With Hazy-O!, we created a true hazy IPA that appeals to many audiences – craft beer 
      geeks, wellness-conscience consumers AND drinkers seeking lactose-free and vegan options. Thank you, oat milk!"
    </p>
    
    <p>
      The first-ever nationally distributed oat milk-centric IPA, Hazy-O! took almost a year of R&D to perfect. In fact, to ensure they harnessed all the goodness of oat milk in Hazy-O!, 
      Dogfish Head enlisted the help of <a href="https://elmhurst1925.com/collections/unsweetened/products/unsweetened-milked-oats" target="blank_">oat milk</a> scientists from Elmhurst 1925, a family-owned, plant-based milk producer out of New York. Using Elmhurst's culinary prowess and its 
      Unsweetened Milked Oats, made with three simple ingredients – oats, water and salt, Dogfish Head finalized the recipe for Hazy-O!, and "ooooh," it's delicious!
    </p>
    
    <p>
      "When we heard the team at Dogfish Head wanted to launch an oat milk IPA, we jumped at the chance to partner with them," said Heba Mahmoud, VP of Marketing at Elmhurst 1925. 
      "Surprisingly enough, there was a natural synergy between the two brands. We're all about using clean ingredients and maximizing the nutritional value and taste profile of 
      plant-based offerings. We're thrilled to help bring this new beverage to those seeking options they don't have to question when it comes to ingredients and taste. We can't wait to 
      be a part of special moments among friends and families as they sip and create lasting memories."
    </p>
    
    <p>For more about Dogfish Head and Hazy-O!, visit <a href="https://www.dogfish.com/" target="blank_">www.dogfish.com</a>. </p>
  
  
  	<div class="hazy-button-container">
      
    	<a href="https://www.dogfish.com/brewery/fishfinder" target="blank_" alt="" class="btn btn--secondary btn--small text-center hazy-green-button" aria-label="">FIND HAZY-O!</a>
    	<a href="https://elmhurst1925.com/collections/plant-milks/products/unsweetened-milked-oats" target="blank_" alt="" class="btn btn--secondary btn--small text-center hazy-green-button" aria-label="">BUY ELMHURST NOW</a>

     </div>
    
   </section>
  
  
</div>



