<div class="text-center" style="margin-top:-55px;margin-bottom:30px;">
  <h1>
    <div class="text-center" style="margin-top:30px;margin-bottom:30px;">
    <a href="/collections/all"><img src="{{ 'DESKTOP_OO.jpg' | file_img_url: 'master' }}" alt="Elmhurst Seasonal Creamers Header Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/collections/all"><img src="{{ 'MOBILE_OO.jpg' | file_img_url: 'master' }}" alt="Elmhurst Seasonal Creamers Header Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
    </div>
    </h1>
</div>


<div class="rich-text-editor">
  <div class="page-width page-content">

    <section class="pillar">
    <p>Congrats! 2020 has been hard enough – let us help you start each morning with an easy, healthy and nutritious breakfast. Here’s why Oats Overnight & Elmhurst are the perfect pair:</p>
    </section>


  <section class="content">
    <div class="grid">

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <h3 style="font-weight:600;font-size:34px;text-align:left;">ELMHURST 1925</h3>
      <p style="text-align:left;">With as few as 2 ingredients ie. almonds + water...Elmhurst is all about simpler ingredients and better nutrition. No gums, emulsifiers or other unnecessary junk...all while keeping their milks super creamy and flavorful.</p>
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <h3 style="font-weight:600;font-size:34px;text-align:left;">OATS OVERNIGHT</h3>
      <p style="text-align:left;">Packed with protein & real ingredients, Oats Overnight is the most convenient breakfast option. Shaving off 20 minutes of your breakfast prep, these oats are commute friendly (and of course work from home approved).</p>
    </div>
  </div>
  </section>


    <section class="pillar">
    <p>So...what happens when you bring the cleanest plant-milk and the most convenient overnight oats together?...PURE MAGIC! Explore your exclusive offers below.</p>
    </section>


    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom:60px;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/Pc43bhtHtdY' frameborder='0' allowfullscreen></iframe></div>


  
  <section class="content" style="margin-top:80px;">
    <h2 id="" class="pillar icecream" style="color:black;">A POWER PACKED BREAKFAST IS 3 STEPS AWAY:</h2>

    <div class="grid">
    <div class="grid__item large-up--one-third" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Step-1_elmhurst.png' | file_img_url: 'master' }}" />
      <h3 style="font-weight:600;font-size:34px;">SHAKE</h3>
      <h4>SHAKE WITH ELMHURST PRODUCT</h4>
    </div>

    <div class="grid__item large-up--one-third" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Step-2.png' | file_img_url: 'master' }}" />
      <h3 style="font-weight:600;font-size:34px;">CHILL</h3>
      <h4>CHILL IN THE FRIDGE OVERNIGHT</h4>
    </div>

    <div class="grid__item large-up--one-third" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Step-3.png' | file_img_url: 'master' }}" />
      <h3 style="font-weight:600;font-size:34px;">ENJOY</h3>
      <h4>ENJOY YOUR OVERNIGHT OATS</h4>
    </div>

  </div>


  <div style="text-align:center;margin-top:50px;">
    <a class="btn" href="/collections/all" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center;background-color:black;">SHOP NOW TO SAVE</a>
    </div>

  </section>

    <section class="pillar" style="margin-top:100px">

    <img src="{{ 'Flavors_OO_US_1200x800_9ba2a20a-3afa-48fa-85c0-861acce05fed.gif' | file_img_url: 'master' }}" alt="Flavors GIF Desktop" class="small--hide lazyload no-print" style="width:100%;">

    <img src="{{ 'Flavors_OO_US_SQ.gif' | file_img_url: 'master' }}" alt="Flavors GIF Mobile" class="medium-up--hide lazyload no-print" style="width:100%;">

  </section>


<section class="content" style="margin-top:80px;">
    <h2 id="" class="pillar icecream" style="color:black;">FAN FAVORITE COMBOS:</h2>

    <h3 style="font-weight:600;font-size:36px;text-align:left;margin-bottom:5px;">BLUEBERRY PANCAKES</h3>
    <p style="text-align:left;">OATS OVERNIGHT MAPLE PANCAKES + <a style="color:black;" href="/collections/all/products/milked-oats-blueberry-12oz">ELMHURST BLUEBERRY OAT MILK</a></p>

    <h3 style="font-weight:600;font-size:36px;margin-bottom:5px;">MAPLE WALNUT PANCAKES</h3>
    <p style="text-align:left;">OATS OVERNIGHT MAPLE PANCAKES + <a style="color:black;" href="/collections/all/products/unsweetened-milked-walnuts">UNSWEETENED ELMHURST WALNUT MILK</a></p>

    <h3 style="font-weight:600;font-size:36px;margin-bottom:5px;">PEANUT BUTTER CUP</h3>
    <p style="text-align:left;">OATS OVERNIGHT PEANUT BUTTER COOKIE DOUGH CACAO CRUNCH + <a style="color:black;" href="/collections/all/products/milked-oats-chocolate">ELMHURST CHOCOLATE OAT MILK</a></p>

    <h3 style="font-weight:600;font-size:36px;margin-bottom:5px;">WALNUT MOCHA MADNESS</h3>
    <p style="text-align:left;">OATS OVERNIGHT MOCHA DREAM + <a style="color:black;" href="/collections/all/products/unsweetened-milked-walnuts">UNSWEETENED ELMHURST WALNUT MILK</a></p>

    <h3 style="font-weight:600;font-size:36px;margin-bottom:5px;">BLUEBERRY CASHEW COBBLER</h3>
    <p style="text-align:left;">OATS OVERNIGHT BLUEBERRY COBBLER + <a style="color:black;" href="/collections/all/products/unsweetened-milked-cashews">UNSWEETENED CASHEW MILK</a></p>

</section>



  <section class="pillar" style="margin-top:100px;">
    
    <div class="unsweetened-carton-container-pp">

      <div class="unsweetened-carton-item-pp">
        <a style="color:black;text-decoration-color:black;" href="/collections/unsweetened/products/unsweetened-milked-almonds" title="Unsweetened Milked Almonds">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_almondsus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;color:black;">Unsweetened<br/> Almonds</h3>
        </a>
      </div>


      <div class="unsweetened-carton-item-pp">
        <a style="color:black;text-decoration-color:black;" href="/collections/unsweetened/products/unsweetened-milked-cashews" title="Unsweetened Milked Cashews">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_cashewus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;color:black;">Unsweetened<br/> Cashews</h3>
        </a>
      </div>

      <div class="unsweetened-carton-item-pp">
        <a style="color:black;text-decoration-color:black;" href="/collections/unsweetened/products/unsweetened-milked-hazelnuts" title="Unsweetened Milked Hazelnuts">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_hazelnutus_front_hr_e9137d9f-d703-484c-944a-1e225f1b5708_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;color:black;">Unsweetened<br/> Hazelnuts</h3>
        </a>
      </div>

      <div class="unsweetened-carton-item-pp">
        <a style="color:black;text-decoration-color:black;" href="/collections/unsweetened/products/unsweetened-milked-walnuts" title="Unsweetened Milked Walnuts">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_walnutus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;color:black;">Unsweetened<br/> Walnuts</h3>
        </a>
      </div>

      <div class="unsweetened-carton-item-pp">
        <a style="color:black;text-decoration-color:black;" href="/collections/unsweetened/products/unsweetened-milked-oats" title="Unsweetened Milked Oats">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oatsus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;color:black;text-decoration-color:black;">Unsweetened<br/> Oats</h3>
        </a>
      </div>
    </div>


    <div style="text-align:center;margin-top:50px;">
    <a class="btn" href="/collections/all" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center;background-color:black;">BUY NOW</a>
    </div>
    </section>





  </div>
</div>
