<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      <div class="section-header text-center">
        <h1 class="content">{{ page.title }}</h1>
      </div>

      <section class="content">
        <p>What do you get when you bring together the most innovative plant-milk brand and a leader in lifestyle, health and wellness? An undeniable pair. We’ve teamed up with Poosh to show you the best way to live a plant-based lifestyle. Led by celebrity founder Kourtney Kardashian, Poosh is a modern woman’s guide to healthy living to educate, motivate, create, and curate a modern lifestyle, achievable by all.</p>

        <p>Together Elmhurst and Poosh are where lifestyle meets simplicity, fostering purity, health and wellness to fit into your everyday life. We at Elmhurst believe that simpler, is always better. With as little as two ingredients, our Plant-Based Milks are the simplest on the market. While a plant-based lifestyle change isn’t always easy, we’re here to make it effortless.</p>

        <p>If you’d like to see more of Elmhurst 1925 and Poosh, shop our plant milks or even grab Kourtney’s famous Matcha Latte recipe below!</p>

        <div class="grid__item medium-up--one-whole" style="padding-right:30px;padding-bottom:100px;margin-top:30px;text-align:center">
          <h2 id="" class="">Elmhurst Unsweetened Plant Based Milks</h2>
          <a href="/pages/unsweetened-pp-qxu" title="Elmhurst Unsweetened Plant Based Milks">
            <img src="{{ 'US_LineupSQ.jpg' | file_img_url: '600x' }}" alt="Elmhurst Unsweetened Milks" />
          </a>



          <div style="text-align:center">
            <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" title="Buy Elmhurst Unsweetened Milked Almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;margin-top:20px;text-align: center;background-color:black;width:400px;">Buy Unsweetened Almond</a>
          </div>
          <div style="text-align:center">
            <a class="btn" href="/collections/unsweetened/products/unsweetened-milked-oats" title="Buy Elmhurst Unsweetened Milked Oats" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;margin-top:20px;text-align: center;background-color:black;width:400px;">Buy Unsweetened Oat</a>
          </div>

          
        </div>

        <div class="grid__item medium-up--one-whole" style="padding-right:30px;padding-bottom:100px;text-align:center">
          <h2 id="" class="">POOSH | Your Stay Home Self-Care Kit</h2>
          <a href="https://poosh.com/your-stay-home-self-care-kit/" title="Stay Home Self Care Kit">
            <img src="{{ 'POOSH_SelfCareKit.jpg' | file_img_url: '600x' }}" alt="Stay Home Self Care Kit" />
          </a>
          <div style="text-align:center">
            <a class="btn" href="https://poosh.com/your-stay-home-self-care-kit/" title="Poosh Stay Home Self Care Kit" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;margin-top:20px;text-align: center;background-color:black;">SEE MORE</a>
          </div>
        </div>

        <div class="grid__item medium-up--one-whole" style="padding-right:30px;padding-bottom:100px;text-align:center">
          <h2 id="" class="">POOSH | How To Choose Your Plant Based Milk + 5 Easy Recipes</h2>
          <a href="https://poosh.com/how-to-choose-your-plant-based-milk/" title="How to choose your plant based milk">
            <img src="{{ 'POOSH_ChoosePlantMilk.jpg' | file_img_url: '600x' }}" alt="Choosing you plant based milk"/>
          </a>
          <div style="text-align:center">
            <a class="btn" href="https://poosh.com/how-to-choose-your-plant-based-milk/" title="Learn more on how to choose your plant based milk" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;margin-top:20px;text-align: center;background-color:black;">LEARN MORE</a>
          </div>
        </div>

        <div class="grid__item medium-up--one-whole" style="padding-right:30px;padding-bottom:100px;text-align:center">
          <h2 id="" class="">POOSH | Make Kourt’s Matcha Latte Recipe with Elmhurst</h2>
          <a href="https://poosh.com/kourtney-kardashian-matcha-latte-recipe/" title="Make Kourt’s Matcha Latte Recipe with Elmhurst">
            <img src="{{ 'POOSH_MatchaLatte.jpg' | file_img_url: '600x' }}" alt="Matcha Latte"/>
          </a>
          <div style="text-align:center">
            <a class="btn" href="https://poosh.com/kourtney-kardashian-matcha-latte-recipe/" title="Get Kourt’s Matcha Latte Recipe" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;margin-top:20px;text-align: center;background-color:black;">GET THE RECIPE</a>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>
