<img src='https://beacon.krxd.net/event.gif?event_id=NNo8A5iQ&event_type=pageview' width=0 height=0 />

<div class="text-center" style="margin-top:-55px;margin-bottom:30px;">
  <h1>
  </h1>

  <div id="sprouts-good_fats">
    <a class="sprouts-header small--hide" href="/collections/hemp-creamers" title="Hemp Creamers">
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Vanilla Hemp Creamer Header"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Desktop2.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Golden Milk Hemp Creamer Header"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Desktop3.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Hazelnut Hemp Creamer Header"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Desktop4.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Original Hemp Creamer Header"></div>
    </a>

    <a class="sprouts-header medium-up--hide" href="/collections/hemp-creamers" title="Hemp Creamers">
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Vanilla Hemp Creamer Header Mobile"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Mobile2.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Golden Milk Hemp Creamer Header Mobile"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Mobile3.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Hazelnut Hemp Creamer Header Mobile"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_GrindAltering_Mobile4.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Original Hemp Creamer Header Mobile"></div>
    </a>

  </div>


  <div id="sprouts-zero_lies">
    <a class="sprouts-header small--hide" href="/collections/unsweetened" title="Unsweetened Milks">
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Desktop_v2.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Desktop_v3.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Desktop_v4.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Desktop_v5.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
    </a>

    <a class="sprouts-header medium-up--hide" href="/collections/unsweetened" title="Unsweetened Milks">
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Mobile_v2.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Mobile_v3.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Mobile_v4.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
      <div><img src="{{ 'SPROUTS_Hemp_crm_Header_ZeroLiesPerServing_Mobile_v5.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;"></div>
    </a>
  </div>



</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <p class="pillar__header-text" id="sprouts-good_fats--text" style="color:black;font-weight:600;text-align:center;">Full of good fats - not ingredients. While other non-dairy creamers are "creamy" thanks to gums or added vegetable oils, ours is made with real hemp cream. So when we say hemp creamer, we mean it.</p>

    <p class="pillar__header-text" id="sprouts-zero_lies--text" style="color:black;font-weight:600;text-align:center;display:none;">Zero dairy. Zero lies. Truth is, most other plant-based milks have more ingredients than they do substance. Not us. We like to keep things simple, like almond milk made with only water and almonds. Simpler is better.</p>


    <section class="content">
      <h2 class="pillar text-center">Ready to taste the difference?</h2>

      <div class="sprouts-button-container">
          <a href="#shoplocal" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Visit Local Store</a>
          <a href="#shoponline" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Shop Online</a>
          <a href="#notsure" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Not Sure Yet</a>
      </div>

      <h2 id="shoplocal" class="pillar text-center">Visit local store</h2>


    <p class="text-center" style="padding-left:0px;">
      <a href="https://ibotta.com/rebates?q=Elmhurst%201925" title="Ibotta Coupon" target="_blank">
        <img src="{{ 'Sprouts_CTA_VisitLocalStore_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="small--hide lazyload" style="width:100%">
        <img src="{{ 'Sprouts_CTA_VisitLocalStore_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="medium-up--hide lazyload">
      </a>
    </p>

    <div style="margin-bottom:100px;">
    <script src="//destinilocators.com/elmhurstmilked/site/install/" type="text/javascript" xml="space"></script>
    </div>


    <h2 id="shoponline" class="pillar text-center">Shop Online</h2>

      <p class="text-center" style="padding-left:0px">
      <a href="/discount/FREESHIP?redirect=/collections/all/" title="Free Shipping Promo">
        <img src="{{ 'Sprouts_CTA_ShopOnline_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="small--hide lazyload" style="width:100%">
        <img src="{{ 'Sprouts_CTA_ShopOnline_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="medium-up--hide lazyload">
      </a>
      </p>

    </section>

    <section class="pillar">
    
    <div class="sprouts-carton-container">

      <div class="sprouts-carton-hemp">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_vanl_16oz_carton_R1_Front_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Vanilla</h3>
      </div>


      <div class="sprouts-carton-hemp">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_gold_16oz_carton_R1_Front_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Golden Milk</h3>
      </div>

      <div class="sprouts-carton-hemp">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_hazelnut_16oz_carton_R1_Front_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Hazelnut</h3>
      </div>

      <div class="sprouts-carton-hemp">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_creamer_original_front_hr_79fd10cb-0a12-45ca-a323-4d0edc910aed_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Original</h3>
      </div>
    </div>


      <div class="sprouts-button-container">
          <a href="/collections/hemp-creamers" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Shop Now</a>
      </div>
    </section>


    <section class="pillar" style="display:none;">
    
    <div class="sprouts-carton-container">

      <div class="sprouts-carton-plant">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_almondsus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Almond</h3>
      </div>


      <div class="sprouts-carton-plant">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_cashewus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Cashew</h3>
      </div>

      <div class="sprouts-carton-plant">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_hazelnutus_front_hr_e9137d9f-d703-484c-944a-1e225f1b5708_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Hazelnut</h3>
      </div>

      <div class="sprouts-carton-plant">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oatsus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Oat</h3>
      </div>

      <div class="sprouts-carton-plant">
        <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_walnutus_front_hr_540x.jpg">
        <h3 class="content text-center" style="font-size:22px;font-weight:600;margin-top:-15px;">Walnut</h3>
      </div>
    </div>


      <div class="sprouts-button-container">
          <a href="/collections/unsweetened" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Shop Now</a>
      </div>
    </section>



    <section class="content">
      <h2 id="notsure" class="pillar text-center">Not Sure Yet?</h2>

      <p class="text-center" style="padding-left:0px">
        <img src="{{ 'Sprouts_CTA_NotSure_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="small--hide lazyload" style="width:100%">
        <img src="{{ 'Sprouts_CTA_NotSure_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="medium-up--hide lazyload">
      </p>


      <div id="sprouts-toggle" class="sprouts-button-container" style="margin-bottom:20px;display:none;">
          <a href="#0" alt="" id="sprouts-button1" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">About Plant Milks</a>
          <a href="#0" alt="" id="sprouts-button2" class="btn btn--secondary btn--small text-center sprouts-button sprouts-notactive" aria-label="">About Hemp Milk</a>
      </div>

      <div id="plantmilkcontent" style="display:none;">
        <secton class="content">
          <p class="content" style="margin-bottom:50px">Elmhurst original and unsweetened nut and grain milks are built upon the same simpler, better platform: more source nutrition (up to 4x the nuts) with a clean label, free of needless additives like gums and oils. The unsweetened line is just a little simpler, bringing 5-6 ingredients down to 2-3. Added sugars, natural flavors, and (with the exception of oat) salt are left out to give you the most basic product possible. Like the original varieties, Elmhurst's unsweetened milks have a variety of functions not limited to drinking.</p>
          <h2 class="content-small">WHICH UNSWEETENED PLANT MILK IS FOR YOU?</h2>


          <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px;text-align:left;">
            <thead>
          <tr>
            <th scope="col" class="" style="border-right:0;width:200px;"></th>
            <th scope="col">Unsweetened<br/>Almond</th>
            <th scope="col">Unsweetened<br/>Cashew</th>
            <th scope="col">Unsweetened<br/>Oat</th>
            <th scope="col">Unsweetened<br/>Walnut</th>
            <th scope="col">Unsweetened<br/>Hazelnut</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Key Benefit</th>
            <td>4x More Almonds & Protein</td>
            <td>Barista Approved</td>
            <td>20g Whole Grain</td>
            <td>Excellent Source Omega-3</td>
            <td>2x More Hazelnuts</td>
          </tr>
          <tr>
            <th>Protein*</th>
            <td>5g</td>
            <td>4g</td>
            <td>4g</td>
            <td>3g</td>
            <td>2g</td>
          </tr>
          <tr>
            <th>Calories*</th>
            <td>130</td>
            <td>130</td>
            <td>80</td>
            <td>120</td>
            <td>90</td>
          </tr>
          <tr>
            <th>Total Fat*</th>
            <td>11g</td>
            <td>10g</td>
            <td>1.5g</td>
            <td>11g</td>
            <td>9g</td>
          </tr>
          <tr>
            <th>Carbs*</th>
            <td>3g</td>
            <td>7g</td>
            <td>14g</td>
            <td>1g</td>
            <td>1g</td>
          </tr>
          <tr>
            <th>Sugar*</th>
            <td>1g</td>
            <td>1g</td>
            <td>1g</td>
            <td>0g</td>
            <td>1g</td>
          </tr>
          <tr>
            <th>Added Sugar*</th>
            <td>0g</td>
            <td>0g</td>
            <td>0g</td>
            <td>0g</td>
            <td>0g</td>
          </tr>
          <tr>
            <th>Sodium*</th>
            <td>5mg</td>
            <td>10mg</td>
            <td>120mg</td>
            <td>5mg</td>
            <td>5mg</td>
          </tr>
          <tr>
            <th>Keto-Friendly</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td></td>
            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Paleo Friendly</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td></td>
            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Gluten-Free</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Whole30</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td></td>
            <td>&#10003;</td>
            <td>&#10003;</td>
          </tr>
          <tr>
            <th>Dairy Replacement</th>
            <td>Whole Milk</td>
            <td>Whole Milk</td>
            <td>2% Milk</td>
            <td>2% Milk</td>
            <td>2% Milk</td>
          </tr>
          <tr>
            <th>Ingredients</th>
            <td>Filtered Water, Almonds</td>
            <td>Filtered Water, Cashews</td>
            <td>Filtered Water, Whole Grain Oats, Salt</td>
            <td>Filtered Water, Walnuts</td>
            <td>Filtered Water, Hazelnuts</td>
          </tr>
          <tr>
            <th>Best Used In</th>
            <td>Smoothies, Cereal, Soups &amp; Sauces</td>
            <td>Soups &amp; Sauces, Baking, Lattes, Hot & Iced Coffee</td>
            <td>Smoothies, Cereal, Overnight Oats</td>
            <td>Smoothies, Cereal, Iced Coffee</td>
            <td>Smoothies, Cereal, Iced Coffee</td>
          </tr>
          <tr>
            <th class="no-bottom-border"></th>
            <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-almonds" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-cashews" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-oats" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-walnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/unsweetened/products/unsweetened-milked-hazelnuts" style="margin-top:10px;margin-bottom:15px;color:white;text-decoration: none;font-weight:600;font-size:12px;padding-left:20px;padding-right:20px;text-align: center">Shop Now</a></td>
          </tr>


            </tbody>
        </table>
      </div>
        </secton>
      </div>

      <div id="hempmilkcontent">
        <secton class="content">
          <p class="content">In this legal era, hemp is becoming more common – yet it remains something of a secret. Turns out, the only things they’ve been hiding all these years are benefits. Lots of them, from emissions to inflammation!</p>
          <p class="text-center" style="padding-left:0px">
            <img src="{{ 'BenefitsOfHemp_Infographic_Temporary_Desktop.jpg' | file_img_url: 'master' }}" alt="" class="small--hide lazyload" style="width:100%">
            <img src="{{ 'BenefitsOfHemp_Infographic_Temporary_Mobile.jpg' | file_img_url: 'master' }}" alt="" class="medium-up--hide lazyload">
          </p>
        </secton>
      </div>

    </section>

    <section class="content" style="margin-top:130px">
      <h2 id="notsure" class="pillar text-center">Ready to try?</h2>
      <div class="sprouts-button-container">
          <a href="#shoplocal" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Visit Local Store</a>
          <a href="#shoponline" alt="" class="btn btn--secondary btn--small text-center sprouts-button" aria-label="">Shop Online</a>
      </div>
    </section>



 

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.sprouts-header').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 3000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });
    
    $('#sprouts-zero_lies').hide();
  });
</script>



<script>
  $("#sprouts-button1").click(function(){
  $("#sprouts-button2").addClass("sprouts-notactive");
  $("#sprouts-button1").removeClass("sprouts-notactive");
  $("#hempmilkcontent").hide();
  $("#plantmilkcontent").show();
    return false;
});

  $("#sprouts-button2").click(function(){
  $("#sprouts-button1").addClass("sprouts-notactive");
  $("#sprouts-button2").removeClass("sprouts-notactive");
  $("#plantmilkcontent").hide();
  $("#hempmilkcontent").show();
    return false;
});

</script>
