<div class="">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1 class="content">{{ page.title }}</h1>
      </div>

      <div class="page-width page-content">


        <div class="text-center" style="margin-top:30px;margin-bottom:30px;">
            <img src="{{ '2020_08_SubscriptionFAQ_Header_Desktop.jpg' | file_img_url: 'master' }}" alt="Elmhurst Subscribe and Save Desktop" class="small--hide lazyload no-print" style="width:100%;">
            <img src="{{ '2020_08_SubscriptionFAQ_Header_Mobile.jpg' | file_img_url: 'master' }}" alt="Elmhurst Subscribe and Save Mobile" class="medium-up--hide lazyload" style="width:100%;">
        </div>

        
        <div class="sub-flex-row-container">
            <div class="sub-flex-row-item">
                <h2><span class="sub-main-header">Find your</span><br/><span class="sub-sub-header"> favorite product</span></h2>
                <p>We are currently able to offer 6 packs (or multiples of 6) of our Plant Milks and Creamers and 12 packs of our Single Serve Oat Milks or Lattes as a part of our subscription program and plan to have more option available soon! If you'd like to add multiple products to your order, simply select the subscribe and save option for the different varieties of your choice and checkout as you normally would.</p>
            </div>

            <div class="sub-flex-row-item">
                <h2><span class="sub-main-header">Log-in &amp; click</span><br/><span class="sub-sub-header"> 'Subscribe and save'</span></h2>
                <p>First log-in to your Elmhurst account located at the top right of your web browser. This will allow you to see the 'subscribe and save' button when browsing your favorite products.</p>
            </div>

            <div class="sub-flex-row-item">
                <h2><span class="sub-main-header">Get 10% off and</span><br/><span class="sub-sub-header"> receive every 30 days</span></h2>
                <p>When signing up for a subscription plan with Elmhurst, by default your order will automatically ship every 30 days. When placing your initial subscription order, you can apply any promo codes as you normally would during checkout. Any other automatic specials available at the time will be applied as well if your order is eligible. However, these discounts will only be applied to your <b>first</b> order.</p>
            </div>

        </div>



      	<section class="content accordion">
      		<h3 class="faq">HOW DOES THE SUBSCRIPTION PROGRAM WORK?</h3>
            <p>For certain products and pack sizes you’ll see a ‘Subscribe and Save’ option when adding them to your cart. If you choose to opt-in, after your initial order your selection(s) will be automatically scheduled for delivery every 30 days unless you choose to adjust that frequency in your account settings.</p>

            <h3 class="faq">HOW DO I ADJUST THE FREQUENCY OF MY SUBSCRIPTION DELIVERIES?</h3>
            <p>When signing up for a subscription plan with Elmhurst, by default your order will automatically ship every 30 days. If you’d like to update this frequency or change your ship date, you can do so in your account settings.</p>

            <p>To make this update to your subscription please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can manually update the charge date of your subscription(s)</li>
            </ul>

            <p>As a reminder the majority of our products are good for <b>up to 6 months</b> from the date they are made, but the time remaining to use them will vary depending on when your order is received so please keep this in mind when selecting quantities and frequencies. </p>

            <h3 class="faq">CAN I SKIP A MONTH? WHEN DO I HAVE TO LET YOU KNOW BY?</h3>
            <p>Yes, you can skip your delivery when needed. There’s no fee to skip or pause it, just make sure to do so at least 48 hours prior to your ship date or you'll be billed for that month's order.</p>

            <p>To update your subscription ship/billing date please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can manually update the charge date of your subscription(s)</li>
            </ul>

            <h3 class="faq">CAN I UN-SKIP A MONTH?</h3>
            <p>Once a month has been marked as skipped, it unfortunately cannot be un-skipped. However, you can adjust the delivery date for your next order to arrive earlier if needed.</p>

            <h3 class="faq">WHY ARE ONLY CERTAIN OPTIONS AVAILABLE FOR SUBSCRIPTION?</h3>
            <p>We are currently able to offer 6 packs of our Plant Milks + Creamers and 12 packs of our single-serve Oats Milks + Lattes as a part of our subscription program! If you'd like to add multiple products to your order, simply select the Subscribe and Save option for the different varieties of your choice and checkout as you normally would.</p>

            <div class="text-center" style="margin-top:30px;margin-bottom:30px;">
            <img src="{{ 'DESKTOP_LINEUP.jpg' | file_img_url: 'master' }}" alt="Elmhurst Subscribe and Save Lineup Desktop" class="lazyload" style="width:100%;">
            </div>



            <h3 class="faq">CAN I CHANGE THE PRODUCTS IN MY SUBSCRIPTION?</h3>
            <p>Yes, just reach out! At this time, we’re still working on making the option available directly through your account settings, but if you reach out to us we’re more than happy to apply those product changes or additions for you. Simply send an email with the update you’d like to make to <a href="mailto:cs@elmhurst1925.com">cs@elmhurst1925.com</a> or submit your request using the <a href="/pages/contact-us">form on our Contact Page</A>.</p>

            <h3 class="faq">WHEN WILL I BE CHARGED? / WILL YOU NOTIFY ME?</h3>
            <p>Once you’ve placed your initial order through our website, it will follow a monthly billing cycle unless you choose to adjust the frequency of your order. 3 days prior to your billing date you will receive an email reminder. Once your order goes out you will also receive a confirmation with the tracking information for your order.</p>
            <p>If for any reason you need to make adjustments to your order, including changing your billing/ship date you can do so by accessing your account settings a minimum of 24 hours prior to your scheduled ship date.</p>

            <h3 class="faq">HOW DO I CHANGE/UPDATE THE PAYMENT METHOD FOR MY ORDER?</h3>
            <p>If you would like to update or change your payment method for your subscription order, you can do so directly in your account settings. You’ll just want to make sure to make any adjustments at least 24 hours prior to your billing date for any changes to be applied for that month’s order.</p>

            <p>To make this update, please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can update your payment details for your subscription(s)</li>
            </ul>

            <h3 class="faq">HOW DO I CHANGE OR UPDATE MY SHIPPING ADDRESS?</h3>
            <p>If you have moved or need to update your shipping address for any reason, you can do so directly in your account settings. You’ll just want to make sure to make any adjustments at least 24 hours prior to your ship date for any changes to be applied for that month’s order.</p>

            <p>To make this update, please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can update your shipping details for your subscription(s)</li>
            </ul>

            <div class="text-center" style="margin-top:30px;margin-bottom:30px;">
            <img src="{{ '2020_08_Subscribe_Social_SQ.jpg' | file_img_url: 'master' }}" alt="Elmhurst Subscribe and Save 10%" class="lazyload" style="width:100%;">
            </div>


            <h3 class="faq">CAN I STILL APPLY A PROMO CODE?</h3>
            <p>When placing your initial subscription order, you can apply any promo codes as you normally would during checkout. Any other automatic specials available at the time will be applied as well, if your order is eligible. However, these discounts will only be applied to your <b>first</b> order.</p>

            <p>For upcoming subscription deliveries, so long as your order billing date is set while the offer is still valid, you can apply promo codes in your account settings and any automatic specials will be applied to your order if applicable.</p>

            <p>To apply a promo code to your upcoming delivery, please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can apply any applicable promo codes to your upcoming subscription order(s)</li>
            </ul>

            <h3 class="faq">HOW DO I CANCEL MY SUBSCRIPTION?</h3>
            <p>If for any reason, you'd like to cancel your subscription, make sure to do so at least 24 hours prior to your ship date or you'll be billed for that month's box. Keep in mind, there is no cancellation fee to cancel your subscription.</p>

            <p>To cancel your subscription please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can pause or cancel your subscription(s)</li>
            </ul>

            <h3 class="faq">I ACCIDENTLY ORDERED A SUBSCRIPTION, I ONLY WANT THIS ONE TIME</h3>
            <p>Thank you so much for choosing Elmhurst! If for any reason, you'd like to cancel your subscription, make sure to do so at least 24 hours prior to your ship date or you'll be billed for that month's box. Keep in mind, there is no cancellation fee to pause your subscription.</p>

            <p>To cancel your subscription please follow the steps below:</p>
            <ul class="sub_faq_list">
                <li>Log in to your profile on elmhurst1925.com, you can do this by clicking the person icon on the top right of the page</li>
                <li>Once logged in, click “Manage subscriptions”</li>
                <li>From this page you can pause or cancel your subscription(s)</li>
            </ul>

            <h3 class="faq">WHY WAS THE CHARGE FOR MY ORDER THIS MONTH DIFFERENT?</h3>
            <p>Depending on any automatic specials that may be available when your order is scheduled, for example reduced shipping for orders over a certain value, you may see some variation in your total. All prices listed on our website are also subject to change.</p>

        </section>

      		
      </div>
    </div>
  </div>
</div>

<script>
var coll = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
