<div class="">
  <div class="grid">
    <div class="grid__item">
      <div class="full-feature-row feature-row feature-row-banner txt-bckgrd-img">
        <div class="txt-ovr-img">The Dairy<br>That Gave Up<br>Dairy.</div>

        <img src="{{ 'OurStory_Header_Desktop_NoText.jpg' | file_img_url: 'master' }}" alt="Born in NY, NY Made in Buffalo, NY" class="small--hide" style="width:100%;">
        <img src="{{ 'OurStory_Header_Mobile_NoText.png' | file_img_url: 'master' }}" alt="Born in NY, NY Made in Buffalo, NY" class="medium-up--hide" style="width:100%;">

      </div>

      <div class="page-width">
 <h1 class="content h1-ctr" style="padding-top: 25px";>{{ page.title }}</h1>
      	<section class="content">
      		<h2 class="content-small text-center h3">Established 1925. Founded 2017.</h2>
      		<p>In 2016, Henry Schwartz closed New York City's last dairy, Elmhurst. This wasn't easy; Elmhurst had been in his family over 90 years, since his father and uncle hand-bottled and delivered milk to Queens and Brooklyn in a truck full of ice blocks. The cows had long since gone, but a famous tradition had ended...</p>
      		<p>...Until 2017 when Elmhurst reappeared as, of all things, an innovative plant milk company. How could a committed dairyman like Henry make this shocking change?</p>
      		<p>Henry was concerned, but also intrigued by a steady decline in dairy consumption and the changing American diet. More and more people were eating healthier, adopting plant-based alternatives, and becoming mindful of environmental impact. Actually, so was he.</p>

      		<div class="grid__item one-whole" style="padding:0;display:inline-flex;flex-direction:row;flex-wrap: wrap;
      		align-items:center">
	      		<div class="grid__item medium-up--one-half" style="padding:0">
	      		<img src="{{ 'OurStory_Henry.jpg' | file_img_url: 'master' }}" style="width:100%;padding:35px"/>
	      		</div>

	      		<div class="grid__item medium-up--one-half blockquote__our-story">
                  <blockquote class="blockquote__our-story"><span class="quincyfont">Making plant milk might have seemed like a radical turn after a life in dairy – yet to me it was perfectly logical, probably even necessary.</span>
	      			<br/><span style="color:#000000;">Henry Schwartz</span>
	      		</blockquote>
	      		</div>
      		</div>
      		<div style="clear: both;"></div>
      		</section>

      		<section class="content">

      		<p>Henry could see the future of "milk" – and the possibility of evolving into a non-dairy company. But what did he know about plant milks? Then fate intervened. Around this time, Henry had a chance meeting with a famous plant food scientist, Dr. Cheryl Mitchell, who just so happened to be looking for a partner to help bring her revolutionary HydroRelease™ milling process to market. Using just water, HydroRelease separates the natural components of a grain, nut, or seed before reassembling them as a smooth, creamy beverage. The original ingredient's nutrition is maintained, and no gums or emulsifiers are needed to hold the product together.</p>

      		</section>

      	<section class="content">
      		<div class="grid__item one-whole" style="padding:0;display:inline-flex;flex-direction:row;flex-wrap: wrap;
      		align-items:center">

	      		<div class="grid__item medium-up--one-half blockquote__our-story cheryl-quote">
                  <blockquote class="blockquote__our-story"><span class="quincyfont">HydroRelease embodies simpler, better nutrition. Not only do we harness the full nutritional quality of the source ingredient. We do it naturally, without adding junk.</span>
	      		<br/><span style="color:#000000;">Cheryl Mitchell</span>
	      		</blockquote>
	      		</div>

	      		<div class="grid__item medium-up--one-half cheryl-image" style="padding:0">
	      		<img src="{{ 'OurStory_Cheryl.jpg' | file_img_url: 'master' }}" style="width:100%;padding:35px"/>
	      		</div>

      		</div>
      		<div style="clear: both;"></div>
      	</section>



		<section class="content">
      		<h2 class="content-small text-center h3">And that was it!</h2>
      		<p>Henry went all in on the plant-based revolution, partnering with Dr. Cheryl to bring her technology to market. This meant shutting down a historic dairy. But it was not the end of Elmhurst – just an exciting new chapter in a long family story. Henry preserved the iconic name along with the year it first appeared on the streets of New York. Today, Elmhurst 1925 is the fastest-growing plant-based beverage company on the market!</p>
      	</section>




      </div>
    </div>
  </div>
</div>
