<div class="text-center" style="margin-top:-55px;margin-bottom:30px;">
  <h1>
  </h1>

  <div id="latte-rtd">
    <a class="rtd-header small--hide" href="/collections/oat-latte" title="Single Serve Oat Lattes">
      <div><img src="{{ 'Desktop_Header_Matcha.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Matcha Latte Desktop Header"></div>
      <div><img src="{{ 'Desktop_Header_Cacao.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Cacao Latte Desktop Header"></div>
      <div><img src="{{ 'Desktop_Header_Golden.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Golden Milk Latte Desktop Header"></div>
      <div><img src="{{ 'Desktop_Header_Flash.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Flash Brew Latte Desktop Header"></div>
    </a>

    <a class="rtd-header medium-up--hide" href="/collections/oat-latte" title="Single Serve Oat Latte">
      <div><img src="{{ 'Mobile_Header_Matcha.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Matcha Latte Mobile Header"></div>
      <div><img src="{{ 'Mobile_Header_Cacao.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Cacao Latte Mobile Header"></div>
      <div><img src="{{ 'Mobile_Header_Golden.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Golden Milk Latte Mobile Header"></div>
      <div><img src="{{ 'Mobile_Header_Flash.jpg' | file_img_url: 'master' }}" alt="" class="lazyload no-print" style="width:100%;" alt="Flash Brew Latte Mobile Header"></div>
    </a>

  </div>

</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <section class="content">

    <h2 id="" class="content-small" style="">THE ENERGY BOOST YOU’RE CRAVING</h2>
    <p>When you can’t make it to your favorite café, these oat lattes hit the spot. With a touch more caffeine than a cup of coffee, these lattes will keep you going with 30 grams whole grain in every bottle to help sustain energy levels. What’s more, whole grain has been shown to help keep you feeling full for longer. So, whether you need an extra pick-me-up to get through the 3 o’clock slump or keep up with the lil’ ones, these lattes will make your day.</p>

    </section>

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_latte_flashbrw_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Oat Milk Latte - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Flash Brew</h4>

              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">5G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/oat-latte/products/oat-latte-flash-brew-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
    </section>
    

  <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'D6_Comparison_Modules_RTD_latte_flsbrw_elm.png' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'D6_Comparison_Modules_RTD_latte_flsbrw_them.png' | file_img_url: 'master' }}" />
    </div>

  </section>


    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_latte_matcha_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Oat Milk Latte - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Matcha</h4>

              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">4G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/oat-latte/products/oat-latte-matcha-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
    </section>
    

  <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'D6_Comparison_Modules_RTD_latte_matcha_elm2.png' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'D6_Comparison_Modules_RTD_latte_matcha_them2.png' | file_img_url: 'master' }}" />
    </div>

  </section>



<div class="text-center" style="margin-top:30px;margin-bottom:30px;">
  <a href="/collections/oat-latte"><img src="{{ 'NATIVEAD_DESKTOP.jpg' | file_img_url: 'master' }}" alt="Elmhurst RTD Latte Ad Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
  <a href="/collections/oat-latte"><img src="{{ 'NATIVEAD_MOBILE.jpg' | file_img_url: 'master' }}" alt="Elmhurst RTD Latte Ad Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
</div>

    <section class="content">

    <h2 id="" class="content-small" style="">BETTER INGREDIENTS. BETTER LATTES.</h2>
    <p>Made with fewer, better ingredients, you can feel good about giving your body good, clean fuel. While most other oat milks on the market include added oils or gums to make their lattes thick and creamy, we believe in doing better. Our lattes are blended with real hemp cream to give a nice creamy texture and – as an added bonus – is an excellent source of Omega-3 ALA†. Try for yourself and you’ll be surprised how good good ingredients taste!</p>
    <p style="font-size:15px;">†Contains 650 mg of Omega-3 ALA per bottle, which is 40% of the 1.6g recommended daily value.</p>

    </section>



<section class="pillar">
    <h2 id="" class="pillar">ALSO AVAILABLE IN:</h2>

    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_latte_flashbrw_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Oat Milk Latte - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Flash Brew</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">5G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/oat-latte/products/oat-latte-flash-brew-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>


    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_latte_matcha_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Oat Milk Latte - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Matcha</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">4G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>
              <a class="btn" href="/collections/oat-latte/products/oat-latte-matcha-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>


    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_latte_cacao_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Oat Milk Latte - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">CACAO</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">6G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>
              <a class="btn" href="/collections/oat-latte/products/oat-latte-cacao-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>



    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_RTD_latte_gldnmlk_12oz_bottle_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Oat Milk Latte - 12 OZ</h3>
              <h4 class="product-single__sub-title social_landing">GOLDEN MILK</h4>
              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">7G</span> | Protein: <span style="color:#128757">4G</span> | FIBER: <span style="color:#128757">3G</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>
              <a class="btn" href="/collections/oat-latte/products/oat-latte-golden-milk-12oz" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>

</section>




<section class="content">

  <div class="text-center" style="margin-bottom:30px;">
  <img src="{{ 'counter_matcha_golden.jpg' | file_img_url: 'master' }}" alt="Elmhurst RTD Latte Counter" class="lazyload" style="width:100%;">
</div>
  
    <h2 id="" class="content-small" style="">CAFÉ AT YOUR FINGERTIPS</h2>
    <p>Whether you want a latte to take with you or to sip from the couch, these ready-to-enjoy oat lattes couldn't be more convenient. Packed in a pantry-safe bottle, stocking up doesn't mean sacrificing fridge space. Just pop what you need in the fridge the night before or pour over ice for a perfect iced latte at home or on-the go! Or, if you're feeling fancy froth it up for a warm and cozy latte. Cheers!</p>


    <div style="text-align:center">
    <a class="btn" href="/collections/oat-latte" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>


</section>


  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.rtd-header').slick({
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 3000,
        draggable: false,
        infinite: true,
        lazyLoad: 'progressive',
        pauseOnHover: false,
        pauseOnFocus: false,
        speed: 1,
        swipe: false,
        swipeToSlide: false,
        touchMove: false,
    });
  });
</script>