<div class="page-width">
  <div class="grid">
    <div class="grid__item">


        <div class="rte ebook_landing_optin">
          

           <div class="ebook_optin_form_confirm_container">
            <div class="ebook_optin_form-img_container">
            <img src="{{ '2020_ThanksgivingRecipes_Ebook_Cover_low.jpg' | file_img_url: 'master' }}" data-src="{{ '2020_ThanksgivingRecipes_Ebook_Cover.png' | file_img_url: 'master' }}" class="lazyload">
            </div>
            <div class="ebook_optin_form-form_container">
              <div style="">
                <h2 class="ebook_optin_header">Thank You</h2>
                <p class="ebook_optin_subheader">We’re so glad to get to be a part of your Thanksgiving! Your free e-book is on its way to your inbox now, ready to share with family + friends or to save for later. It’ll be there in no time, but if you're ready to get started now just click the ‘Download’ button. Want a taste of what’s inside? How about we start with the recipe right on the cover – Classic Dairy-Free Mac + Cheese. Full recipe is down below!</p>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid__item one-whole">
              <hr class="optinconfirm">
            <section class="pillar" style="text-align:center;margin-bottom:0;">
            <h2 class="ebook_optin_sharelink">Download the e-book now</h2>
            <a id="morerecipes" target="_blank" class="btn" href="{{ 'eBook_Friendsgiving_2020.pdf' | file_url }}" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Download</a>
            </section>
            <hr class="optinconfirm">
            </div>
          </div>

          <div class="grid">
            <div class="grid__item large-up--one-half">
              <section class="pillar">
              <h2 style="color: #128757;font-weight:700;">CLASSIC DAIRY-FREE MAC + CHEESE</h2>
              <p>Finally, a dairy-free mac and cheese recipe that’s rich, creamy, and of course - delicious. Dairy-free mozzarella and cheddar cheese come together with our cashew milk to get this comfort-food classic just right.</p>
              </section>
            </div>
            <div class="grid__item large-up--one-half">
              <img src="{{ 'US_Mac_Cheese_Recipe2_1920x1080_3058ff39-099f-4594-abd6-b7efb41fcd66.jpg' | file_img_url: 'master' }}" alt="Mac and Cheese Desktop" style="max-width: 1550px;" class="small--hide one-whole mb-35 lazyload" />
              <img src="{{ 'US_Mac_Cheese_Recipe2_SQ.jpg' | file_img_url: 'master' }}" alt="Mac and Cheese Mobile" class="medium-up--hide one-whole mb-35 no-print lazyload" />
            </div>
          </div>


          <div class="blog-recipe-block one-whole mb-35">
            <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
            <h3 class="blog-recipe-block-header underline">Ingredients</h3>
            <ul>
            <li>1 cup <a href="/collections/plant-milks/products/unsweetened-milked-cashews">Elmhurst Unsweetened Milked Cashews™</a></li>
            <li>1 ½ cups Hearty Vegetable Stock</li>
            <li>3 cups Pasta, uncooked</li>
            <li>1 cup Vegan Shredded Mozzarella Cheese</li>
            <li>½ cup Vegan Shredded Cheddar Cheese</li>
            <li>1 Tbsp. Nutritional Yeast</li>
            <li>1 tsp. Granulated Garlic</li>
            <li>1 tsp. Granulated Onion</li>
            <li>1 tsp. Ground Mustard</li>
            <li>Salt + Pepper to taste</li>
            </ul>
            </div>

            <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
            <h3 class="blog-recipe-block-header underline">Preparation</h3>
            <ol>
            <li>Cook pasta al dente, according to package instructions. Usually about 6-8 minutes in boiling salted water. Drain, cool and set aside.</li>
            <li>Blend together cashew milk and vegetable stock and bring to a simmer. Slowly incorporate cheeses and whisk until smooth.</li>
            <li>Remove from heat and add in the spices and nutritional yeast. Season with salt and pepper to taste.</li>
            <li>Transfer pasta to a baking dish and fold in cheese sauce until completely coated.</li>
            <li>Top with additional cheese shreds and pop under the broiler, watching until cheese has melted and browned. Enjoy!</li>
            </ol>
            </div>
          </div>



        </div>
    </div>
  </div>
</div>
